<template lang="pug">
  .article
    .article-header
      b(v-if="$store.getters.isMobile") Статья

      .article-header-title От первых вэнов <b>до эпохи хиппи</b>

      .article-header-pic(v-if="$store.getters.isMobile")
        v-lazy-image(:src="require(`../../../assets/images/article/4.jpg`)")

      p {{'в этом году у самого популярного минивэна юбилей – Volkswagen T1 отмечает 70-летие. Первый «хиппимобиль» сошел с конвейера 8 марта 1950 года и по замыслу инженеров должен был служить для перевозки небольших гражданских грузов. До расцвета культуры хиппи оставалось почти два десятка лет, но этот автомобиль обзавелся армией поклонников еще задолго до первого Вудстока.' | typograf}}

    .container.article-box
      .flex-row
        .flex-row-item.w-70
          blockquote.blockquote {{'T1 стал первым минивэном в истории автомобилестроения и вторым гражданским автомобилем бренда Volkswagen после легендарного Beetle.' | typograf}}

          .article-pic
            v-lazy-image(:src="require(`../../../assets/images/article/5.jpg`)")

        .flex-row-item.w-30
          p.article-p
            | {{'Довольно быстро этот минивэн завоевал любовь автомобилистов, потому как сочетал в себе несколько ключевых функций, которыми не могли похвастаться другие автомобили той эпохи. Первая модификация T1 грузоподъемностью в 860 кг была оснащена 4-ступенчатой МКПП и развивала скорость до 110 км/ч. Вкупе такие характеристики позволяли' | typograf}}
            | {{'не только перевозить грузы, но и путешествовать с комфортом большому количеству человек.' | typograf}} <br>
            | {{'Volkswagen T1 обладал несколькими типами кузова, и это делало его привлекательным для самых разных покупателей. Минивэны для перевозки пассажиров, грузовики с одинарной или двойной кабиной, машины, оборудованные специально для кемпинга, спецтранспорт (скорая помощь, полиция и т.д.) – это далеко не все модификации T1.' | typograf}}

    .container.article-box-1
      .flex-row
        .flex-row-item.w-37
          b Особого внимания заслуживает Samba

          p {{'Самая полная комплектация первого минивэна Volkswagen. Samba стали выпускать в 1951 году. В США модификации Т1 негласно классифицировали по количеству окон, и у этой версии их было целых 23, включая 8 панорамных на крыше, – больше, чем у всех остальных Т1. А еще у Samba был люк, и эти минивэны всегда были двухцветные. Два цвета разделялись декоративной полоской, верхняя часть кузова, как правило, была выкрашена в белый. Приборная панель Samba была более информативной, чем у обычных Т1, а оконные рамы были хромированные. Особой популярностью Samba пользовалась в Америке.' | typograf}}

        .flex-row-item.w-62
          .article-pic-1
            v-lazy-image(:src="require(`../../../assets/images/article/4.jpg`)")

    .container.article-box-2
      h4 Volkswagen T1

      p {{'Благодаря своей вместительности, необычному дизайну и ходовым характеристикам, пришелся по вкусу хиппи, которые стремились к свободе во всем и много путешествовали. Спустя годы этот минивэн стал символом субкультуры хиппи в целом и эпохи 60-х в частности.' | typograf}}

      .article-pic-2
        v-lazy-image(:src="require(`../../../assets/images/article/2.jpg`)")

    .container.article-box-3
      h4 {{'В Европе и США Т1 выпускался 27 лет.' | typograf}}

      p {{'В 1967 году на смену ему пришел Volkswagen Т2, однако в Бразилии не спешили отказываться от производства первого минивэна – там последний T1 сошел с конвейера в 1975.' | typograf}}

      .article-pic-3
        v-lazy-image(:src="require(`../../../assets/images/article/3.jpg`)")

      .article-box-3-center
        .flex-row
          .flex-row-item.w-50
            p {{'Среди известных людей немало владельцев Volkswagen T1. Группа The Who, Дженис Джоплин, The Beatles – лишь малая часть тех, у кого были ключи от этого удивительного минивэна. Хотите что-нибудь посовременнее?  Пожалуйста! «Росомаха» Хью Джекман. У него тоже есть Volkswagen T1.' | typograf}}

          .flex-row-item.w-50
            p {{'Первый минивэн Volkswagen – настоящая легенда, первопроходец. Этот автомобиль – олицетворение послевоенной беззаботности и духа свободы. Неудивительно, что даже спустя столько лет Т1 не утрачивает свою популярность, а коллекционеры буквально охотятся за редкими продаваемыми моделями.' | typograf}}

    .container.article-box-4
      h4 Volkswagen Multivan T 6.1

      Slider(
        v-if="!$store.getters.isMobile"
        :pics="[require('@/assets/images/article/6.jpg'), require('@/assets/images/article/7.jpg'), require('@/assets/images/article/7.jpg')]")

      Slider(v-else :pics="[require('@/assets/images/article/6.jpg'), require('@/assets/images/article/7.jpg')]")

      p {{'Первый Volkswagen T1 сошел с конвейера 8 марта 1950 года, а ровно спустя 70 лет, 8 марта 2020 года, в продажу поступил новый Volkswagen Multivan 6.1. Этот автомобиль, оснащенный самыми передовыми опциями, перевернет ваши представления о минивэнах и заставит взглянуть на этот сегмент рынка совсем по-новому. Узнайте больше о новом поколении Т6.1, ведь совсем скоро оно тоже станет легендой.' | typograf}}

</template>

<script>
import Slider from './Slider.vue';

export default {
  name: 'Article',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { Slider },
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .article
    font-size: 16px
    line-height: 1.5
    margin-bottom: 100px

    +media($land, $scaling)
      font-size: size(16, $size-land)
      margin-bottom: size(100, $size-land)

    +media($port, ">=tablet")
      font-size: size(16, $size-port-tablet)
      margin-bottom: size(100, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(16, $size-port)
      margin-bottom: size(50, $size-port)

    .article-p
      margin: 66px -83px 0 0

      +media($land, $scaling)
        margin: size(66, $size-land) size(-83, $size-land) 0 0

      +media($port, ">=tablet")
        margin: size(66, $size-port-tablet) size(0, $size-port-tablet) 0 0

      +media($port, "<tablet")
        margin: size(66, $size-port) size(0, $size-port) 0 0

    .article-pic-3
      width: 479px
      height: 319px
      margin-bottom: 50px
      margin-top: 41px
      position: absolute
      top: -222px
      left: -62px

      +media($land, $scaling)
        width: size(479, $size-land)
        height: size(319, $size-land)
        margin-bottom: size(50, $size-land)
        margin-top: size(41, $size-land)
        top: size(-222, $size-land)
        left: size(-62, $size-land)

      +media($port, ">=tablet")
        position: static
        width: auto
        height: size(319, $size-port-tablet)
        margin-bottom: size(50, $size-port-tablet)
        margin-top: size(50, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        position: static
        width: auto
        height: size(562, $size-port)
        margin-bottom: size(50, $size-port)
        margin-top: size(50, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    .article-pic-2
      width: 1020px
      height: 562px
      margin-bottom: 50px
      margin-left: -61px
      margin-top: 41px

      +media($land, $scaling)
        width: size(1020, $size-land)
        height: size(562, $size-land)
        margin-bottom: size(50, $size-land)
        margin-left: size(-61, $size-land)

      +media($port, ">=tablet")
        width: auto
        height: size(562, $size-port-tablet)
        margin-bottom: size(50, $size-port-tablet)
        margin-top: size(50, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        width: auto
        height: size(562, $size-port)
        margin-bottom: size(50, $size-port)
        margin-top: size(50, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    .article-pic-1
      width: 781px
      height: 565px
      margin-bottom: 50px
      margin-left: 33px

      +media($land, $scaling)
        width: size(781, $size-land)
        height: size(565, $size-land)
        margin-bottom: size(50, $size-land)
        margin-left: size(33, $size-land)

      +media($port, ">=tablet")
        width: auto
        height: size(565, $size-port-tablet)
        margin-bottom: size(50, $size-port-tablet)
        margin-top: size(50, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        width: auto
        height: size(401, $size-port)
        margin-bottom: size(50, $size-port)
        margin-top: size(50, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    .article-pic
      width: 600px
      height: 401px
      margin-left: -150px
      margin-bottom: 50px

      +media($land, $scaling)
        width: size(600, $size-land)
        height: size(401, $size-land)
        margin-left: size(-150, $size-land)
        margin-bottom: size(50, $size-land)

      +media($port, ">=tablet")
        width: size(600, $size-port-tablet)
        height: size(401, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-bottom: size(50, $size-port-tablet)

      +media($port, "<tablet")
        width: size(600, $size-port)
        height: size(401, $size-port)
        margin-left: size(-30, $size-port)
        margin-bottom: size(50, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    .article-box-4
      max-width: 903px
      margin-bottom: 11px

      +media($land, $scaling)
        max-width: size(903, $size-land)

      +media($port, ">=tablet")
        max-width: size(903, $size-port-tablet)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

      +media($port, "<tablet")
        max-width: none

        .flex-row
          display: block

          .flex-row-item
            width: 100%

      p
        margin: 8px 0

      h4
        font-family: $family-alt
        font-weight: bold
        line-height: 1.13
        margin: 0 0 12px
        font-size: 48px

        +media($land, $scaling)
          margin-bottom: size(48, $size-land)
          font-size: size(32, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(48, $size-port-tablet)
          font-size: size(32, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(48, $size-port)
          font-size: size(32, $size-port)

    .article-box-3
      position: relative
      max-width: 1071px
      margin-bottom: 66px
      padding-left: 474px

      +media($land, $scaling)
        max-width: size(1071, $size-land)
        margin-bottom: size(66, $size-land)
        padding-left: size(474, $size-land)

      +media($port, ">=tablet")
        max-width: size(1071, $size-port-tablet)
        margin-bottom: size(66, $size-port-tablet)
        padding-left: size(30, $size-port-tablet)
        padding-right: size(30, $size-port-tablet)

      +media($port, "<tablet")
        max-width: none
        margin-bottom: size(66, $size-port)
        padding-left: size(30, $size-port)
        padding-right: size(30, $size-port)

      .article-box-3-center
        margin-left: -359px
        margin-top: 41px

        +media($land, $scaling)
          margin-left: size(-359, $size-land)
          margin-top: size(41, $size-land)

        +media($port, ">=tablet")
          margin-left: 0
          margin-top: size(41, $size-port-tablet)

        +media($port, "<tablet")
          margin-left: 0
          margin-top: size(41, $size-port)

          .flex-row
            display: block

            .flex-row-item
              width: 100%

      h4
        font-family: $family-alt
        font-weight: 300
        line-height: 1.13
        margin: 0 0 29px
        font-size: 32px

        +media($land, $scaling)
          margin-bottom: size(29, $size-land)
          font-size: size(32, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(29, $size-port-tablet)
          font-size: size(32, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(29, $size-port)
          font-size: size(32, $size-port)

      p
        margin: 8px 0

    .article-box-2
      max-width: 903px
      padding-left: 212px
      padding-right: 0
      margin-bottom: 66px

      +media($land, $scaling)
        max-width: size(903, $size-land)
        padding-left: size(212, $size-land)
        margin-bottom: size(66, $size-land)

      +media($port, ">=tablet")
        max-width: size(903, $size-port-tablet)
        padding-left: size(30, $size-port-tablet)
        padding-right: size(30, $size-port-tablet)
        margin-bottom: size(66, $size-port-tablet)

      +media($port, "<tablet")
        max-width: none
        padding-left: size(30, $size-port)
        padding-right: size(30, $size-port)
        margin-bottom: size(66, $size-port)

      h4
        font-family: $family-alt
        font-weight: bold
        line-height: 1.13
        margin: 0 0 12px
        font-size: 32px

        +media($land, $scaling)
          margin-bottom: size(12, $size-land)
          font-size: size(32, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(12, $size-port-tablet)
          font-size: size(32, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(12, $size-port)
          font-size: size(32, $size-port)

      p
        margin: 8px 0

    .article-box-1
      max-width: 903px
      margin-bottom: 11px

      +media($land, $scaling)
        max-width: size(903, $size-land)

      +media($port, ">=tablet")
        max-width: size(903, $size-port-tablet)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

      +media($port, "<tablet")
        max-width: none

        .flex-row
          display: block

          .flex-row-item
            width: 100%

      p
        margin: 8px 0

      h4
        font-family: $family-alt
        font-weight: 300
        line-height: 1.13
        margin: 0 0 12px
        font-size: 32px

        +media($land, $scaling)
          margin-bottom: size(12, $size-land)
          font-size: size(32, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(12, $size-port-tablet)
          font-size: size(32, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(12, $size-port)
          font-size: size(32, $size-port)

    .article-box
      max-width: 843px
      margin-bottom: 44px

      +media($land, $scaling)
        max-width: size(843, $size-land)
        margin-bottom: size(44, $size-land)

      +media($port, ">=tablet")
        max-width: size(843, $size-port-tablet)
        margin-bottom: size(44, $size-port-tablet)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

      +media($port, "<tablet")
        max-width: none
        margin-bottom: size(44, $size-port)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

    .blockquote
      font-family: $family-alt
      font-weight: 300
      font-size: 28px
      line-height: 1.14
      margin: 0
      padding: 0
      position: relative
      margin-bottom: 57px

      +media($land, $scaling)
        font-size: size(28, $size-land)
        margin-bottom: size(57, $size-land)

      +media($port, ">=tablet")
        font-size: size(28, $size-port-tablet)
        margin-bottom: size(57, $size-port-tablet)
        margin-left: size(30, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(28, $size-port)
        margin-bottom: size(57, $size-port)
        margin-left: size(30, $size-port)

      &::before
        content: "“"
        font-family: serif
        line-height: 2
        position: absolute
        top: -54px
        left: -32px
        font-size: 70px

        +media($land, $scaling)
          top: size(-54, $size-land)
          left: size(-32, $size-land)
          font-size: size(70, $size-land)

        +media($port, ">=tablet")
          top: size(-54, $size-port-tablet)
          left: size(-32, $size-port-tablet)
          font-size: size(70, $size-port-tablet)

        +media($port, "<tablet")
          top: size(-54, $size-port)
          left: size(-32, $size-port)
          font-size: size(70, $size-port)

    .article-header
      color: $color-white
      width: 580px
      background-color: #001e50
      padding: 20px 30px
      margin: 0 auto
      position: relative
      left: 55px
      margin-bottom: 55px

      +media($land, $scaling)
        width: size(580, $size-land)
        padding: size(20, $size-land) size(30, $size-land)
        left: size(55, $size-land)
        margin-bottom: size(55, $size-land)

      +media($port, ">=tablet")
        width: size(580, $size-port-tablet)
        padding: size(20, $size-port-tablet) size(30, $size-port-tablet)
        left: size(55, $size-port-tablet)
        margin-bottom: size(55, $size-port-tablet)

      +media($port, "<tablet")
        width: auto
        padding: 0 size(30, $size-port)
        left: 0
        margin-bottom: size(55, $size-port)
        background: none
        color: $color-black

      .article-header-pic
        width: 375px
        height: 413px
        background-color: #ccc
        margin-bottom: 41px
        margin-left: -30px
        margin-right: -30px

        +media($land, $scaling)
          width: size(375, $size-land)
          height: size(413, $size-land)
          margin-bottom: size(41, $size-land)
          margin-left: size(-30, $size-land)
          margin-right: size(-30, $size-land)

        +media($port, ">=tablet")
          width: size(375, $size-port-tablet)
          height: size(413, $size-port-tablet)
          margin-bottom: size(41, $size-port-tablet)
          margin-left: size(-30, $size-port-tablet)
          margin-right: size(-30, $size-port-tablet)

        +media($port, "<tablet")
          width: size(375, $size-port)
          height: size(413, $size-port)
          margin-bottom: size(41, $size-port)
          margin-left: size(-30, $size-port)
          margin-right: size(-30, $size-port)

        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: 50% 50%

      p
        margin: 0
        margin-bottom: 17px

        +media($land, $scaling)
          margin-bottom: size(17, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(17, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(17, $size-port)

        &::first-letter
          float: left
          font-family: $family-alt
          font-size: 118px
          font-weight: 300
          line-height: 0.5
          margin-left: -4px
          margin-right: 13px
          margin-top: -8px
          margin-bottom: 0

          +media($land, $scaling)
            font-size: size(118, $size-land)
            margin-left: size(-4, $size-land)
            margin-right: size(13, $size-land)
            margin-top: size(-8, $size-land)

          +media($port, ">=tablet")
            font-size: size(118, $size-port-tablet)
            margin-left: size(-4, $size-port-tablet)
            margin-right: size(13, $size-port-tablet)
            margin-top: size(-8, $size-port-tablet)

          +media($port, "<tablet")
            font-size: size(118, $size-port)
            margin-left: size(-4, $size-port)
            margin-right: size(13, $size-port)
            margin-top: size(-8, $size-port)

      .article-header-title
        font-family: $family-alt
        font-weight: 300
        font-size: 32px
        line-height: 1.13
        margin-bottom: 42px

        +media($land, $scaling)
          font-size: size(32, $size-land)
          margin-bottom: size(42, $size-land)

        +media($port, ">=tablet")
          font-size: size(32, $size-port-tablet)
          margin-bottom: size(42, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(56, $size-port)
          margin-bottom: size(42, $size-port)
          line-height: 1.11

        b
          font-weight: bold
          display: block

</style>
