<template lang="pug">
  .article
    .article-header
      b(v-if="$store.getters.isMobile") Статья

      .article-header-title Путешествие <b>за горизонт</b>

      .article-header-pic(v-if="$store.getters.isMobile")
        v-lazy-image(:src="require(`@/assets/images/article/4/m4/m4_2@2x.png`)")

      p
        | {{'самый первый Volkswagen T1 сошел с конвейера в 1950 году и сразу же полюбился путешественникам. Впрочем, и по сей день минивэны остаются идеальным транспортом для семейных поездок. ' | typograf}}

    .container.article-box
      .flex-row
        .flex-row-item.w-70
          blockquote.blockquote {{'Идеально для семейной поездки за город или путешествия с друзьями! ' | typograf}}

          .article-pic(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/4/d4/d4_2@2x.png`)")
          .article-pic(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/4/m4/m4_3@2x.png`)")

        .flex-row-item.w-30
          p.article-p
            | {{'С каждым годом минивэны становятся все вместительнее и удобнее. В новом Volkswagen T6.1 могут с комфортом разместиться от 5 до 9 человек, и еще останется место для багажа. Многие люди скептически относятся к путешествиям на машине и не желают жертвовать комфортом. Однако широкие дверные проемы, комфортабельную высокую посадку и большое пространство для ног оценят даже самые требовательные путешественники. Идеально для семейной поездки за город или путешествия с друзьями!' | typograf}}
            br
            br
            | {{'К тому же, этот автомобиль оснащен столом, кроватью и автономной системой отопления, которая в летнее время может вентилировать салон и позволяет начать любую поездку в приятной прохладе. Опция App-Connect дает возможность подключиться смартфонам с любой операционной системой. А еще у него прекрасная проходимость и дорожный просвет до 202 мм.' | typograf}}

    .container.article-box-1
      .flex-row
        .flex-row-item.w-37
          p {{'Еще одна очень важная особенность Volkswagen T6.1 – это встроенная навигационная система Discover Pro. Конечно, сейчас у всех есть функциональные смартфоны, но, в отличие от смартфона, встроенному навигатору не нужен интернет. Куда бы вы ни отправились и где бы ни находились, Discover Pro всегда укажет верный путь – без подключения к сети, потому что все города и страны уже загружены в наше мультимедийное устройство.' | typograf}}

        .flex-row-item.w-62
          .article-pic-1(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/4/d4/d4_3@2x.png`)")
          .article-pic-1(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/4/m4/m4_4@2x.png`)")

    .container.article-box-5
      p {{'Многофункциональный трансформируемый салон со светодиодным освещением, подсветкой порогов и USB-разъемами сделает любую поездку комфортной. Пассажиры смогут быстро зарядить свои электронные устройства. Особенно это ценно, если с вами едут дети, которые в дороге обожают играть в игры и смотреть мультики на планшете.' | typograf}}

    .container.article-box-2
      .article-pic-2
        v-lazy-image(v-if="!$store.getters.isMobile" :src="require(`../../../assets/images/article/4/d4/d4_4@2x.png`)")
        v-lazy-image(v-else :src="require(`../../../assets/images/article/4/m4/m4_5@2x.png`)")

        div
          v-lazy-image.article-pic-2-1(v-if="!$store.getters.isMobile" :src="require(`../../../assets/images/article/4/d4/d4_5@2x.png`)")
          v-lazy-image.article-pic-2-1(v-else :src="require(`../../../assets/images/article/4/m4/m4_6@2x.png`)")

    .container.article-box-3
      // h4 {{'Большинство автовладельцев не задумывается о разнице между минивэнами и автомобилями класса SUV.' | typograf}}

      p {{'Кстати, безопасность маленьких любознательных пассажиров также обеспечивает функция механического детского замка: заскучав в пути и приступив к исследованию всего, за что можно подергать и на что понажимать, ребенок не сможет случайно открыть дверь. ' | typograf}}

      .article-pic-3
        v-lazy-image(v-if="!$store.getters.isMobile" :src="require(`../../../assets/images/article/4/d4/d4_5@2x.png`)")
        v-lazy-image(v-else :src="require(`../../../assets/images/article/4/m4/m4_6@2x.png`)")

      .article-box-3-center
        p {{'Вообще Volkswagen T6.1 – это отличное решение для путешествия с детьми. Во-первых, в автомобиль можно установить до 4 интегрированных детских кресел, это просто и быстро! А во-вторых, наличие трехзонного климат контроля раз и навсегда положит конец спорам о том, что кому-то из взрослых жарко, а ребенку может быть холодно. Комфортно будет всем.' | typograf}}

    .container.article-box-4
      h4 По сути, Volkswagen T6.1 – это дом на колесах.

      .article-box-4-title И крылатое выражение “Мой дом – моя крепость” как раз про него! <br>Он готов к любому приключению, вам лишь остается выбрать маршрут.

      Slider(
        v-if="!$store.getters.isMobile"
        :desc="desc"
        :pics=`[require('@/assets/images/article/4/d4/d4_6@2x.png'),
                require('@/assets/images/article/4/d4/d4_7@2x.png'),
                require('@/assets/images/article/article2/3d.png'),]`)

      Slider(
        v-else
        :desc="desc"
        :pics=`[require('@/assets/images/article/article2/1m.png'),
                require('@/assets/images/article/article2/2m.png'),
                require('@/assets/images/article/article2/3m.png'),
                require('@/assets/images/article/article2/4m.png'),
                require('@/assets/images/article/article2/5m.png'),
                require('@/assets/images/article/article2/6m.png'),
                require('@/assets/images/article/article2/7m.png'),
                require('@/assets/images/article/article2/8m.png')]`)

      p {{'Итак, новый комфортабельный Volkswagen T6.1 уже стоит возле вашего дома и готов отправиться хоть на край света. Так что собирайтесь и вперед, навстречу приключениям! И помните несколько простых правил, которые пригодятся вам в любой поездке. Соблюдайте их, и вы точно получите удовольствие от своего путешествия.' | typograf}}

      SliderArticle4(
        v-if="!$store.getters.isMobile"
        :desc="desc1"
        :pics=`[require('@/assets/images/article/4/d4/d4_8@2x.png'),
                require('@/assets/images/article/4/d4/d4_9@2x.png'),
                require('@/assets/images/article/4/d4/d4_10@2x.png'),
                require('@/assets/images/article/article2/4d.png')]`)

      SliderArticle4(
        v-else
        :desc="desc1"
        :pics=`[require('@/assets/images/article/article2/1m.png'),
                require('@/assets/images/article/article2/2m.png'),
                require('@/assets/images/article/article2/3m.png'),
                require('@/assets/images/article/article2/4m.png'),
                require('@/assets/images/article/article2/5m.png'),
                require('@/assets/images/article/article2/6m.png'),
                require('@/assets/images/article/article2/7m.png'),
                require('@/assets/images/article/article2/8m.png')]`)

      p {{'Volkswagen T6.1 и эти несложные правила помогут вам прекрасно провести время как с друзьями, так и с семьей. Отличного путешествия!' | typograf}}

</template>

<script>
import SliderArticle4 from '@/components/home/article/SliderArticle4.vue';
import Slider from './Slider.vue';

export default {
  name: 'Article',
  data() {
    return {
      ready: false,
      desc: ['Кстати, кресла второго ряда в Volkswagen T6.1 могут разворачиваться и по ходу движения, и против, а удобный трехместный диван на заднем ряду, который к тому же раскладывается в спальное место, можно отодвигать назад и вперед. Кого-то впервые не укачает, а кто-то наконец сможет выспаться. Могли ли вы раньше предположить, насколько ощутима прибавка к колесной базе всего на 40 сантиметров?',
        'Volkswagen T1 имел модификацию для немецких поездов Deutsche Bahn. Они передвигались по железнодорожным рельсам и имели такие же колеса, как у поездов!',
        'Volkswagen Camper на базе Т1 стал самым первым домом на колесах. А современный потомок легендарного дома на колесах Volkswagen California 6.1 настолько хорош, что его собирают вручную.',
        'Первый Volkswagen T2 сошел с конвейера в 1967 году, а завершился выпуск этой модели только в 2003. Согласитесь, такой стаж говорит сам за себя. Ведь даже самые востребованные и популярные автомобили далеко не всегда выпускаются на протяжении 36 лет. А в 2014 году Volkswagen создал ограниченную серию Transporter T2 Last Edition, которая насчитывала всего 600 экземпляров.',
        'В 1979 году Volkswagen выпустили сразу два поколения Transporter. Это было обусловлено невероятной популярностью модели, и в компании приняли решение выпустить два поколения для разных рынков, чтобы не терять клиентов.',
        'В 1978 году первые полноприводные Volkswagen T2 проходили испытания в алжирской части пустыни Сахары.',
        'В 90-е годы прошлого столетия Volkswagen Multivan PanAmericana, созданный специально для экспериментальной поездки, попал в книгу рекордов Гиннеса благодаря тому, что всего за 15 дней, 14 часов и 6 минут добрался от самой северной точки Америки до самой южной. Что характерно, автомобиль ни разу не ломался. В 1999 году участок пути от Аляски до Огненной Земли протяженностью 22 880 км команда Volkswagen смогла преодолеть на практически серийных Multivan Syncro TDI, которые были укомплектованы двигателем мощностью 102 л.с. (75 кВт) и отличались от серийной модели лишь увеличенным на 3 см клиренсом и двумя фарами-искателями. А Volkswagen T5 PanAmericana был автомобилем сопровождения на ралли «Париж – Дакар». Автомобиль отправился на ралли сразу с завода, с легкостью преодолел реки и пустыни и в очередной раз доказал всему миру, чего он стоит.',
        'Марка Volkswagen NFZ (nutzfahrzeuge – коммерческий транспорт) была выделена в отдельный бренд только с 1995 года, но ее история уже насчитывает 7 десятилетий!'],
      desc1: ['Заранее спланируйте ваш маршрут.\n'
      + 'Это особенно важно, если вы отправились в дорогу с детьми.\n'
      + 'И не забудьте про развлечения для юных пассажиров. ',
      'Volkswagen T1 имел модификацию для немецких поездов Deutsche Bahn. Они передвигались по железнодорожным рельсам и имели такие же колеса, как у поездов!',
      'Volkswagen Camper на базе Т1 стал самым первым домом на колесах. А современный потомок легендарного дома на колесах Volkswagen California 6.1 настолько хорош, что его собирают вручную.',
      'Первый Volkswagen T2 сошел с конвейера в 1967 году, а завершился выпуск этой модели только в 2003. Согласитесь, такой стаж говорит сам за себя. Ведь даже самые востребованные и популярные автомобили далеко не всегда выпускаются на протяжении 36 лет. А в 2014 году Volkswagen создал ограниченную серию Transporter T2 Last Edition, которая насчитывала всего 600 экземпляров.',
      'В 1979 году Volkswagen выпустили сразу два поколения Transporter. Это было обусловлено невероятной популярностью модели, и в компании приняли решение выпустить два поколения для разных рынков, чтобы не терять клиентов.',
      'В 1978 году первые полноприводные Volkswagen T2 проходили испытания в алжирской части пустыни Сахары.',
      'В 90-е годы прошлого столетия Volkswagen Multivan PanAmericana, созданный специально для экспериментальной поездки, попал в книгу рекордов Гиннеса благодаря тому, что всего за 15 дней, 14 часов и 6 минут добрался от самой северной точки Америки до самой южной. Что характерно, автомобиль ни разу не ломался. В 1999 году участок пути от Аляски до Огненной Земли протяженностью 22 880 км команда Volkswagen смогла преодолеть на практически серийных Multivan Syncro TDI, которые были укомплектованы двигателем мощностью 102 л.с. (75 кВт) и отличались от серийной модели лишь увеличенным на 3 см клиренсом и двумя фарами-искателями. А Volkswagen T5 PanAmericana был автомобилем сопровождения на ралли «Париж – Дакар». Автомобиль отправился на ралли сразу с завода, с легкостью преодолел реки и пустыни и в очередной раз доказал всему миру, чего он стоит.',
      'Марка Volkswagen NFZ (nutzfahrzeuge – коммерческий транспорт) была выделена в отдельный бренд только с 1995 года, но ее история уже насчитывает 7 десятилетий!'],
    };
  },
  methods: {},
  mounted() {
  },
  components: { Slider, SliderArticle4 },
};
</script>

<style lang="sass" scoped>
@import "../../../styles/mixins/mixins"
@import "../../../styles/vars/variables"

.article
  font-size: 16px
  line-height: 1.5
  margin-bottom: 100px

  +media($land, $scaling)
    font-size: size(16, $size-land)
    margin-bottom: size(100, $size-land)

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)
    margin-bottom: size(100, $size-port-tablet)

  +media($port, "<tablet")
    font-size: size(16, $size-port)
    margin-bottom: size(50, $size-port)

  //

  .article-pic-2-1
    display: none
    width: 156px
    height: 235px
    position: absolute
    right: 30px
    bottom: 0
    transform: translateY(50%)
    object-fit: cover
    object-position: 50% 50%

    +media($port)
      display: block

  .article-box-5
    padding-left: 388px

    +media($land, $scaling)
      padding-left: size(388, $size-land)

    +media($port, ">=tablet")
      padding-left: size(30, $size-port-tablet)

    +media($port, "<tablet")
      padding-left: size(30, $size-port)

    .article-box-5-pic
      margin-right: 40px
      width: 653px
      float: right

      +media($land, $scaling)
        width: size(653, $size-land)
        margin-right: size(40, $size-land)

      +media($port, ">=tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%

    .flex-row
      margin-top: 56px

      +media($port)
        display: block

        .flex-row-item
          width: 100%
          margin-bottom: 44px

    p
      margin: 0 0 41px

      +media($land, $scaling)
        margin-bottom: size(41, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(41, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(41, $size-port)

  .article-header-blockquote
    font-size: 28px
    line-height: 1.14
    font-weight: 300
    font-family: $family-alt
    position: relative
    max-width: 312px
    margin: -21px 64px 18px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      max-width: size(312, $size-land)
      margin: size(-21, $size-land) size(64, $size-land) size(18, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      max-width: size(312, $size-port-tablet)
      margin: size(-21, $size-port-tablet) size(64, $size-port-tablet) size(18, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(25, $size-port)
      max-width: size(312, $size-port)
      margin: size(-21, $size-port) size(30, $size-port) size(18, $size-port)

    &::before
      content: "«"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      left: -20%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

    &::after
      content: "»"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      right: -13%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

  .article-p
    margin: 66px -83px 0 0

    +media($land, $scaling)
      margin: size(66, $size-land) size(-83, $size-land) 0 0

    +media($port, ">=tablet")
      margin: size(66, $size-port-tablet) size(0, $size-port-tablet) 0 0

    +media($port, "<tablet")
      margin: size(66, $size-port) size(0, $size-port) 0 0

  .article-pic-3
    width: 479px
    height: 319px
    margin-bottom: 50px
    margin-top: 41px
    position: absolute
    top: -222px
    left: -62px

    +media($land, $scaling)
      width: size(479, $size-land)
      height: size(319, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(41, $size-land)
      top: size(-222, $size-land)
      left: size(-62, $size-land)

    +media($port, ">=tablet")
      position: static
      display: none
      width: auto
      height: size(319, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      display: none
      position: static
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-2
    position: relative
    width: 1020px
    height: 562px
    margin-bottom: 50px
    margin-left: -61px
    margin-top: 0

    +media($land, $scaling)
      width: size(1020, $size-land)
      height: size(562, $size-land)
      margin-bottom: size(50, $size-land)
      margin-left: size(-61, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(562, $size-port-tablet)
      margin-bottom: size(160, $size-port-tablet)
      margin-top: 0
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(190, $size-port)
      margin-top: 0
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    > img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-1
    width: 781px
    height: 400px
    margin-bottom: 0
    margin-left: 33px

    +media($land, $scaling)
      width: size(781, $size-land)
      height: size(400, $size-land)
      margin-bottom: 0
      margin-left: size(33, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(400, $size-port-tablet)
      margin-bottom: 0
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(400, $size-port)
      margin-bottom: 0
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic
    margin-bottom: 15px
    margin-left: -322px
    width: 843px

    +media($land, $scaling)
      width: size(843, $size-land)
      margin-left: size(-322, $size-land)
      margin-bottom: size(15, $size-land)

    +media($port, ">=tablet")
      width: size(600, $size-port-tablet)
      height: size(401, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-bottom: size(15, $size-port-tablet)

    +media($port, "<tablet")
      width: size(600, $size-port)
      height: size(401, $size-port)
      margin-left: size(-30, $size-port)
      margin-bottom: size(15, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-box-4
    max-width: 903px
    margin-bottom: 11px

    +media($land, $scaling)
      max-width: size(903, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    .article-box-4-title
      margin-bottom: 60px
      font-size: 26px
      font-weight: 300
      font-family: $family-alt
      line-height: 1.285714286

      +media($land, $scaling)
        margin-bottom: size(60, $size-land)
        font-size: size(26, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(60, $size-port-tablet)
        font-size: size(26, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(60, $size-port)
        font-size: size(26, $size-port)

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 57px 38px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(57, $size-land)
        margin-left: size(38, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(57, $size-port-tablet)
        margin-left: size(38, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(57, $size-port)
        margin-left: size(38, $size-port)
        font-size: size(32, $size-port)

  .article-box-3
    position: relative
    max-width: 1071px
    margin-bottom: 53px
    padding-left: 474px

    +media($land, $scaling)
      max-width: size(1071, $size-land)
      margin-bottom: size(53, $size-land)
      padding-left: size(474, $size-land)

    +media($port, ">=tablet")
      max-width: size(1071, $size-port-tablet)
      margin-bottom: size(53, $size-port-tablet)
      padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(53, $size-port)
      padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)

    .article-box-3-center
      margin-left: -359px
      margin-top: 86px

      +media($land, $scaling)
        margin-left: size(-359, $size-land)
        margin-top: size(86, $size-land)

      +media($port, ">=tablet")
        margin-left: 0
        margin-top: size(86, $size-port-tablet)

      +media($port, "<tablet")
        margin-left: 0
        margin-top: size(86, $size-port)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 11px
      font-size: 32px
      margin-right: -30px

      +media($land, $scaling)
        margin-bottom: size(11, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(11, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(40, $size-port)
        font-size: size(32, $size-port)

    p
      margin: 8px 0

  .article-box-2
    max-width: 903px
    padding-left: 212px
    padding-right: 0
    margin-bottom: 66px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      padding-left: size(212, $size-land)
      margin-bottom: size(66, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)
      margin-bottom: size(66, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)
      margin-bottom: size(66, $size-port)

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

    p
      margin: 8px 0

  .article-box-1
    max-width: 903px
    margin-bottom: 63px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      margin-bottom: size(63, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      margin-bottom: size(63, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(63, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

  .article-box
    max-width: 843px
    margin-bottom: 44px

    +media($land, $scaling)
      max-width: size(843, $size-land)
      margin-bottom: size(44, $size-land)

    +media($port, ">=tablet")
      max-width: size(843, $size-port-tablet)
      margin-bottom: size(44, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(44, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

  .blockquote
    font-family: $family-alt
    font-weight: 300
    font-size: 28px
    line-height: 1.14
    margin: 0
    padding: 0
    position: relative
    margin-bottom: 48px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      margin-bottom: size(48, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      margin-bottom: size(48, $size-port-tablet)
      margin-left: size(30, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(28, $size-port)
      margin-bottom: size(48, $size-port)
      margin-left: size(30, $size-port)

    &::before
      content: "“"
      font-family: serif
      line-height: 2
      position: absolute
      top: -54px
      left: -32px
      font-size: 70px

      +media($land, $scaling)
        top: size(-54, $size-land)
        left: size(-32, $size-land)
        font-size: size(70, $size-land)

      +media($port, ">=tablet")
        top: size(-54, $size-port-tablet)
        left: size(-32, $size-port-tablet)
        font-size: size(70, $size-port-tablet)

      +media($port, "<tablet")
        top: size(-54, $size-port)
        left: size(-32, $size-port)
        font-size: size(70, $size-port)

  .article-header
    color: $color-white
    width: 580px
    background-color: #001e50
    padding: 20px 30px
    margin: 0 auto
    position: relative
    left: 55px
    margin-bottom: 55px

    +media($land, $scaling)
      width: size(580, $size-land)
      padding: size(20, $size-land) size(30, $size-land)
      left: size(55, $size-land)
      margin-bottom: size(55, $size-land)

    +media($port, ">=tablet")
      width: size(580, $size-port-tablet)
      padding: size(20, $size-port-tablet) size(30, $size-port-tablet)
      left: size(55, $size-port-tablet)
      margin-bottom: size(55, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      padding: 0 size(30, $size-port)
      left: 0
      margin-bottom: size(55, $size-port)
      background: none
      color: $color-black

    .article-header-pic
      width: 375px
      height: 413px
      background-color: #ccc
      margin-bottom: 41px
      margin-left: -30px
      margin-right: -30px

      +media($land, $scaling)
        width: size(375, $size-land)
        height: size(413, $size-land)
        margin-bottom: size(41, $size-land)
        margin-left: size(-30, $size-land)
        margin-right: size(-30, $size-land)

      +media($port, ">=tablet")
        width: size(375, $size-port-tablet)
        height: size(413, $size-port-tablet)
        margin-bottom: size(41, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        width: size(375, $size-port)
        height: size(413, $size-port)
        margin-bottom: size(41, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    p
      margin: 0
      margin-bottom: 17px

      +media($land, $scaling)
        margin-bottom: size(17, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(17, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(17, $size-port)

      &::first-letter
        float: left
        font-family: $family-alt
        font-size: 118px
        font-weight: 300
        line-height: 0.5
        margin-left: -4px
        margin-right: 13px
        margin-top: -8px

        +media($land, $scaling)
          font-size: size(118, $size-land)
          margin-left: size(-4, $size-land)
          margin-right: size(13, $size-land)
          margin-top: size(-8, $size-land)

        +media($port, ">=tablet")
          font-size: size(118, $size-port-tablet)
          margin-left: size(-4, $size-port-tablet)
          margin-right: size(13, $size-port-tablet)
          margin-top: size(-8, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(118, $size-port)
          margin-left: size(-4, $size-port)
          margin-right: size(13, $size-port)
          margin-top: size(-8, $size-port)

    .article-header-title
      font-family: $family-alt
      font-weight: 300
      font-size: 32px
      line-height: 1.13
      margin-bottom: 42px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(42, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(42, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(56, $size-port)
        margin-bottom: size(42, $size-port)
        line-height: 1.11

      b
        font-weight: bold

</style>
