<template lang="pug">
  .article
    .article-header
      b(v-if="$store.getters.isMobile") Статья

      .article-header-title Для больших планов — <b>автомобиль побольше</b>

      .article-header-pic(v-if="$store.getters.isMobile")
        v-lazy-image(:src="require(`@/assets/images/article/5/m5/m5_2@2x.png`)")

      p
        | {{'за 70 лет существования минивэнов Volkswagen, мир сильно изменился. Вместе с ним изменилось и представление людей о том, каким должен быть современный бизнес. В середине  двадцатого века начался бум крупного бизнеса, активно развивалась промышленность и сервисные предприятия. Но сегодня в мире высокой мобильности, где каждый из нас находится на связи 24/7, на первое место выходит малый и средний бизнес. Все больше людей находят свое призвание в развитии собственного дела, особенно с учетом того, что все инструменты для этого уже существуют. ' | typograf}}

    .container.article-box
      .flex-row
        .flex-row-item.w-60
          blockquote.blockquote {{'Volkswagen Transporter ведет свою историю как раз с тех времен, когда мир начал меняться. ' | typograf}}

        .flex-row-item.w-40
          p.article-p.article-p-ntm
            | {{'И наш функциональный автомобиль менялся вслед за ним. Он превратился из микроавтобуса для путешественников и серферов, в надежного помощника для тех, кто решил взять свою судьбу в свои руки.' | typograf}}

      .article-pic(v-if="!$store.getters.isMobile")
        v-lazy-image(:src="require(`../../../assets/images/article/5/d5/d5_2@2x.png`)")
      .article-pic(v-else)
        v-lazy-image(:src="require(`../../../assets/images/article/5/m5/m5_3@2x.png`)")

    .container.article-box-1
      .flex-row
        .article-pic-11(v-if="!$store.getters.isMobile")
          v-lazy-image(:src="require(`../../../assets/images/article/5/d5/d5_3@2x.png`)")
        .article-pic-11(v-else)
          v-lazy-image(:src="require(`../../../assets/images/article/5/m5/m5_4@2x.png`)")

    .container.article-box-5
      .flex-row
        .flex-row-item.w-60
          .article-pic-12(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/5/d5/d5_4@2x.png`)")
          .article-pic-12(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/5/m5/m5_5@2x.png`)")

        .flex-row-item.w-40
          p {{'Самая первая модель Volkswagen T1 могла похвастаться высокой грузоподъемностью, а количество модификаций переваливало за десяток. Изначально этот функциональный и надежный автомобиль полюбили хиппи, стремившиеся к свободе и независимости. Они приобретали подержанные автомобили в любом состоянии и… благополучно путешествовали на них, потому что надежность Volkswagen T1 была поистине легендарной. В конце концов эта черта привлекла внимание другого класса людей. Тех, для кого свобода и независимость – это не только фестивали под открытым небом и ночевки в кемпингах. Тех, кто стремился построить свою жизнь самостоятельно. Речь, конечно, о бизнесменах.' | typograf}}
          p {{'И сегодня, через 70 лет после выхода первой модели Volkswagen предлагает всем, кто зависит только от себя, обратить внимание на Volkswagen Transporter.' | typograf}}

    .container.article-box-2
      .flex-row
        .flex-row-item.w-40
          p {{'Он имеет все те характеристики, которые присущи хорошему бизнесу. Он прочный и долговечный, его конструкция проверена временем и является синонимом немецкого качества. Он безопасный и надежный, его электронные системы помощи водителю сводят к минимуму неожиданности на дороге. Современная линейка двигателей может похвастаться высокой экономичностью, чтобы каждый бизнесмен видел в автомобиле надежного партнера, который тоже печется о благополучии общего дела. Гарантия 12 лет от сквозной коррозии кузова делает этот надежный автомобиль по-настоящему долговечным, а наличие баз двух разных длин обеспечивает дополнительную гибкость при выборе решения для малого и среднего бизнеса. А еще добавьте к этому гарантию 4 года (2 года без ограничения пробега + 2 дополнительных года, если пробег менее 250 000 км) и программу «Помощь на дорогах», которая действует на всей территории РФ и Европы, и ваш Transporter превратится в выгодную инвестицию.' | typograf}}
        .flex-row-item.w-60
          .article-pic-13(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/5/d5/d5_5@2x.png`)")
          .article-pic-13(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/5/m5/m5_6@2x.png`)")

    .container.article-box-3
      h4 {{'Transporter просторный и максимально функциональный.' | typograf}}

    .container.article-box-2
      .flex-row
        .flex-row-item.w-50
          p {{'К примеру, модели Kasten имеют 9,3 кубических метра полезного объема. А среди всех конкурентов нет аналогов бортовых грузовиков Pritsche. Добавьте к этому выбор вариантов колесной базы и высоты крыши, различное число мест в кабине, особые варианты грузоподъемности и вы сможете примерно представить,' | typograf}}

        .flex-row-item.w-50
          p {{'насколько разнообразным и эффективным является семейство Transporter. Стоит упомянуть, что в некоторых комплектациях за счёт использования пространства под передним пассажирским сиденьем получается перевозить длинномеры. Не каждый фургон, для управления которым нужны права категории В, может себе такое позволить. ' | typograf}}

    .container.article-box-4
      h4 Volkswagen Transporter 6.1

      p {{'имеет новое оборудование, делает его не просто удобным, а по-настоящему комфортным.  Список электронных систем помощи водителю займет отдельную страницу — от системы стабилизации при боковом ветре и ассистента маневрирования с прицепом, до системы Front Assist, которая предотвратит столкновения в пробках. А еще здесь есть парковочный автопилот, который сам зарулит в карман, который по размеру хотя бы на метр больше длины автомобиля. Есть и камера заднего вида на подъемных и распашных дверях.' | typograf}}

      Slider(
        v-if="!$store.getters.isMobile"
        :pics="[require('@/assets/images/article/5/d5/d5_6@2x.png'), require('@/assets/images/article/5/d5/d5_7@2x.png'), require('@/assets/images/article/5/d5/d5_8@2x.png'), require('@/assets/images/article/5/d5/d5_8@2x.png')]")

      Slider(v-else :pics="[require('@/assets/images/article/5/m5/m5_7@2x.png'), require('@/assets/images/article/5/m5/m5_8@2x.png'), require('@/assets/images/article/5/m5/m5_9@2x.png')]")

      p {{'При этом Transporter 6.1 задает деловой тон своим внешним видом и производит солидное впечатление.' | typograf}}
      p {{'Transporter 6.1 предлагает все необходимое, чтобы пассажиры (до 8 человек) и водитель чувствовали себя комфортно в любой поездке. Мультимедиа дисплей для управления всеми системами, встроенная навигационная система, кондиционер, функциональные сидения и эргономично организованное хранение в салоне — не каждый бизнес-центр может похвастаться такими удобствами.' | typograf}}

    .container.article-box-2.article-box-2--fdcr
      .flex-row
        .flex-row-item.w-40
          p {{'Так что, если вы ищете автомобиль для доставки товаров и перевозки грузов, если вам нужен просторный и надежный автомобиль, который станет верным помощником в делах — познакомьтесь поближе с Transporter 6.1.' | typograf}}
          p {{'Его достоинства можно перечислять довольно долго, его история говорит сама за себя, но по-настоящему его можно оценить, только оказавшись за рулем.' | typograf}}
          <br/>
          p {{'Обещаем, вы не будете разочарованы. В конце концов, автомобиль, ставший легендой, с годами становится только лучше.' | typograf}}
            <br><br><a href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/carline/+/+/+/+/+/+/+" target="_blank" class="btn">Записаться на тест-драйв</a>
        .flex-row-item.w-60
          .article-pic-13(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/5/d5/d5_9@2x.png`)")
          .article-pic-13(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/5/m5/m5_10@2x.png`)")

</template>

<script>
import Slider from './Slider.vue';

export default {
  name: 'Article',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { Slider },
};
</script>

<style lang="sass" scoped>
@import "../../../styles/mixins/mixins"
@import "../../../styles/vars/variables"

.article
  font-size: 16px
  line-height: 1.5
  margin-bottom: 100px

  +media($land, $scaling)
    font-size: size(16, $size-land)
    margin-bottom: size(100, $size-land)

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)
    margin-bottom: size(100, $size-port-tablet)

  +media($port, "<tablet")
    font-size: size(16, $size-port)
    margin-bottom: size(50, $size-port)

  //

  .article-pic-2-1
    display: none
    width: 156px
    height: 235px
    position: absolute
    right: 30px
    bottom: 0
    transform: translateY(50%)
    object-fit: cover
    object-position: 50% 50%

    +media($port)
      display: block

  .article-box-5
    max-width: 782px

    .article-box-5-pic
      margin-right: 40px
      width: 653px
      float: right

      +media($land, $scaling)
        width: size(653, $size-land)
        margin-right: size(40, $size-land)

      +media($port, ">=tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%

    .flex-row
      margin-top: 0px

      +media($port)
        display: block

      +media($port, ">=tablet")
        display: flex
        flex-direction: column
        flex-direction: column-reverse

      +media($port, "<tablet")
        display: flex
        flex-direction: column
        flex-direction: column-reverse

        .flex-row-item
          width: 100%
          margin-bottom: 44px

    p
      margin: 0 0 25px

      +media($land, $scaling)
        margin-bottom: size(25, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(25, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(25, $size-port)

  .article-header-blockquote
    font-size: 28px
    line-height: 1.14
    font-weight: 300
    font-family: $family-alt
    position: relative
    max-width: 312px
    margin: -21px 64px 18px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      max-width: size(312, $size-land)
      margin: size(-21, $size-land) size(64, $size-land) size(18, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      max-width: size(312, $size-port-tablet)
      margin: size(-21, $size-port-tablet) size(64, $size-port-tablet) size(18, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(25, $size-port)
      max-width: size(312, $size-port)
      margin: size(-21, $size-port) size(30, $size-port) size(18, $size-port)

    &::before
      content: "«"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      left: -20%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

    &::after
      content: "»"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      right: -13%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

  .article-p
    margin: 66px -83px 0 0

    +media($land, $scaling)
      margin: size(66, $size-land) size(-83, $size-land) 0 0

    +media($port, ">=tablet")
      margin: size(66, $size-port-tablet) size(0, $size-port-tablet) 0 0

    +media($port, "<tablet")
      margin: size(66, $size-port) size(0, $size-port) 0 0

  .article-p-ntm
    margin: 0

    +media($land, $scaling)
      margin: 0

    +media($port, ">=tablet")
      margin-bottom: size(40, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(40, $size-port)

  .article-pic-3
    width: 479px
    height: 319px
    margin-bottom: 50px
    margin-top: 41px
    position: absolute
    top: -222px
    left: -62px

    +media($land, $scaling)
      width: size(479, $size-land)
      height: size(319, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(41, $size-land)
      top: size(-222, $size-land)
      left: size(-62, $size-land)

    +media($port, ">=tablet")
      position: static
      display: none
      width: auto
      height: size(319, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      display: none
      position: static
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-2
    position: relative
    width: 1020px
    height: 562px
    margin-bottom: 50px
    margin-left: -61px
    margin-top: 0

    +media($land, $scaling)
      width: size(1020, $size-land)
      height: size(562, $size-land)
      margin-bottom: size(50, $size-land)
      margin-left: size(-61, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(562, $size-port-tablet)
      margin-bottom: size(160, $size-port-tablet)
      margin-top: 0
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(190, $size-port)
      margin-top: 0
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    > img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-1
    width: 781px
    height: 400px
    margin-bottom: 0
    margin-left: 33px

    +media($land, $scaling)
      width: size(781, $size-land)
      height: size(400, $size-land)
      margin-bottom: 0
      margin-left: size(33, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(400, $size-port-tablet)
      margin-bottom: 0
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(400, $size-port)
      margin-bottom: 0
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic
    width: 1020px
    margin-left: 58px
    margin-bottom: 50px
    margin-top: 30px

    +media($land, $scaling)
      width: size(1020, $size-land)
      margin-left: size(58, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(30, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-11
    width: 479px
    height: 319px
    margin-bottom: 50px
    margin-top: 41px
    top: -222px
    left: -182px
    position: absolute

    +media($land, $scaling)
      width: size(479, $size-land)
      height: size(319, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(41, $size-land)
      top: size(-222, $size-land)
      left: size(-182, $size-land)

    +media($port, ">=tablet")
      position: static
      display: none
      width: auto
      height: size(319, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      display: none
      position: static
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-12
    width: 600px
    margin-left: -208px
    margin-bottom: 50px
    margin-top: 138px

    +media($land, $scaling)
      width: size(600, $size-land)
      margin-left: size(278, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(138, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-13
    width: 782px
    margin-bottom: 50px
    margin-top: 0

    +media($land, $scaling)
      width: size(782, $size-land)
      margin-bottom: size(50, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(40, $size-port-tablet)

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(40, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-box-4
    max-width: 903px
    margin-bottom: 55px

    +media($land, $scaling)
      max-width: size(903, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0 25px 0

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 10px 0 40px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(40, $size-land)
        margin-top: size(10, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(40, $size-port-tablet)
        margin-top: size(10, $size-land)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(40, $size-port)
        margin-top: size(10, $size-land)
        font-size: size(32, $size-port)

  .article-box-3
    position: relative
    max-width: 1071px
    margin-bottom: 60px
    padding-left: 474px

    +media($land, $scaling)
      max-width: size(1071, $size-land)
      margin-bottom: size(60, $size-land)
      padding-left: size(474, $size-land)

    +media($port, ">=tablet")
      max-width: size(1071, $size-port-tablet)
      margin-bottom: size(60, $size-port-tablet)
      padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(40, $size-port)
      padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)

    .article-box-3-center
      margin-left: -359px
      margin-top: 41px

      +media($land, $scaling)
        margin-left: size(-359, $size-land)
        margin-top: size(41, $size-land)

      +media($port, ">=tablet")
        margin-left: 0
        margin-top: size(41, $size-port-tablet)

      +media($port, "<tablet")
        margin-left: 0
        margin-top: size(41, $size-port)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 11px
      font-size: 32px
      margin-right: -30px

      +media($land, $scaling)
        margin-bottom: size(11, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(11, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(20, $size-port)
        font-size: size(32, $size-port)
        width: 100%

    p
      margin: 8px 0

  .article-box-2
    max-width: 903px
    margin-bottom: 45px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      margin-bottom: size(45, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)
      margin-bottom: size(45, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      padding-right: size(30, $size-port)
      margin-bottom: size(45, $size-port)

    .flex-row
      +media($port, ">=tablet")
        display: flex
        flex-direction: column

      +media($port, "<tablet")
        display: flex
        flex-direction: column

      .flex-row-item
        +media($port, ">=tablet")
          width: 100%

        +media($port, "<tablet")
          width: 100%

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

    p
      margin: 0

  .article-box-1
    max-width: 903px
    margin-bottom: 0px
    position: relative

    +media($land, $scaling)
      max-width: size(903, $size-land)
      margin-bottom: 0

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      margin-bottom: size(54, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(54, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

  .article-box
    max-width: 843px
    margin-bottom: 44px

    +media($land, $scaling)
      max-width: size(843, $size-land)
      margin-bottom: size(44, $size-land)

    +media($port, ">=tablet")
      max-width: size(843, $size-port-tablet)
      margin-bottom: size(44, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(44, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

  .blockquote
    font-family: $family-alt
    font-weight: 300
    font-size: 28px
    line-height: 1.14
    margin: 0
    padding: 0
    position: relative
    margin-bottom: 67px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      margin-bottom: size(67, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      margin-bottom: size(67, $size-port-tablet)
      margin-left: size(30, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(28, $size-port)
      margin-bottom: size(67, $size-port)
      margin-left: size(30, $size-port)

    &::before
      content: "“"
      font-family: serif
      line-height: 2
      position: absolute
      top: -54px
      left: -32px
      font-size: 70px

      +media($land, $scaling)
        top: size(-54, $size-land)
        left: size(-32, $size-land)
        font-size: size(70, $size-land)

      +media($port, ">=tablet")
        top: size(-54, $size-port-tablet)
        left: size(-32, $size-port-tablet)
        font-size: size(70, $size-port-tablet)

      +media($port, "<tablet")
        top: size(-54, $size-port)
        left: size(-32, $size-port)
        font-size: size(70, $size-port)

  .article-header
    color: $color-white
    width: 580px
    background-color: #001e50
    padding: 20px 30px
    margin: 0 auto
    position: relative
    left: 55px
    margin-bottom: 55px

    +media($land, $scaling)
      width: size(580, $size-land)
      padding: size(20, $size-land) size(30, $size-land)
      left: size(55, $size-land)
      margin-bottom: size(55, $size-land)

    +media($port, ">=tablet")
      width: size(580, $size-port-tablet)
      padding: size(20, $size-port-tablet) size(30, $size-port-tablet)
      left: size(55, $size-port-tablet)
      margin-bottom: size(55, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      padding: 0 size(30, $size-port)
      left: 0
      margin-bottom: size(55, $size-port)
      background: none
      color: $color-black

    .article-header-pic
      width: 375px
      height: 413px
      background-color: #ccc
      margin-bottom: 41px
      margin-left: -30px
      margin-right: -30px

      +media($land, $scaling)
        width: size(375, $size-land)
        height: size(413, $size-land)
        margin-bottom: size(41, $size-land)
        margin-left: size(-30, $size-land)
        margin-right: size(-30, $size-land)

      +media($port, ">=tablet")
        width: size(375, $size-port-tablet)
        height: size(413, $size-port-tablet)
        margin-bottom: size(41, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        width: size(375, $size-port)
        height: size(413, $size-port)
        margin-bottom: size(41, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    p
      margin: 0
      margin-bottom: 17px

      +media($land, $scaling)
        margin-bottom: size(17, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(17, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(17, $size-port)

      &::first-letter
        float: left
        font-family: $family-alt
        font-size: 118px
        font-weight: 300
        line-height: 0.5
        margin-left: -4px
        margin-right: 13px
        margin-top: -8px

        +media($land, $scaling)
          font-size: size(118, $size-land)
          margin-left: size(-4, $size-land)
          margin-right: size(13, $size-land)
          margin-top: size(-8, $size-land)

        +media($port, ">=tablet")
          font-size: size(118, $size-port-tablet)
          margin-left: size(-4, $size-port-tablet)
          margin-right: size(13, $size-port-tablet)
          margin-top: size(-8, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(118, $size-port)
          margin-left: size(-4, $size-port)
          margin-right: size(13, $size-port)
          margin-top: size(-8, $size-port)

    .article-header-title
      font-family: $family-alt
      font-weight: 300
      font-size: 32px
      line-height: 1.13
      margin-bottom: 42px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(42, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(42, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(56, $size-port)
        margin-bottom: size(42, $size-port)
        line-height: 1.11

      b
        font-weight: bold

  .article-box-2--fdcr

    .article-pic-13
      +media($port, ">=tablet")
        margin-top: 0
        margin-bottom: size(40, $size-port-tablet)

      +media($port, "<tablet")
        margin-top: 0
        margin-bottom: size(40, $size-port)

    .flex-row
      +media($port, ">=tablet")
        display: flex
        flex-direction: column-reverse

      +media($port, "<tablet")
        display: flex
        flex-direction: column-reverse

</style>
