<template lang="pug">
  .article
    .article-header
      b(v-if="$store.getters.isMobile") Статья

      .article-header-title Компаньон в любом деле <b>Как фургоны стали коммерческим транспортом</b>

      .article-header-pic(v-if="$store.getters.isMobile")
        v-lazy-image(:src="require(`../../../assets/images/article/Bitmap Copy1@2x.jpg`)")

      p {{'для большинства автомобилистов фургон – это просто машина с крытым кузовом для различных перевозок. Однако мир фургонов гораздо богаче и обширнее, чем может показаться на первый взгляд.' | typograf}}

    .container.article-box
      .flex-row
        .flex-row-item.w-70
          blockquote.blockquote {{'Для начала – немного об этимологии этого слова. В русский язык «фургон» пришел из французского, и смысл в обоих случаях одинаковый.' | typograf}}

          .article-pic
            v-lazy-image(:src="require(`../../../assets/images/article/Bitmap Copy@2x.jpg`)")

        .flex-row-item.w-30
          p.article-p
            | {{'А вот на английском фургон – это van (вэн). А van, в свою очередь, это сокращение от слова «caravan» (караван). Вот такие корни у этого вполне современного транспортного средства.' | typograf}}
            br
            br
            | {{'Если провести небольшую аналогию с биологической иерархией, то получается, что фургоны – это семейство, а их разновидности – это род. На первый взгляд немного сложно, но на самом деле довольно наглядно. Разберемся, какие бывают фургоны.' | typograf}}

    .container.article-box-1
      .flex-row
        .flex-row-item.w-37
          b Микровэны.

          p {{'Это совсем маленькие фургончики, по габаритам больше похожие на суперкомпактные городские автомобили.' | typograf}}

          br

          b Компактвэны.

          p {{'Это минивэны, построенные на базе автомобилей компакт-класса. Визуально больше похожи на обычные машины, чем на фургоны. К мокпактвэнам относится, например, Volkswagen Touran.' | typograf}}

          br

          b Многоцелевые фургоны.

          p {{'Они используются и для перевозки людей, и как спецтранспорт, и в качестве передвижных телевизионных станций, и как служебные автомобили для доставки грузов (в том числе продуктов питания, почты и прочее).' | typograf}}

        .flex-row-item.w-62
          .article-pic-1
            v-lazy-image(:src="require(`../../../assets/images/article/Bitmap Copy1@2x.jpg`)")

    .container.article-box-2
      h4 Volkswagen T1

      p(v-html="'Первым фургоном в&nbsp;истории Volkswagen стал Volkswagen T1. Едва он&nbsp;сошел с&nbsp;конвейера в&nbsp;далеком 1950&nbsp;году, как сразу&nbsp;же приглянулся не&nbsp;только простым автомобилистам, но&nbsp;и&nbsp;людям, которые занимались коммерцией. Сама идея такого транспортного средства была обречена на&nbsp;успех. Габариты и&nbsp;особенности интерьера делали фургон идеальным для перевозки небольшого количества грузов. Он&nbsp;не&nbsp;так велик, как большегрузная машина, но, в&nbsp;то&nbsp;же время, в&nbsp;него помещается гораздо больше, чем в&nbsp;самый большой внедорожник.'")

      .article-pic-2
        v-lazy-image(:src="require(`../../../assets/images/article/Volkswagen-ID-Crozz-11_Dark Copy@2x.jpg`)")

    .container.article-box-3
      h4(v-html="'Что подразумевается под словосочетанием <br> &laquo;коммерческий транспорт&raquo;?'")

      p {{'Можно выделить две основные особенности, которые сразу дают понять, что перед нами не&nbsp;просто фургон или грузовик.' | typograf}}

      .article-box-3-center
        .flex-row
          .flex-row-item.w-50
            p {{'Во-первых, коммерческий транспорт, как правило, брендированный. Это значит, что на&nbsp;нем всегда есть логотип компании, которая им&nbsp;владеет и&nbsp;осуществляет на&nbsp;нем перевозки. Помните желтые автомобили с&nbsp;большими красными буквами, на&nbsp;которых по&nbsp;всему миру развозят посылки? Вот это&nbsp;&mdash; наглядный пример коммерческого транспорта.' | typograf}}

          .flex-row-item.w-50
            p {{'Вторая характерная черта коммерческого транспорта – это вместимость. Если в салоне могут с комфортом рассесться 9 человек, то это уже не просто фургон.' | typograf}}

    .container.article-5
      h5.article-5-title {{'История коммерческого транспорта Volkswagen обширна, разнообразна и богата на различные рекорды.' | typograf}}

      .article-5-title1 {{'Поделимся с вами самыми интересными фактами:' | typograf}}

      Slider(
        v-if="!$store.getters.isMobile"
        :desc="desc"
        :pics=`[require('@/assets/images/article/article2/1d.png'),
                require('@/assets/images/article/article2/2d.png'),
                require('@/assets/images/article/article2/3d.png'),
                require('@/assets/images/article/article2/4d.png'),
                require('@/assets/images/article/article2/5d.png'),
                require('@/assets/images/article/article2/6d.png'),
                require('@/assets/images/article/article2/7d.png'),
                require('@/assets/images/article/article2/8d.png'),
                require('@/assets/images/article/article2/8d.png'),]`)
      // последний слайд дублируется, это фиксит баг свайпера

      Slider(
        v-else
        :desc="desc"
        :pics=`[require('@/assets/images/article/article2/1m.png'),
                require('@/assets/images/article/article2/2m.png'),
                require('@/assets/images/article/article2/3m.png'),
                require('@/assets/images/article/article2/4m.png'),
                require('@/assets/images/article/article2/5m.png'),
                require('@/assets/images/article/article2/6m.png'),
                require('@/assets/images/article/article2/7m.png'),
                require('@/assets/images/article/article2/8m.png')]`)

      p.article-5-text1 {{'Спустя годы коммерческий транспорт кардинально изменился. Он стал быстрее, удобнее, маневреннее и, конечно, комфортнее для водителя. К примеру, новый Volkswagen Transporter сочетает в себе лучшие традиции марки Volkswagen Коммерческие автомобили и инновации.' | typograf}}

      Slider(
        v-if="!$store.getters.isMobile"
        :pics="[require('@/assets/images/article/6.jpg'), require('@/assets/images/article/7.jpg'), require('@/assets/images/article/7.jpg')]")

      Slider(v-else :pics="[require('@/assets/images/article/6.jpg'), require('@/assets/images/article/7.jpg')]")

      .article-5-title2 {{'Новый Volkswagen T6.1 – это:' | typograf}}

      ul.reset.article-5-list
        li — 12 лет гарантий от сквозной коррозии;

        li — 2 года без ограничения пробега и + еще 2 года, если автомобиль не прошел отметку в 250.000 км (спустя 2 года);

        li — базовые ассистенты;

        li — диодное освещение салона и многие другие опции и привилегии, которые делают жизнь и бизнес удобнее и проще.
</template>

<script>
import Slider from './Slider.vue';

export default {
  name: 'Article',
  data() {
    return {
      ready: false,
      desc: ['Volkswagen T1 был создан на базе легендарного Beetle («Жук»), но уже имел куда больший потенциал: у него был задний привод, заднее расположение двигателя, усиленный лонжеронами и поперечинами несущий кузов и, конечно, уникальная для своего времени грузоподъемность в 750 кг.',
        'Volkswagen T1 имел модификацию для немецких поездов Deutsche Bahn. Они передвигались по железнодорожным рельсам и имели такие же колеса, как у поездов!',
        'Volkswagen Camper на базе Т1 стал самым первым домом на колесах. А современный потомок легендарного дома на колесах Volkswagen California 6.1 настолько хорош, что его собирают вручную.',
        'Первый Volkswagen T2 сошел с конвейера в 1967 году, а завершился выпуск этой модели только в 2003. Согласитесь, такой стаж говорит сам за себя. Ведь даже самые востребованные и популярные автомобили далеко не всегда выпускаются на протяжении 36 лет. А в 2014 году Volkswagen создал ограниченную серию Transporter T2 Last Edition, которая насчитывала всего 600 экземпляров.',
        'В 1979 году Volkswagen выпустили сразу два поколения Transporter. Это было обусловлено невероятной популярностью модели, и в компании приняли решение выпустить два поколения для разных рынков, чтобы не терять клиентов.',
        'В 1978 году первые полноприводные Volkswagen T2 проходили испытания в алжирской части пустыни Сахары.',
        'В 90-е годы прошлого столетия Volkswagen Multivan PanAmericana, созданный специально для экспериментальной поездки, попал в книгу рекордов Гиннеса благодаря тому, что всего за 15 дней, 14 часов и 6 минут добрался от самой северной точки Америки до самой южной. Что характерно, автомобиль ни разу не ломался. В 1999 году участок пути от Аляски до Огненной Земли протяженностью 22 880 км команда Volkswagen смогла преодолеть на практически серийных Multivan Syncro TDI, которые были укомплектованы двигателем мощностью 102 л.с. (75 кВт) и отличались от серийной модели лишь увеличенным на 3 см клиренсом и двумя фарами-искателями. А Volkswagen T5 PanAmericana был автомобилем сопровождения на ралли «Париж – Дакар». Автомобиль отправился на ралли сразу с завода, с легкостью преодолел реки и пустыни и в очередной раз доказал всему миру, чего он стоит.',
        'Марка Volkswagen NFZ (nutzfahrzeuge – коммерческий транспорт) была выделена в отдельный бренд только с 1995 года, но ее история уже насчитывает 7 десятилетий!'],
    };
  },
  methods: {},
  mounted() {
  },
  components: { Slider },
};
</script>

<style lang="sass" scoped>
@import "../../../styles/mixins/mixins"
@import "../../../styles/vars/variables"

.article-5
  max-width: 970px

  +media($land, $scaling)
    max-width: size(970, $size-land)

  +media($port, ">=tablet")
    max-width: size(970, $size-port-tablet)

  +media($port, "<tablet")
    max-width: none

  //

  .article-5-list
    margin-left: 30px

    +media($land, $scaling)
      margin-left: size(30, $size-land)

    +media($port, ">=tablet")
      margin-left: size(30, $size-port-tablet)

    +media($port, "<tablet")
      margin-left: 0

    li
      margin-bottom: 20px

  .article-5-title2
    font-weight: bold
    font-size: 32px
    line-height: 1.12
    margin-bottom: 40px

    +media($land, $scaling)
      font-size: size(32, $size-land)
      margin-bottom: size(40, $size-land)

    +media($port, ">=tablet")
      font-size: size(32, $size-port-tablet)
      margin-bottom: size(40, $size-port-tablet)

    +media($port, "<tablet")
      font-weight: 300
      font-size: size(32, $size-port)
      margin-bottom: size(40, $size-port)

  .article-5-text1
    margin-bottom: 34px

    +media($land, $scaling)
      margin-bottom: size(34, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(34, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(45, $size-port)

  .article-5-title1
    font-weight: 300
    font-size: 28px
    line-height: 1.286
    margin-bottom: 46px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      margin-bottom: size(46, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      margin-bottom: size(46, $size-port-tablet)

    +media($port, "<tablet")
      font-weight: normal
      font-size: size(22, $size-port)
      margin-bottom: size(46, $size-port)

  .article-5-title
    font-weight: bold
    font-size: 32px
    line-height: 1
    margin: 0 0 49px 30px

    +media($land, $scaling)
      font-size: size(32, $size-land)
      margin: 0 0 size(49, $size-land) size(30, $size-land)

    +media($port, ">=tablet")
      font-size: size(32, $size-port-tablet)
      margin: 0 0 size(49, $size-port-tablet) size(30, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(27, $size-port)
      margin: 0 0 size(18, $size-port) 0
      line-height: 1.33

.article
  font-size: 16px
  line-height: 1.5
  margin-bottom: 100px

  +media($land, $scaling)
    font-size: size(16, $size-land)
    margin-bottom: size(100, $size-land)

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)
    margin-bottom: size(100, $size-port-tablet)

  +media($port, "<tablet")
    font-size: size(16, $size-port)
    margin-bottom: size(50, $size-port)

  .article-p
    margin: 66px -83px 0 0

    +media($land, $scaling)
      margin: size(66, $size-land) size(-83, $size-land) 0 0

    +media($port, ">=tablet")
      margin: size(66, $size-port-tablet) size(0, $size-port-tablet) 0 0

    +media($port, "<tablet")
      margin: size(66, $size-port) size(0, $size-port) 0 0

  .article-pic-3
    width: 479px
    height: 319px
    margin-bottom: 50px
    margin-top: 41px
    position: absolute
    top: -222px
    left: -62px

    +media($land, $scaling)
      width: size(479, $size-land)
      height: size(319, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(41, $size-land)
      top: size(-222, $size-land)
      left: size(-62, $size-land)

    +media($port, ">=tablet")
      position: static
      width: auto
      height: size(319, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      position: static
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-2
    height: 562px
    margin-bottom: 50px
    margin-top: 41px

    +media($land, $scaling)
      height: size(562, $size-land)
      margin-bottom: size(50, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(562, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-1
    width: 781px
    height: 565px
    margin-bottom: 50px
    margin-left: 33px

    +media($land, $scaling)
      width: size(781, $size-land)
      height: size(565, $size-land)
      margin-bottom: size(50, $size-land)
      margin-left: size(33, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(565, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(401, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic
    width: 600px
    height: 401px
    margin-left: -150px
    margin-bottom: 50px

    +media($land, $scaling)
      width: size(600, $size-land)
      height: size(401, $size-land)
      margin-left: size(-150, $size-land)
      margin-bottom: size(50, $size-land)

    +media($port, ">=tablet")
      width: size(600, $size-port-tablet)
      height: size(401, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(401, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)
      margin-bottom: size(50, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-box-4
    max-width: 970px
    margin-bottom: 11px

    +media($land, $scaling)
      max-width: size(970, $size-land)

    +media($port, ">=tablet")
      max-width: size(970, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 12px
      font-size: 48px

      +media($land, $scaling)
        margin-bottom: size(48, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(48, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(48, $size-port)
        font-size: size(32, $size-port)

  .article-box-3
    position: relative
    max-width: 970px
    margin-bottom: 50px
    // padding-left: 474px

    +media($land, $scaling)
      max-width: size(970, $size-land)
      margin-bottom: size(50, $size-land)
    // padding-left: size(474, $size-land)

    +media($port, ">=tablet")
      max-width: size(970, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      // padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(50, $size-port)
      // padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)

    .article-box-3-pic
      margin-left: -150px

      +media($land, $scaling)
        margin-left: size(-150, $size-land)

      +media($landTablet)
        margin-left: size(-100, $size-land)

      +media($port, ">=tablet")
        margin-left: 0

      +media($port, "<tablet")
        margin-left: 0
        margin-bottom: size(15, $size-port)

      &.-mod
        margin-left: -100px
        margin-right: 27px
        margin-top: -71px

        +media($land, $scaling)
          margin-left: size(-100, $size-land)
          margin-right: size(27, $size-land)
          margin-top: size(-71, $size-land)

        +media($port, ">=tablet")
          margin-left: 0
          margin-right: 0
          margin-top: 0

        +media($port, "<tablet")
          margin-left: 0
          margin-right: 0
          margin-top: size(30, $size-port)

    .article-box-3-center
      // margin-left: -359px
      margin-top: 19px

      +media($land, $scaling)
        // margin-left: size(-359, $size-land)
        margin-top: size(19, $size-land)

      +media($port, ">=tablet")
        margin-left: 0
        margin-top: size(19, $size-port-tablet)

      +media($port, "<tablet")
        margin-left: 0
        margin-top: size(19, $size-port)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 29px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(29, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(29, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(29, $size-port)
        font-size: size(32, $size-port)

    h5
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin-bottom: 61px
      margin-left: 30px
      margin-top: 44px
      font-size: 28px

      +media($land, $scaling)
        margin-bottom: size(61, $size-land)
        margin-top: size(44, $size-land)
        font-size: size(28, $size-land)
        margin-left: size(30, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(61, $size-port-tablet)
        font-size: size(28, $size-port-tablet)
        margin-top: size(44, $size-port-tablet)
        margin-left: size(30, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(61, $size-port)
        font-size: size(28, $size-port)
        margin-top: size(44, $size-port)
        margin-left: 0

    p
      margin: 8px 0

  .article-box-2
    max-width: 903px
    padding-left: 212px
    padding-right: 0
    margin-bottom: 66px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      padding-left: size(212, $size-land)
      margin-bottom: size(66, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)
      margin-bottom: size(66, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)
      margin-bottom: size(66, $size-port)

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

    p
      margin: 8px 0

  .article-box-1
    max-width: 903px
    margin-bottom: 11px

    +media($land, $scaling)
      max-width: size(903, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

  .article-box
    max-width: 843px
    margin-bottom: 44px

    +media($land, $scaling)
      max-width: size(843, $size-land)
      margin-bottom: size(44, $size-land)

    +media($port, ">=tablet")
      max-width: size(843, $size-port-tablet)
      margin-bottom: size(44, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(44, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

  .blockquote
    font-family: $family-alt
    font-weight: 300
    font-size: 28px
    line-height: 1.14
    margin: 0
    padding: 0
    position: relative
    margin-bottom: 57px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      margin-bottom: size(57, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      margin-bottom: size(57, $size-port-tablet)
      margin-left: size(30, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(28, $size-port)
      margin-bottom: size(57, $size-port)
      margin-left: size(30, $size-port)

    &::before
      content: "“"
      font-family: serif
      line-height: 2
      position: absolute
      top: -54px
      left: -32px
      font-size: 70px

      +media($land, $scaling)
        top: size(-54, $size-land)
        left: size(-32, $size-land)
        font-size: size(70, $size-land)

      +media($port, ">=tablet")
        top: size(-54, $size-port-tablet)
        left: size(-32, $size-port-tablet)
        font-size: size(70, $size-port-tablet)

      +media($port, "<tablet")
        top: size(-54, $size-port)
        left: size(-32, $size-port)
        font-size: size(70, $size-port)

  .article-header
    color: $color-white
    width: 580px
    background-color: #001e50
    padding: 20px 30px
    margin: 0 auto
    position: relative
    left: 55px
    margin-bottom: 55px

    +media($land, $scaling)
      width: size(580, $size-land)
      padding: size(20, $size-land) size(30, $size-land)
      left: size(55, $size-land)
      margin-bottom: size(55, $size-land)

    +media($port, ">=tablet")
      width: size(580, $size-port-tablet)
      padding: size(20, $size-port-tablet) size(30, $size-port-tablet)
      left: size(55, $size-port-tablet)
      margin-bottom: size(55, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      padding: 0 size(30, $size-port)
      left: 0
      margin-bottom: size(55, $size-port)
      background: none
      color: $color-black

    .article-header-pic
      width: 375px
      height: 413px
      background-color: #ccc
      margin-bottom: 41px
      margin-left: -30px
      margin-right: -30px

      +media($land, $scaling)
        width: size(375, $size-land)
        height: size(413, $size-land)
        margin-bottom: size(41, $size-land)
        margin-left: size(-30, $size-land)
        margin-right: size(-30, $size-land)

      +media($port, ">=tablet")
        width: size(375, $size-port-tablet)
        height: size(413, $size-port-tablet)
        margin-bottom: size(41, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        width: size(375, $size-port)
        height: size(413, $size-port)
        margin-bottom: size(41, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    p
      margin: 0
      margin-bottom: 17px

      +media($land, $scaling)
        margin-bottom: size(17, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(17, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(17, $size-port)

      &::first-letter
        float: left
        font-family: $family-alt
        font-size: 118px
        font-weight: 300
        line-height: 0.5
        margin-left: -4px
        margin-right: 13px
        margin-top: -8px
        margin-bottom: 30px

        +media($land, $scaling)
          font-size: size(118, $size-land)
          margin-left: size(-4, $size-land)
          margin-right: size(13, $size-land)
          margin-top: size(-8, $size-land)

        +media($port, ">=tablet")
          font-size: size(118, $size-port-tablet)
          margin-left: size(-4, $size-port-tablet)
          margin-right: size(13, $size-port-tablet)
          margin-top: size(-8, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(118, $size-port)
          margin-left: size(-4, $size-port)
          margin-right: size(13, $size-port)
          margin-top: size(-8, $size-port)

    .article-header-title
      font-family: $family-alt
      font-weight: 300
      font-size: 32px
      line-height: 1.13
      margin-bottom: 42px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(42, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(42, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(45, $size-port)
        margin-bottom: size(42, $size-port)
        line-height: 1.11

      b
        font-weight: bold
        display: block

</style>
