<template lang="pug">
  .article
    .article-header
      b(v-if="$store.getters.isMobile") Статья

      .article-header-title Оставайтесь <b>на связи</b>

      .article-header-pic(v-if="$store.getters.isMobile")
        v-lazy-image(:src="require(`@/assets/images/article/6/m6/m6_2@2x.png`)")

      p
        | {{'время — главный ресурс любого человека в современном мире, где решения принимаются быстро, а информация путешествует с одного конца света на другой за считанные секунды. Терять время совсем не хочется, но жизнь в мегаполисе имеет свои ограничения. Пробки, очереди, часы ожидания — всё это можно было бы назвать потерянным временем. Но только в том случае, если вы еще не знаете, как обратить такие моменты себе на пользу. ' | typograf}}

    .container.article-box
      .flex-row
        .flex-row-item.w-60
          blockquote.blockquote {{'Volkswagen Multivan 6.1 — это переговорная комната, бизнес-зал, кафе для бизнес-ланча и ваш персональный лаундж…' | typograf}}

        .flex-row-item.w-40

    .container.article-box-2
      .flex-row
        .flex-row-item.w-60
          .article-pic-13(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/6/d6/d6_2@2x.png`)")
          .article-pic-13(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/6/m6/m6_3@2x.png`)")
        .flex-row-item.w-40
          p {{'Ваш бизнес — это не офис и не счет в банке. Ваш бизнес — это вы и ваши идеи, ваши сотрудники и партнеры. И до тех пор, пока вы остаетесь с ними на связи, бизнес продолжает двигаться вперед. Даже если вы сами в этот момент стоите в пробке. При этом в бизнес-автомобиле главный пассажир тот, кто сидит сзади. Но мы уверены, что вы будете чувствовать себя так же комфортно и за рулем этого многофункционального минивэна.' | typograf}}
          br
          p {{'У бизнес-седанов есть свои преимущества, но они лишены того многогобразия и мультифункциональности, которой обладают минивэны. Volkswagen Multivan 6.1 — это переговорная комната, бизнес-зал, кафе для бизнес-ланча и ваш персональный лаундж, где вы можете работать с тем же комфортом, что и в любимом офисе. Это автомобиль премиум-класса, который по комфорту легко сравнится с салоном персонального бизнес джета.' | typograf}}

    .container.article-box-2.article-box-2--nfdc
      .flex-row
        .flex-row-item.w-40
          p {{'Здесь есть полноценный удобный стол и кресла, принимающие любое нужное вам положение. При этом столик установлен на рельсовых направляющих, а расположение кресел можно менять с помощью нажатия кнопки. Другими словами, салон своего Volkswagen Multivan вы можете менять как угодно в зависимости от текущих задач. Разъемы для зарядки электронных устройств так же под рукой, а система App Connect позволяет подключить ваш смартфон к бортовому компьютеру и пользоваться всеми приложениями и преимуществами мобильного устройства в вашем мобильном офисе. ' | typograf}}

        .flex-row-item.w-60
          .article-pic-14(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/6/d6/d6_3@2x.png`)")
          .article-pic-14(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/6/m6/m6_4@2x.png`)")

    .container.article-box-2
      p {{'В просторный салон садиться проще и удобнее, чем в седан, и здесь может разместиться небольшая рабочая группа, а не только вы и ваш партнер. Вам не помешают звуки с улицы — шумоизоляция салона Volkswagen Multivan 6.1 разработана специально для того, чтобы превратить этот автомобиль в передвижное рабочее пространство. Общайтесь с коллегами или отдыхайте — тишина вам гарантирована. А плавный ход, надежный двигатель и отзывчивое управление сделают поездку комфортной даже по не самым лучшим дорогам за городскими пределами. Трехзонный климат контроль создаст подходящую атмосферу для деловых переговоров или отдыха в дороге для всех пассажиров.' | typograf}}

    .container.article-box-3
      h4 {{'Габариты и ходовые качества Volkswagen Multivan 6.1 в прямом смысле поднимают его над типичными бизнес-седанами, среди которых не найдется ни одного, способного полностью переформатировать собственный салон под именно ваши нужды. А еще минивэн надежнее и безопаснее седана за счет своей конструкции и высокой посадки. ' | typograf}}

    .container.article-box-2
      p {{'Внешний вид Volkswagen Multivan 6.1 — эталон сдержанного делового стиля. Мы постарались сделать этот автомобиль максимально эффективным, полезным и привлекательным. Потому что ваш бизнес — это воплощение ваших стремлений. А добавить целей и успеха нужно красиво. Именно поэтому вы можете выбрать для своего Volkswagen Multivan двухцветную окраску, которая выглядит элегантно и в то же время привлекает внимание. ' | typograf}}

    .container.article-box-4
      Slider(
        v-if="!$store.getters.isMobile"
        :pics="[require('@/assets/images/article/6/d6/d6_4@2x.png'), require('@/assets/images/article/6/d6/d6_5@2x.png'), require('@/assets/images/article/6/d6/d6_6@2x.png'), require('@/assets/images/article/6/d6/d6_6@2x.png')]")

      Slider(v-else :pics="[require('@/assets/images/article/6/m6/m6_5@2x.png'), require('@/assets/images/article/6/m6/m6_6@2x.png'), require('@/assets/images/article/6/m6/m6_7@2x.png')]")

      p {{'А если вам привычнее взглянуть на цифры, чтобы оценить перспективность инвестиции, то у Volkswagen Multivan есть, чем похвастаться. Надежный двигатель мощностью от 110 до 199 л.с. обеспечит вам уверенность в любой ситуации на дороге. На все Volkswagen Multivan распространяется 12-летняя гарантия от сквозной коррозии кузова и 2 года гарантии без ограничения пробега. А если за два года вы не проехали на своем Multivan 6.1 150 000 километров за два года, то мы продлеваем гарантию еще два года. Пассажирский салон площадью 4,3 квадратных метра – это полноценная переговорная комната с удобными креслами и изменяемой конфигурацией пространства. ' | typograf}}

    .container.article-box-2.article-box-2--fdcr
      .flex-row
        .flex-row-item.w-70
          .article-pic-15(v-if="!$store.getters.isMobile")
            v-lazy-image(:src="require(`../../../assets/images/article/6/d6/d6_7@2x.png`)")
          .article-pic-15(v-else)
            v-lazy-image(:src="require(`../../../assets/images/article/6/m6/m6_8@2x.png`)")
        .flex-row-item.w-30
          h4 {{'Запишитесь на тест-драйв нового минивэна Volkswagen 6.1.' | typograf}}
          <br/>
          h4 {{'Знакомиться с теми, кто будет помогать вам вести дела, лучше лично.' | typograf}}
          br
          a.btn(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/carline/+/+/+/+/+/+/+" target="_blank") Записаться на тест-драйв

</template>

<script>
import Slider from './Slider.vue';

export default {
  name: 'Article',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { Slider },
};
</script>

<style lang="sass" scoped>
@import "../../../styles/mixins/mixins"
@import "../../../styles/vars/variables"

.article
  font-size: 16px
  line-height: 1.5
  margin-bottom: 100px

  +media($land, $scaling)
    font-size: size(16, $size-land)
    margin-bottom: size(100, $size-land)

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)
    margin-bottom: size(100, $size-port-tablet)

  +media($port, "<tablet")
    font-size: size(16, $size-port)
    margin-bottom: size(50, $size-port)

  //

  .article-pic-2-1
    display: none
    width: 156px
    height: 235px
    position: absolute
    right: 30px
    bottom: 0
    transform: translateY(50%)
    object-fit: cover
    object-position: 50% 50%

    +media($port)
      display: block

  .article-box-5
    max-width: 782px

    .article-box-5-pic
      margin-right: 40px
      width: 653px
      float: right

      +media($land, $scaling)
        width: size(653, $size-land)
        margin-right: size(40, $size-land)

      +media($port, ">=tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%

    .flex-row
      margin-top: 0px

      +media($port)
        display: block

      +media($port, ">=tablet")
        display: flex
        flex-direction: column
        flex-direction: column-reverse

      +media($port, "<tablet")
        display: flex
        flex-direction: column
        flex-direction: column-reverse

        .flex-row-item
          width: 100%
          margin-bottom: 44px

    p
      margin: 0 0 25px

      +media($land, $scaling)
        margin-bottom: size(25, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(25, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(25, $size-port)

  .article-header-blockquote
    font-size: 28px
    line-height: 1.14
    font-weight: 300
    font-family: $family-alt
    position: relative
    max-width: 312px
    margin: -21px 64px 18px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      max-width: size(312, $size-land)
      margin: size(-21, $size-land) size(64, $size-land) size(18, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      max-width: size(312, $size-port-tablet)
      margin: size(-21, $size-port-tablet) size(64, $size-port-tablet) size(18, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(25, $size-port)
      max-width: size(312, $size-port)
      margin: size(-21, $size-port) size(30, $size-port) size(18, $size-port)

    &::before
      content: "«"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      left: -20%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

    &::after
      content: "»"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      right: -13%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

  .article-p
    margin: 66px -83px 0 0

    +media($land, $scaling)
      margin: size(66, $size-land) size(-83, $size-land) 0 0

    +media($port, ">=tablet")
      margin: size(66, $size-port-tablet) size(0, $size-port-tablet) 0 0

    +media($port, "<tablet")
      margin: size(66, $size-port) size(0, $size-port) 0 0

  .article-p-ntm
    margin: 0

    +media($land, $scaling)
      margin: 0

    +media($port, ">=tablet")
      margin-bottom: size(40, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(40, $size-port)

  .article-pic-3
    width: 479px
    height: 319px
    margin-bottom: 50px
    margin-top: 41px
    position: absolute
    top: -222px
    left: -62px

    +media($land, $scaling)
      width: size(479, $size-land)
      height: size(319, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(41, $size-land)
      top: size(-222, $size-land)
      left: size(-62, $size-land)

    +media($port, ">=tablet")
      position: static
      display: none
      width: auto
      height: size(319, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      display: none
      position: static
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-2
    position: relative
    width: 1020px
    height: 562px
    margin-bottom: 50px
    margin-left: -61px
    margin-top: 0

    +media($land, $scaling)
      width: size(1020, $size-land)
      height: size(562, $size-land)
      margin-bottom: size(50, $size-land)
      margin-left: size(-61, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(562, $size-port-tablet)
      margin-bottom: size(160, $size-port-tablet)
      margin-top: 0
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(190, $size-port)
      margin-top: 0
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    > img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-1
    width: 781px
    height: 400px
    margin-bottom: 0
    margin-left: 33px

    +media($land, $scaling)
      width: size(781, $size-land)
      height: size(400, $size-land)
      margin-bottom: 0
      margin-left: size(33, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(400, $size-port-tablet)
      margin-bottom: 0
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(400, $size-port)
      margin-bottom: 0
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic
    width: 1020px
    margin-left: 58px
    margin-bottom: 50px
    margin-top: 30px

    +media($land, $scaling)
      width: size(1020, $size-land)
      margin-left: size(58, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(30, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-11
    width: 479px
    height: 319px
    margin-bottom: 50px
    margin-top: 41px
    top: -222px
    left: -182px
    position: absolute

    +media($land, $scaling)
      width: size(479, $size-land)
      height: size(319, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(41, $size-land)
      top: size(-222, $size-land)
      left: size(-182, $size-land)

    +media($port, ">=tablet")
      position: static
      display: none
      width: auto
      height: size(319, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      display: none
      position: static
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-12
    width: 600px
    margin-left: -208px
    margin-bottom: 50px
    margin-top: 138px

    +media($land, $scaling)
      width: size(600, $size-land)
      margin-left: size(278, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(138, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: 0

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-13
    width: 843px
    margin-bottom: 50px
    margin-top: 37px
    margin-left: -368px

    +media($land, $scaling)
      width: size(843, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(37, $size-land)
      margin-left: size(-368, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(37, $size-port-tablet)

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(37, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-14
    width: 782px
    margin-bottom: 30px
    margin-top: 0px
    margin-left: 50px

    +media($land, $scaling)
      width: size(782, $size-land)
      margin-bottom: size(30, $size-land)
      margin-top: size(0, $size-land)
      margin-left: size(50, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(37, $size-port-tablet)

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(37, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-15
    width: 843px
    margin-bottom: 50px
    margin-top: 0px
    margin-left: -280px

    +media($land, $scaling)
      width: size(843, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(0, $size-land)
      margin-left: size(-280, $size-land)

    +media($port, ">=tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(37, $size-port-tablet)

    +media($port, "<tablet")
      width: calc(100% + 16vmin)
      margin-left: -8vmin
      margin-bottom: 0
      margin-top: size(37, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-box-4
    max-width: 903px
    margin-bottom: 55px

    +media($land, $scaling)
      max-width: size(903, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0 25px 0

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 10px 0 40px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(40, $size-land)
        margin-top: size(10, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(40, $size-port-tablet)
        margin-top: size(10, $size-land)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(40, $size-port)
        margin-top: size(10, $size-land)
        font-size: size(32, $size-port)

  .article-box-3
    position: relative
    max-width: 903px
    margin-bottom: 60px
    padding-right: 120px
    margin-top: 40px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      margin-bottom: size(60, $size-land)
      margin-top: size(40, $size-land)
      padding-right: size(120, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      margin-bottom: size(60, $size-port-tablet)
      margin-top: size(40, $size-port-tablet)
      padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(40, $size-port)
      padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)

    .article-box-3-center
      margin-left: -359px
      margin-top: 41px

      +media($land, $scaling)
        margin-left: size(-359, $size-land)
        margin-top: size(41, $size-land)

      +media($port, ">=tablet")
        margin-left: 0
        margin-top: size(41, $size-port-tablet)

      +media($port, "<tablet")
        margin-left: 0
        margin-top: size(41, $size-port)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 11px
      font-size: 32px
      margin-right: -30px

      +media($land, $scaling)
        margin-bottom: size(11, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(11, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(20, $size-port)
        font-size: size(32, $size-port)
        width: 100%

    p
      margin: 8px 0

  .article-box-2
    max-width: 903px
    margin-bottom: 25px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      margin-bottom: size(25, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)
      margin-bottom: size(45, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      padding-right: size(30, $size-port)
      margin-bottom: size(45, $size-port)

    .flex-row
      +media($port, ">=tablet")
        display: flex
        flex-direction: column-reverse

      +media($port, "<tablet")
        display: flex
        flex-direction: column-reverse

      .flex-row-item
        +media($port, ">=tablet")
          width: 100%

        +media($port, "<tablet")
          width: 100%

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

    p
      margin: 0

  .article-box-1
    max-width: 903px
    margin-bottom: 0px
    position: relative

    +media($land, $scaling)
      max-width: size(903, $size-land)
      margin-bottom: 0

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      margin-bottom: size(54, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(54, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

  .article-box
    max-width: 843px
    margin-bottom: 20px

    +media($land, $scaling)
      max-width: size(843, $size-land)
      margin-bottom: size(20, $size-land)

    +media($port, ">=tablet")
      max-width: size(843, $size-port-tablet)
      margin-bottom: size(20, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(20, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

  .blockquote
    font-family: $family-alt
    font-weight: 300
    font-size: 28px
    line-height: 1.14
    margin: 0
    padding: 0
    position: relative
    margin-bottom: 0

    +media($land, $scaling)
      font-size: size(28, $size-land)
      margin-bottom: size(0, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      margin-bottom: size(40, $size-port-tablet)
      margin-left: size(30, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(28, $size-port)
      margin-bottom: size(40, $size-port)
      margin-left: size(30, $size-port)

    &::before
      content: "“"
      font-family: serif
      line-height: 2
      position: absolute
      top: -54px
      left: -32px
      font-size: 70px

      +media($land, $scaling)
        top: size(-54, $size-land)
        left: size(-32, $size-land)
        font-size: size(70, $size-land)

      +media($port, ">=tablet")
        top: size(-54, $size-port-tablet)
        left: size(-32, $size-port-tablet)
        font-size: size(70, $size-port-tablet)

      +media($port, "<tablet")
        top: size(-54, $size-port)
        left: size(-32, $size-port)
        font-size: size(70, $size-port)

  .article-header
    color: $color-white
    width: 580px
    background-color: #001e50
    padding: 20px 30px
    margin: 0 auto
    position: relative
    left: 55px
    margin-bottom: 55px

    +media($land, $scaling)
      width: size(580, $size-land)
      padding: size(20, $size-land) size(30, $size-land)
      left: size(55, $size-land)
      margin-bottom: size(55, $size-land)

    +media($port, ">=tablet")
      width: size(580, $size-port-tablet)
      padding: size(20, $size-port-tablet) size(30, $size-port-tablet)
      left: size(55, $size-port-tablet)
      margin-bottom: size(55, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      padding: 0 size(30, $size-port)
      left: 0
      margin-bottom: size(55, $size-port)
      background: none
      color: $color-black

    .article-header-pic
      width: 375px
      height: 413px
      background-color: #ccc
      margin-bottom: 41px
      margin-left: -30px
      margin-right: -30px

      +media($land, $scaling)
        width: size(375, $size-land)
        height: size(413, $size-land)
        margin-bottom: size(41, $size-land)
        margin-left: size(-30, $size-land)
        margin-right: size(-30, $size-land)

      +media($port, ">=tablet")
        width: size(375, $size-port-tablet)
        height: size(413, $size-port-tablet)
        margin-bottom: size(41, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        width: size(375, $size-port)
        height: size(413, $size-port)
        margin-bottom: size(41, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    p
      margin: 0
      margin-bottom: 17px

      +media($land, $scaling)
        margin-bottom: size(17, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(17, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(17, $size-port)

      &::first-letter
        float: left
        font-family: $family-alt
        font-size: 118px
        font-weight: 300
        line-height: 0.5
        margin-left: -4px
        margin-right: 13px
        margin-top: -8px

        +media($land, $scaling)
          font-size: size(118, $size-land)
          margin-left: size(-4, $size-land)
          margin-right: size(13, $size-land)
          margin-top: size(-8, $size-land)

        +media($port, ">=tablet")
          font-size: size(118, $size-port-tablet)
          margin-left: size(-4, $size-port-tablet)
          margin-right: size(13, $size-port-tablet)
          margin-top: size(-8, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(118, $size-port)
          margin-left: size(-4, $size-port)
          margin-right: size(13, $size-port)
          margin-top: size(-8, $size-port)

    .article-header-title
      font-family: $family-alt
      font-weight: 300
      font-size: 32px
      line-height: 1.13
      margin-bottom: 42px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(42, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(42, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(56, $size-port)
        margin-bottom: size(42, $size-port)
        line-height: 1.11

      b
        font-weight: bold

  .article-box-2--fdcr

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 11px
      font-size: 32px
      margin-right: -30px

      +media($land, $scaling)
        margin-bottom: size(11, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(11, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(20, $size-port)
        font-size: size(32, $size-port)
        width: 100%

    .article-pic-13
      +media($port, ">=tablet")
        margin-top: 0
        margin-bottom: size(40, $size-port-tablet)

      +media($port, "<tablet")
        margin-top: 0
        margin-bottom: size(40, $size-port)

    .flex-row
      +media($port, ">=tablet")
        display: flex
        flex-direction: column-reverse

      +media($port, "<tablet")
        display: flex
        flex-direction: column-reverse

  .article-box-2--nfdc
    .flex-row
      +media($port, ">=tablet")
        display: flex
        flex-direction: column

      +media($port, "<tablet")
        display: flex
        flex-direction: column
</style>
