<template lang="pug">
  .article
    .article-header
      b(v-if="$store.getters.isMobile") Статья

      .article-header-title Эволюция <b>вэнов</b>

      .article-header-pic(v-if="$store.getters.isMobile")
        v-lazy-image(:src="require(`../../../assets/images/article/Bitmap Copy3@2x.jpg`)")

      .article-header-blockquote Наша машина не знает компромиссов

      p
        | {{'эти слова произнес генеральный директор Volkswagen Генрих Нордхов на презентации первого поколения вэна Volkswagen Transporter 1 в 1949 году.' | typograf}}
        br
        | {{'Спустя 70 лет компания презентует Transporter 6.1. За эти годы легендарный вэн изменился до неузнаваемости. Неизменным осталось лишь одно – он все так же не знает компромиссов.' | typograf}}

    .container.article-box
      .flex-row
        .flex-row-item.w-70
          blockquote.blockquote {{'Первый минивэн задал общие стандарты этого класса, которые актуальны по сей день.' | typograf}}

          .article-pic
            v-lazy-image(:src="require(`../../../assets/images/article/Bild@2x.jpg`)")

        .flex-row-item.w-30
          p.article-p
            | {{'В 1950 году Volkswagen Transporter открыл для автопроизводителей совершенно новую нишу. Первый минивэн задал общие стандарты этого класса, которые актуальны по сей день. Небольшие грузоперевозки, транспортировка пассажиров, использование в качестве служебного транспорта – для всего этого Transporter подошел идеально. За 4 года было выпущено 100 000 автомобилей.' | typograf}}
            br
            br
            | {{'История Transporter 1 начиналась с 25 лошадиных сил, 4-ступенчатой МКПП и оппозитного двигателя объемом 1,1 литр. Самые первые T1 имели задний привод и барабанные тормоза. Эти вэны могли взять на борт 750 кг груза и развивали максимальную скорость 80 км/ч. Для того времени это были очень достойные характеристики.' | typograf}}

    .container.article-box-1
      .flex-row
        .flex-row-item.w-37
          b А теперь несколько слов <br> о современных Transporter.

          p К примеру, цельнометаллический Т6.1. <br> {{'Т6 Kasten в топовой комплектации обладает 2-литровым дизельным двигателем мощностью 199 л.с., полным приводом и 7-ступенчатой АКПП. Он может принять на борт груз весом до 1,4 тонн, а Transporter Kombi может перевезти с комфортом до 9 человек и развить максимальную скорость более 200 км/ч. И это – только сухое перечисление фактов.' | typograf}}

        .flex-row-item.w-62
          .article-pic-1
            v-lazy-image(:src="require(`../../../assets/images/article/3_3_D@2x.png`)")

    .container.article-box-5
      p {{'Если говорить о комфорте, то все модели поколения Т6.1, разумеется, имеют большое количество опций, таких как ассистент бокового ветра Cross Wind Assis, система контроля дистанции спереди Front Assist и прочие технологии, которые делают поездки приятными и безопасными. Volkswagen T6.1 обладает высокой крышей (идеально для перевозки крупногабаритных предметов) и вмещает в себя до 10 кубов груза. И еще несколько полезных и приятных дополнений любого Т6.1: светодиодное освещение в салоне, сдвоенное переднее сиденье и люк для перевозки длинномерных грузов. Эволюция на лицо!' | typograf}}

      p {{'Впрочем, и другие представители семейства Volkswagen не уступают Т6.1 в комфорте и высоких технологиях. К примеру, во вместительном легковом Volkswagen Caravella тоже с удобством разместятся 10 человек, а при необходимости салон этого автомобиля с легкостью трансформируется в фургон с грузовым отделением до 6,7 м3. ' | typograf}}

      .flex-row
        .flex-row-item.w-60
          .article-box-5-pic
            v-lazy-image(:src="require(`../../../assets/images/article/3_4_D.png`)")

        .flex-row-item.w-40
          p {{'Это же можно сказать и о функциональном универсале Volkswagen Multivan – его сдвижные сиденья, электропривод дверей и полностью светодиодные фары делают каждую поезду безопасной и комфортабельной. А Volkswagen California – это стильный надежный микроавтобус, который идеально подойдет для семейных путешествий или поездок с друзьями. По степени комфорта эта машина сравнима с полноценным домом на колесах. Автомобиль вмещает в себя 4 спальных места, полноценную кухню с плитой, раковиной, холодильником и даже дополнительной мансардой!' | typograf}}

    .container.article-box-2
      .article-pic-2
        v-lazy-image(:src="require(`../../../assets/images/article/3_5_D.png`)")

        div
          v-lazy-image.article-pic-2-1(:src="require(`../../../assets/images/article/3_6_D.png`)")

    .container.article-box-3
      h4 {{'Большинство автовладельцев не задумывается о разнице между минивэнами и автомобилями класса SUV.' | typograf}}

      p {{'Но она есть и весьма существенная.' | typograf}}

      .article-pic-3
        v-lazy-image(:src="require(`../../../assets/images/article/3_6_D.png`)")

      .article-box-3-center
        .flex-row
          .flex-row-item.w-50
            p {{'Если с минивэном все понятно (небольшой фургон для перевозки людей либо грузов), то с SUV все чуть сложнее. SUV переводится с английского как «спортивно-утилитарный автомобиль» (Sport Utility Vehicle) и считается легковым грузовиком. Однако визуально SUV выглядит как обычный городской внедорожник. Его характерные черты: полный привод, тип кузова «универсал», высокая посадка водителя и пассажиров и часто – три ряда сидений. ' | typograf}}

          .flex-row-item.w-50
            p В модельной линейке Volkswagen тоже есть SUV – это Teramont. <br>{{'Конечно же, у SUV и минивэнов огромное количество различий (начиная с того, что это разные типы транспортных средств, и заканчивая функционалом и инженерными решениями), но самое очевидное – это внешний вид. SUV максимально похож на внедорожник, а минивэн – на фургон.' | typograf}}

    .container.article-box-4
      h4 Volkswagen Multivan T 6.1

      Slider(
        v-if="!$store.getters.isMobile"
        :pics="[require('@/assets/images/article/6.jpg'), require('@/assets/images/article/7.jpg'), require('@/assets/images/article/7.jpg')]")

      Slider(v-else :pics="[require('@/assets/images/article/6.jpg'), require('@/assets/images/article/7.jpg')]")

      p {{'Современные фургоны марки Volkswagen Коммерческие автомобили, как и 70 лет назад, неизменно задают стандарты в своем классе и диктуют новые условия в своем сегменте. Это эргономичные, универсальные вместительные автомобили. Уже сейчас очевидно, что Новый Т6.1 станет новой вехой в истории как бренда, так и своем сегменте автомобилестроения. Полностью светодиодные фары, цифровая визуальная приборная панель, Discover Pro 9,2 дюймов и большое количество ассистентов, подключаемых на рулевом колесе, – это лишь малая часть того, чем оснащены модели нового поколения Т6.1. ' | typograf}}

</template>

<script>
import Slider from './Slider.vue';

export default {
  name: 'Article',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { Slider },
};
</script>

<style lang="sass" scoped>
@import "../../../styles/mixins/mixins"
@import "../../../styles/vars/variables"

.article
  font-size: 16px
  line-height: 1.5
  margin-bottom: 100px

  +media($land, $scaling)
    font-size: size(16, $size-land)
    margin-bottom: size(100, $size-land)

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)
    margin-bottom: size(100, $size-port-tablet)

  +media($port, "<tablet")
    font-size: size(16, $size-port)
    margin-bottom: size(50, $size-port)

  //

  .article-pic-2-1
    display: none
    width: 156px
    height: 235px
    position: absolute
    right: 30px
    bottom: 0
    transform: translateY(50%)
    object-fit: cover
    object-position: 50% 50%

    +media($port)
      display: block

  .article-box-5
    max-width: 782px

    .article-box-5-pic
      margin-right: 40px
      width: 653px
      float: right

      +media($land, $scaling)
        width: size(653, $size-land)
        margin-right: size(40, $size-land)

      +media($port, ">=tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        float: none
        width: auto
        margin-top: size(50, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%

    .flex-row
      margin-top: 56px

      +media($port)
        display: block

        .flex-row-item
          width: 100%
          margin-bottom: 44px

    p
      margin: 0 0 25px

      +media($land, $scaling)
        margin-bottom: size(25, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(25, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(25, $size-port)

  .article-header-blockquote
    font-size: 28px
    line-height: 1.14
    font-weight: 300
    font-family: $family-alt
    position: relative
    max-width: 312px
    margin: -21px 64px 18px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      max-width: size(312, $size-land)
      margin: size(-21, $size-land) size(64, $size-land) size(18, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      max-width: size(312, $size-port-tablet)
      margin: size(-21, $size-port-tablet) size(64, $size-port-tablet) size(18, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(25, $size-port)
      max-width: size(312, $size-port)
      margin: size(-21, $size-port) size(30, $size-port) size(18, $size-port)

    &::before
      content: "«"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      left: -20%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

    &::after
      content: "»"
      font-family: Georgia,serif
      font-size: 62px
      font-weight: normal
      right: -13%
      line-height: 1
      position: absolute
      top: 50%
      transform: translateY(-53%)

      +media($land, $scaling)
        font-size: size(62, $size-land)

      +media($port, ">=tablet")
        font-size: size(62, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(62, $size-port)

  .article-p
    margin: 66px -83px 0 0

    +media($land, $scaling)
      margin: size(66, $size-land) size(-83, $size-land) 0 0

    +media($port, ">=tablet")
      margin: size(66, $size-port-tablet) size(0, $size-port-tablet) 0 0

    +media($port, "<tablet")
      margin: size(66, $size-port) size(0, $size-port) 0 0

  .article-pic-3
    width: 479px
    height: 319px
    margin-bottom: 50px
    margin-top: 41px
    position: absolute
    top: -222px
    left: -62px

    +media($land, $scaling)
      width: size(479, $size-land)
      height: size(319, $size-land)
      margin-bottom: size(50, $size-land)
      margin-top: size(41, $size-land)
      top: size(-222, $size-land)
      left: size(-62, $size-land)

    +media($port, ">=tablet")
      position: static
      display: none
      width: auto
      height: size(319, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      display: none
      position: static
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(50, $size-port)
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-2
    position: relative
    width: 1020px
    height: 562px
    margin-bottom: 50px
    margin-left: -61px
    margin-top: 0

    +media($land, $scaling)
      width: size(1020, $size-land)
      height: size(562, $size-land)
      margin-bottom: size(50, $size-land)
      margin-left: size(-61, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(562, $size-port-tablet)
      margin-bottom: size(160, $size-port-tablet)
      margin-top: 0
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(562, $size-port)
      margin-bottom: size(190, $size-port)
      margin-top: 0
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    > img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic-1
    width: 781px
    height: 400px
    margin-bottom: 0
    margin-left: 33px

    +media($land, $scaling)
      width: size(781, $size-land)
      height: size(400, $size-land)
      margin-bottom: 0
      margin-left: size(33, $size-land)

    +media($port, ">=tablet")
      width: auto
      height: size(400, $size-port-tablet)
      margin-bottom: 0
      margin-top: size(50, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-right: size(-30, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      height: size(400, $size-port)
      margin-bottom: 0
      margin-top: size(50, $size-port)
      margin-left: size(-30, $size-port)
      margin-right: size(-30, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-pic
    width: 600px
    height: 401px
    margin-left: -150px
    margin-bottom: 50px

    +media($land, $scaling)
      width: size(600, $size-land)
      height: size(401, $size-land)
      margin-left: size(-150, $size-land)
      margin-bottom: size(50, $size-land)

    +media($port, ">=tablet")
      width: size(600, $size-port-tablet)
      height: size(401, $size-port-tablet)
      margin-left: size(-30, $size-port-tablet)
      margin-bottom: size(50, $size-port-tablet)

    +media($port, "<tablet")
      width: size(600, $size-port)
      height: size(401, $size-port)
      margin-left: size(-30, $size-port)
      margin-bottom: size(50, $size-port)

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

  .article-box-4
    max-width: 903px
    margin-bottom: 11px

    +media($land, $scaling)
      max-width: size(903, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 12px
      font-size: 48px

      +media($land, $scaling)
        margin-bottom: size(48, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(48, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(48, $size-port)
        font-size: size(32, $size-port)

  .article-box-3
    position: relative
    max-width: 1071px
    margin-bottom: 66px
    padding-left: 474px

    +media($land, $scaling)
      max-width: size(1071, $size-land)
      margin-bottom: size(66, $size-land)
      padding-left: size(474, $size-land)

    +media($port, ">=tablet")
      max-width: size(1071, $size-port-tablet)
      margin-bottom: size(66, $size-port-tablet)
      padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(66, $size-port)
      padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)

    .article-box-3-center
      margin-left: -359px
      margin-top: 41px

      +media($land, $scaling)
        margin-left: size(-359, $size-land)
        margin-top: size(41, $size-land)

      +media($port, ">=tablet")
        margin-left: 0
        margin-top: size(41, $size-port-tablet)

      +media($port, "<tablet")
        margin-left: 0
        margin-top: size(41, $size-port)

        .flex-row
          display: block

          .flex-row-item
            width: 100%

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 11px
      font-size: 32px
      margin-right: -30px

      +media($land, $scaling)
        margin-bottom: size(11, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(11, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(40, $size-port)
        font-size: size(32, $size-port)

    p
      margin: 8px 0

  .article-box-2
    max-width: 903px
    padding-left: 212px
    padding-right: 0
    margin-bottom: 66px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      padding-left: size(212, $size-land)
      margin-bottom: size(66, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      padding-left: size(30, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)
      margin-bottom: size(66, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      padding-left: size(30, $size-port)
      padding-right: size(30, $size-port)
      margin-bottom: size(66, $size-port)

    h4
      font-family: $family-alt
      font-weight: bold
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

    p
      margin: 8px 0

  .article-box-1
    max-width: 903px
    margin-bottom: 54px

    +media($land, $scaling)
      max-width: size(903, $size-land)
      margin-bottom: size(54, $size-land)

    +media($port, ">=tablet")
      max-width: size(903, $size-port-tablet)
      margin-bottom: size(54, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(54, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    p
      margin: 8px 0

    h4
      font-family: $family-alt
      font-weight: 300
      line-height: 1.13
      margin: 0 0 12px
      font-size: 32px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        font-size: size(32, $size-port)

  .article-box
    max-width: 843px
    margin-bottom: 44px

    +media($land, $scaling)
      max-width: size(843, $size-land)
      margin-bottom: size(44, $size-land)

    +media($port, ">=tablet")
      max-width: size(843, $size-port-tablet)
      margin-bottom: size(44, $size-port-tablet)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(44, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

  .blockquote
    font-family: $family-alt
    font-weight: 300
    font-size: 28px
    line-height: 1.14
    margin: 0
    padding: 0
    position: relative
    margin-bottom: 57px

    +media($land, $scaling)
      font-size: size(28, $size-land)
      margin-bottom: size(57, $size-land)

    +media($port, ">=tablet")
      font-size: size(28, $size-port-tablet)
      margin-bottom: size(57, $size-port-tablet)
      margin-left: size(30, $size-port-tablet)

    +media($port, "<tablet")
      font-size: size(28, $size-port)
      margin-bottom: size(57, $size-port)
      margin-left: size(30, $size-port)

    &::before
      content: "“"
      font-family: serif
      line-height: 2
      position: absolute
      top: -54px
      left: -32px
      font-size: 70px

      +media($land, $scaling)
        top: size(-54, $size-land)
        left: size(-32, $size-land)
        font-size: size(70, $size-land)

      +media($port, ">=tablet")
        top: size(-54, $size-port-tablet)
        left: size(-32, $size-port-tablet)
        font-size: size(70, $size-port-tablet)

      +media($port, "<tablet")
        top: size(-54, $size-port)
        left: size(-32, $size-port)
        font-size: size(70, $size-port)

  .article-header
    color: $color-white
    width: 580px
    background-color: #001e50
    padding: 20px 30px
    margin: 0 auto
    position: relative
    left: 55px
    margin-bottom: 55px

    +media($land, $scaling)
      width: size(580, $size-land)
      padding: size(20, $size-land) size(30, $size-land)
      left: size(55, $size-land)
      margin-bottom: size(55, $size-land)

    +media($port, ">=tablet")
      width: size(580, $size-port-tablet)
      padding: size(20, $size-port-tablet) size(30, $size-port-tablet)
      left: size(55, $size-port-tablet)
      margin-bottom: size(55, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      padding: 0 size(30, $size-port)
      left: 0
      margin-bottom: size(55, $size-port)
      background: none
      color: $color-black

    .article-header-pic
      width: 375px
      height: 413px
      background-color: #ccc
      margin-bottom: 41px
      margin-left: -30px
      margin-right: -30px

      +media($land, $scaling)
        width: size(375, $size-land)
        height: size(413, $size-land)
        margin-bottom: size(41, $size-land)
        margin-left: size(-30, $size-land)
        margin-right: size(-30, $size-land)

      +media($port, ">=tablet")
        width: size(375, $size-port-tablet)
        height: size(413, $size-port-tablet)
        margin-bottom: size(41, $size-port-tablet)
        margin-left: size(-30, $size-port-tablet)
        margin-right: size(-30, $size-port-tablet)

      +media($port, "<tablet")
        width: size(375, $size-port)
        height: size(413, $size-port)
        margin-bottom: size(41, $size-port)
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

    p
      margin: 0
      margin-bottom: 17px

      +media($land, $scaling)
        margin-bottom: size(17, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(17, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(17, $size-port)

      &::first-letter
        float: left
        font-family: $family-alt
        font-size: 118px
        font-weight: 300
        line-height: 0.5
        margin-left: -4px
        margin-right: 13px
        margin-top: -8px

        +media($land, $scaling)
          font-size: size(118, $size-land)
          margin-left: size(-4, $size-land)
          margin-right: size(13, $size-land)
          margin-top: size(-8, $size-land)

        +media($port, ">=tablet")
          font-size: size(118, $size-port-tablet)
          margin-left: size(-4, $size-port-tablet)
          margin-right: size(13, $size-port-tablet)
          margin-top: size(-8, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(118, $size-port)
          margin-left: size(-4, $size-port)
          margin-right: size(13, $size-port)
          margin-top: size(-8, $size-port)

    .article-header-title
      font-family: $family-alt
      font-weight: 300
      font-size: 32px
      line-height: 1.13
      margin-bottom: 42px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(42, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(42, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(56, $size-port)
        margin-bottom: size(42, $size-port)
        line-height: 1.11

      b
        font-weight: bold

</style>
