<template lang="pug">
  .next
    .container
      .next-title Листайте дальше и&nbsp;читайте следующую статью

    .next-body
      LineAnimate

      .container
        b Статья

        .next-body-ttile(v-if="$store.getters.currentArticle === 1") Компаньон в любом деле <br><b>Как фургоны стали коммерческим транспортом</b>

        .next-body-ttile(v-if="$store.getters.currentArticle === 2") Эволюция <b>вэнов.</b>

        .next-body-ttile(v-if="$store.getters.currentArticle === 3") Путешествие <b>за горизонт</b>

        .next-body-ttile(v-if="$store.getters.currentArticle === 4") Для больших планов — <b>автомобиль побольше</b>

        .next-body-ttile(v-if="$store.getters.currentArticle === 5") Оставайтесь <b>на связи</b>
</template>

<script>
import LineAnimate from '../../LineAnimate.vue';

export default {
  name: 'Next',
  data() {
    return {
      ready: false,
    };
  },
  methods: {
    nextArticle() {
      const check = this.$store.getters.currentArticle < this.$store.getters.totalArticles;

      if (check) {
        const body = document.querySelector('body');

        body.classList.add('-transparent');

        setTimeout(() => {
          if (check) {
            this.$store.commit('UPDATE_CURRENT_ARTICLE', this.$store.getters.currentArticle + 1);
          } else {
            this.$store.commit('UPDATE_CURRENT_ARTICLE', 1);
          }
        }, process.env.VUE_APP_ANIMATE_TIME * 1 * 1000);

        setTimeout(() => {
          window.scrollTo(0, document.getElementById('history').offsetTop - document.querySelector('.header').clientHeight);

          body.classList.remove('-transparent');
        }, process.env.VUE_APP_ANIMATE_TIME * 2 * 1000);
      }
    },

    show() {
      function addScrollHeight() {
        return Math.max(
          document.body.scrollHeight, document.documentElement.scrollHeight,
          document.body.offsetHeight, document.documentElement.offsetHeight,
          document.body.clientHeight, document.documentElement.clientHeight,
        );
      }

      let scrollTop;
      let delta;
      let scrollHeight;
      let check;
      let first = false;
      let timer;

      return (e) => {
        if (first) {
          first = false;

          scrollTop = window.pageYOffset || document.documentElement.scrollTop;

          scrollHeight = addScrollHeight() - 2;

          check = scrollTop + window.innerHeight >= scrollHeight;

          if (!e && check) {
            this.nextArticle();
          } else {
            // ...
          }

          if (e) {
            delta = e.deltaY || e.detail || e.wheelDelta;

            if (delta > 0 && check) {
              this.nextArticle();
            } else {
              // ..
            }
          }
        }

        if (!timer) {
          first = false;

          clearInterval(timer);

          timer = null;

          timer = setTimeout(() => {
            first = true;

            clearInterval(timer);

            timer = null;
          }, process.env.VUE_APP_ANIMATE_TIME * 2 * 1000);
        }
      };
    },
  },
  mounted() {
    const show = this.show();

    let clientY;

    document.addEventListener('touchstart', (e) => {
      [{ clientY }] = e.touches;
    });

    document.addEventListener('touchmove', (e) => {
      const deltaY = e.changedTouches[0].clientY - clientY;

      if (deltaY < 0) {
        show();
      } else {
        // ...
      }
    });

    document.addEventListener('wheel', (e) => {
      show(e);
    });
  },

  components: { LineAnimate },
};
</script>

<style lang="sass">
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .next
    text-align: center

    .next-body-ttile
      font-size: 60px
      font-weight: 300
      line-height: 1.2
      margin-top: 8px

      +media($land, $scaling)
        font-size: size(60, $size-land)
        margin-top: size(8, $size-land)

      +media($port, ">=tablet")
        font-size: size(60, $size-port-tablet)
        margin-top: size(8, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(32, $size-port)
        margin-top: size(8, $size-port)
        line-height: 1.38

    .next-body
      background-image: radial-gradient(circle at 122% 124%, #001e50, #00437a 59%)
      min-height: 500px
      position: relative
      color: $color-white
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      font-size: 20px
      line-height: 1.4
      font-family: $family-alt

      +media($land, $scaling)
        min-height: size(500, $size-land)
        font-size: size(20, $size-land)

      +media($port, ">=tablet")
        min-height: size(500, $size-port-tablet)
        font-size: size(20, $size-port-tablet)

      +media($port, "<tablet")
        min-height: size(320, $size-port)
        font-size: size(16, $size-port)

      .line-animate
        bottom: auto
        top: -45px
        height: 90px

        +media($land, $scaling)
          top: size(-45, $size-land)
          height: size(90, $size-land)

        +media($port, ">=tablet")
          top: size(-45, $size-port-tablet)
          height: size(90, $size-port-tablet)

        +media($port, "<tablet")
          top: size(-45, $size-port)
          height: size(90, $size-port)

      b
        font-weight: bold

    .container
      max-width: 880px

      +media($land, $scaling)
        max-width: size(880, $size-land)

      +media($port, ">=tablet")
        max-width: size(880, $size-port-tablet)

      +media($port, "<tablet")
        max-width: none

    .next-title
      margin-bottom: 152px
      font-family: $family-alt
      font-size: 48px
      line-height: 1.08
      font-weight: 300

      +media($land, $scaling)
        margin-bottom: size(152, $size-land)
        font-size: size(48, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(152, $size-port-tablet)
        font-size: size(48, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(84, $size-port)
        font-size: size(28, $size-port)

</style>
