<template lang="pug">
  swiper.slider-pic(:options="swiperOption" ref="mySwiper")
    swiper-slide.slider-pic-slide(
      :key="index"
      v-for="(pic, index) in pics"
      @click.native="slideTo(index)")
      img(@load="loaded($event)" v-if="!$store.getters.isMobile" :src="pic")
      v-lazy-image(v-else :src="pic")

      .slider-pic-text(v-if="desc")
        .slider-pic-num {{index + 1}}
        | {{desc[index] | typograf}}
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
// eslint-disable-next-line
import 'swiper/dist/css/swiper.css';

export default {
  name: 'SliderArticle4',

  props: ['pics', 'desc'],

  data() {
    return {
      ready: false,
      swiperOption: {
        autoHeight: true,
        // lazy: true,
        // preloadImages: false,
        // loop: true,
        speed: 600,
        // centeredSlides: true,
        slidesPerView: 'auto',
        spaceBetween: 0,
        navigation: {
          nextEl: '.slider-pic .-r',
          prevEl: '.slider-pic .-l',
        },
        breakpoints: {
          767: {
            spaceBetween: 30,
            slidesPerView: 1,
          },
        },
      },
    };
  },

  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
  },

  methods: {
    slideTo(i) {
      this.swiper.slideTo(i);
    },

    loaded(e) {
      e.target.closest('.slider-pic-slide').style.width = `${e.target.width}px`;
    },
  },

  mounted() {
    window.addEventListener('resize', () => {
      this.swiper.update();
    });
  },

  components: { swiper, swiperSlide },
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .slider-pic
    position: relative
    overflow: visible
    margin-bottom: 35px
    margin-left: 0
    width: auto

    +media($land, $scaling)
      margin-bottom: size(35, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(35, $size-port-tablet)
      padding-right: size(30, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(35, $size-port)
      width: size(250, $size-port)

    //

    .slider-pic-num
      font-size: 32px
      margin-left: -29px
      line-height: 1
      font-weight: bold
      color: #000
      float: left

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-left: size(-29, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-left: size(-29, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(32, $size-port)
        margin-left: size(-29, $size-port)

    .slider-pic-text
      margin-left: 30px
      margin-top: 48px
      opacity: 0

      +media($land, $scaling)
        margin-left: size(30, $size-land)
        margin-top: size(48, $size-land)

      +media($port, ">=tablet")
        margin-left: size(30, $size-port-tablet)
        margin-top: size(48, $size-port-tablet)

      +media($port, "<tablet")
        margin-left: size(30, $size-port)
        margin-top: size(45, $size-port)
        margin-right: 0

    .swiper-slide-active
      .slider-pic-text
        opacity: 1
        transition: all $anim-global*2 ease-out

    .slider-pic-slide
      position: relative
      transition: all $anim-global ease-out
      background-color: transparent
      opacity: 0.5
      top: 0
      width: auto
      max-width: 100%
      padding-right: 30px

      +media($port)
        padding-right: 0

      &:last-child
        opacity: 0
        pointer-events: none

        +media($port, "<tablet")
          opacity: 0.5

      &.swiper-slide-active
        opacity: 1

      img
        height: 375px
        object-fit: cover
        object-position: 50% 50%

        +media($land, $scaling)
          height: size(375, $size-land)

        +media($port, ">=tablet")
          height: size(375, $size-port-tablet)
          object-fit: cover
          object-position: 50% 50%
          max-width: 100%

        +media($port, "<tablet")
          height: size(376, $size-port)
          width: 100%
          object-fit: cover
          object-position: 50% 50%
</style>
