<template lang="pug">
  swiper.slider-nav(
    @slideChange="changeSwiperIndex"
    :options="swiperOption" ref="mySwiper")
    swiper-slide.slider-nav-slide(
      @click.native="slideTo(0)")
      v-lazy-image(:src="require(`@/assets/images/article/1.jpg`)")

      .slider-nav-slide-text(v-if="$store.getters.isMobile")
        .slider-nav-slide-title  От первых вэнов до эпохи хиппи.

        // span.slider-nav-slide-link Читать

    swiper-slide.slider-nav-slide(
      @click.native="slideTo(1)")
      v-lazy-image(:src="require(`@/assets/images/article/Bild@2x.jpg`)")

      .slider-nav-slide-text(v-if="$store.getters.isMobile")
        .slider-nav-slide-title.-mod  Компаньон в любом деле <br>Как фургоны стали коммерческим транспортом

        // span.slider-nav-slide-link Читать

    swiper-slide.slider-nav-slide(
      @click.native="slideTo(2)")
      v-lazy-image(:src="require(`@/assets/images/article/Group 2@2x.jpg`)")

      .slider-nav-slide-text(v-if="$store.getters.isMobile")
        .slider-nav-slide-title  Эволюция вэнов

        // span.slider-nav-slide-link Читать

    swiper-slide.slider-nav-slide(
      @click.native="slideTo(3)")
      v-lazy-image(:src="require(`@/assets/images/article/4/d4/d4_1@2x.png`)")

      .slider-nav-slide-text(v-if="$store.getters.isMobile")
        .slider-nav-slide-title  Путешествие за горизонт

        // span.slider-nav-slide-link Читать

    swiper-slide.slider-nav-slide(
      @click.native="slideTo(4)")
      v-lazy-image(:src="require(`@/assets/images/article/5/d5/d5_1@2x.png`)")

      .slider-nav-slide-text(v-if="$store.getters.isMobile")
        .slider-nav-slide-title  Для больших планов

        // span.slider-nav-slide-link Читать

    swiper-slide.slider-nav-slide(
      @click.native="slideTo(5)")
      v-lazy-image(:src="require(`@/assets/images/article/6/d6/d6_1@2x.png`)")

      .slider-nav-slide-text(v-if="$store.getters.isMobile")
        .slider-nav-slide-title  Оставайтесь на связи

        // span.slider-nav-slide-link Читать
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
// eslint-disable-next-line
import 'swiper/dist/css/swiper.css';

export default {
  name: 'SliderNav',
  data() {
    return {
      ready: false,
      swiperOption: {
        speed: 800,
        centeredSlides: true,
        slidesPerView: 'auto',
        spaceBetween: 20,
        navigation: {
          nextEl: '.slider-nav .-r',
          prevEl: '.slider-nav .-l',
        },
        breakpoints: {
          767: {
            autoHeight: true,
            spaceBetween: 30,
            slidesPerView: 1,
          },
        },
      },
    };
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },

    currentArticle() {
      return this.$store.getters.currentArticle - 1;
    },
  },
  watch: {
    currentArticle(newCount) {
      this.swiper.slideTo(newCount);
    },
  },
  methods: {
    changeSwiperIndex() {
      this.$store.commit('UPDATE_CURRENT_ARTICLE', this.swiper.activeIndex + 1);
    },

    slideTo(i) {
      this.$store.commit('UPDATE_CURRENT_ARTICLE', i + 1);

      this.swiper.slideTo(i);
    },
  },
  mounted() {},
  components: { swiper, swiperSlide },
};
</script>

<style lang="sass">
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .slider-nav
    position: relative
    overflow: visible
    margin-bottom: 35px
    height: 287px
    left: -60px

    +media($land, $scaling)
      margin-bottom: size(35, $size-land)
      height: size(287, $size-land)
      left: size(-60, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(35, $size-port-tablet)
      height: size(287, $size-port-tablet)
      left: size(-60, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(200, $size-port)
      height: size(376, $size-port)
      left: 0
      width: size(250, $size-port)

    .slider-nav-slide
      position: relative
      transition: all $anim-global ease-out
      width: 349px
      height: 214px
      background-color: rgba(216, 216, 216, .5)
      opacity: 0.5
      top: 0
      cursor: pointer

      +media($land, $scaling)
        width: size(349, $size-land)
        height: size(214, $size-land)

      +media($port, ">=tablet")
        width: size(349, $size-port-tablet)
        height: size(214, $size-port-tablet)

      +media($port, "<tablet")
        width: size(250, $size-port)
        height: size(356, $size-port)

      &.swiper-slide-active
        width: 468px
        height: 287px
        opacity: 1
        cursor: default

        +media($land, $scaling)
          width: size(468, $size-land)
          height: size(287, $size-land)

        +media($port, ">=tablet")
          width: size(468, $size-port-tablet)
          height: size(287, $size-port-tablet)

        +media($port, "<tablet")
          width: size(250, $size-port)
          height: size(376, $size-port)
          top: -10px

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

      .slider-nav-slide-text
        position: absolute
        transition: all $anim-global ease-out
        top: 104%
        left: 0
        right: 0
        font-size: 16px
        color: #001e50
        line-height: 1.25

        +media($land, $scaling)
          font-size: size(16, $size-land)

        +media($port, ">=tablet")
          font-size: size(16, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(16, $size-port)

        .slider-nav-slide-title
          font-family: $family-alt
          line-height: 1.14
          margin-bottom: 36px
          font-size: 28px
          font-weight: 300
          color: $color-black

          &.-mod
            font-size: 22px

            +media($land, $scaling)
              font-size: size(22, $size-land)

            +media($port, ">=tablet")
              font-size: size(22, $size-port-tablet)

            +media($port, "<tablet")
              font-size: size(22, $size-port)

          +media($land, $scaling)
            margin-bottom: size(36, $size-land)
            font-size: size(28, $size-land)

          +media($port, ">=tablet")
            margin-bottom: size(36, $size-port-tablet)
            font-size: size(28, $size-port-tablet)

          +media($port, "<tablet")
            margin-bottom: size(36, $size-port)
            font-size: size(28, $size-port)

</style>
