@import "../mixins/mixins"
@import "../vars/variables"

html, body
  font: $fz-base/$line-height-base $family-base
  height: 100%
  width: 100%
  color: $color-base
  background: $bg-color-base
  transition: opacity $anim-global ease-out
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  +media($land, $scaling)
    font-size: size(16, $size-land)

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)

  +media($port, "<tablet")
    font-size: size(16, $size-port)

  &.-lock
    overflow: hidden

*, *:before, *:after
  box-sizing: border-box

html
  +rem-baseline

  &:root
    --main-default: #001e50
    --infographics-order-1: #00b0f0
    --infographics-order-3: #0082d6
    --image-active: #0040c5
    --infographics-order-4: #000000
    --inverted-disabled: #6a767d
    --main-active: #ffffff

#app
  min-height: 100%
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: stretch
  transition: opacity $anim-global*4 ease-out
  overflow: hidden

.content
  flex: 1 1 auto

*::-ms-backdrop, .content
  min-height: 80vh

.container
  max-width: 1260px
  padding: 0 size(20, $size-land)
  margin: 0 auto

  &.-w
    max-width: 904px

    +media($land, $scaling)
      max-width: size(904, $size-land)

    +media($port, ">=tablet")
      max-width: size(904, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none

  +media($land, $scaling)
    padding: 0 size(30, $size-land)
    max-width: size(1260, $size-land)

  +media($port, ">=tablet")
    padding: 0 size(30, $size-port-tablet)
    max-width: size(1260, $size-port-tablet)

  +media($port, "<tablet")
    padding: 0 size(30, $size-port)
    max-width: none

.auto-compare-title
  font-family: $family-alt
  font-weight: bold
  font-size: 32px
  line-height: 1.13
  text-align: center
  margin: 0 0 50px

  +media($land, $scaling)
    font-size: size(32, $size-land)
    margin-bottom: size(50, $size-land)

  +media($port, ">=tablet")
    text-align: left
    font-size: size(16, $size-port-tablet)
    margin-bottom: size(16, $size-port-tablet)

  +media($port, "<tablet")
    text-align: left
    font-size: size(16, $size-port)
    margin-bottom: size(16, $size-port)







