@import "../mixins/mixins"
@import "../vars/variables"

.btn
  display: inline-block
  cursor: pointer
  text-decoration: none
  line-height: 1.14
  color: $color-blue-medium
  position: relative
  border-radius: 22px
  padding: 12px 18px
  border: solid 2px $color-blue-medium
  transition: all $anim-global/2 ease-out

  +media($land, $scaling)
    border-radius: size(22, $size-land)
    padding: size(12, $size-land) size(18, $size-land)

  +media($port, ">=tablet")
    border-radius: size(22, $size-port-tablet)
    padding: size(12, $size-port-tablet) size(18, $size-port-tablet)

  +media($port, "<tablet")
    border-radius: size(22, $size-port)
    padding: size(12, $size-port) size(18, $size-port)

  &:hover
    opacity: 0.8

  &.-white
    border-color: $color-white
    color: $color-white

  &.-full
    background-color: $color-blue-medium
    color: $color-white

  &.-grey
    background-color: #6a767d
    opacity: 0.3
    color: $color-white
    border-color: #6a767d

  &.-mdl
    padding: 5px 6px
    border-width: 1px
    color: #6a767d
    border-color: #6a767d
    display: inline-flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

    +media($land, $scaling)
      padding: size(5, $size-land) size(6, $size-land)

    +media($port, ">=tablet")
      padding: size(5, $size-port-tablet) size(6, $size-port-tablet)

    +media($port, "<tablet")
      padding: size(5, $size-port) size(6, $size-port)

  .icon
    margin-right: 5px

  &.-loading
    color: transparent
    pointer-events: none

  .loading-spinner
    background-color: transparent

