@import "../mixins/mixins"
@import "../vars/variables"

.input-text-error
  color: $color-red
  font-family: $family-alt
  font-size: 13px
  margin-top: 12px

  +media($land, $scaling)
    font-size: size(13, $size-land)
    margin-top: size(12, $size-land)

  +media($port, ">=tablet")
    font-size: size(13, $size-port-tablet)
    margin-top: size(12, $size-port-tablet)

  +media($port, "<tablet")
    font-size: size(13, $size-port)
    margin-top: size(12, $size-port)

.input-text
  padding: 9px 0
  border: 0
  border-bottom: 1px solid #dfe4e8
  color: #001e50
  font-size: 16px
  width: 100%
  background-color: transparent
  line-height: 1.15
  border-radius: 0

  +media($land, $scaling)
    font-size: size(16, $size-land)
    padding: size(9px, $size-land) 0

  +media($port, ">=tablet")
    font-size: size(16, $size-port-tablet)
    padding: size(9px, $size-port-tablet) 0

  +media($port, "<tablet")
    font-size: size(16, $size-port)
    padding: size(9px, $size-port) 0

  &.-error
    border-color: $color-red
    animation: bounce $anim-global .25s

textarea.input-text
  resize: none
  height: 108px

  +media($land, $scaling)
    height: size(108, $size-land)

  +media($port, ">=tablet")
    height: size(108, $size-port-tablet)

  +media($port, "<tablet")
    height: size(108, $size-port)
