@import "../vars/variables"

//slide-top
.slide-top-enter-active, .slide-top-leave-active
  transition: transform $anim-global ease-out

.slide-top-enter, .slide-top-leave-to
  transform: translateY(-100%)

//slide-top-smile
.slide-top-smile-enter-active, .slide-top-smile-leave-active
  transition: all $anim-global ease-out

.slide-top-smile-enter, .slide-top-smile-leave-to
  transform: translateY(15px)
  opacity: 0

//slide-bottom
.slide-bottom-enter-active, .slide-bottom-leave-active
  transition: all $anim-global ease-out

.slide-bottom-enter, .slide-bottom-leave-to
  transform: translateY(100%) rotate(45deg)
  opacity: 0

//slide-left
.slide-left-enter-active, .slide-left-leave-active
  transition: transform $anim-global ease-out

.slide-left-enter, .slide-left-leave-to
  transform: translateX(-100%)

//slide-right
.slide-right-enter-active, .slide-right-leave-active
  transition: transform $anim-global ease-out

.slide-right-enter, .slide-right-leave-to
  transform: translateX(100%)

//fade
.fade-enter-active, .fade-leave-active
  transition: opacity $anim-global

.fade-enter, .fade-leave-to
  opacity: 0

// scale
.scale-enter-active, .scale-leave-active
  transition: transform $anim-global ease-out

.scale-enter, .scale-leave-to
  transform: scale(0)

// bounce
@keyframes bounce
  0%
    transform: translateX(0px)
    timing-function: ease-in

  37%
    transform: translateX(5px)
    timing-function: ease-out

  55%
    transform: translateX(-5px)
    timing-function: ease-in

  73%
    transform: translateX(4px)
    timing-function: ease-out

  82%
    transform: translateX(-4px)
    timing-function: ease-in

  91%
    transform: translateX(2px)
    timing-function: ease-out

  96%
    transform: translateX(-2px)
    timing-function: ease-in

  100%
    transform: translateX(0px)
    timing-function: ease-in
