@font-face {
  font-family: "VW Text";
  src: url("../assets/fonts/VWText-Bold.woff2") format("woff2"),
  url("../assets/fonts/VWText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VW Head";
  src: url("../assets/fonts/VWHead-Bold.woff2") format("woff2"),
  url("../assets/fonts/VWHead-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VW Text";
  src: url("../assets/fonts/VWText-BoldItalic.woff2") format("woff2"),
  url("../assets/fonts/VWText-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "VW Head";
  src: url("../assets/fonts/VWHead-ExtraBold.woff2") format("woff2"),
  url("../assets/fonts/VWHead-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VW Head";
  src: url("../assets/fonts/VWHead-Italic.woff2") format("woff2"),
  url("../assets/fonts/VWHead-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "VW Text";
  src: url("../assets/fonts/VWText.woff2") format("woff2"),
  url("../assets/fonts/VWText.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VW Head";
  src: url("../assets/fonts/VWHead.woff2") format("woff2"),
  url("../assets/fonts/VWHead.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VW Text";
  src: url("../assets/fonts/VWText-Italic.woff2") format("woff2"),
  url("../assets/fonts/VWText-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "VW Head";
  src: url("../assets/fonts/VWHead-Light.woff2") format("woff2"),
  url("../assets/fonts/VWHead-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VW Head";
  src: url("../assets/fonts/VWHead-BoldItalic.woff2") format("woff2"),
  url("../assets/fonts/VWHead-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "VW Text";
  src: url("../assets/fonts/VWText-Light.woff2") format("woff2"),
  url("../assets/fonts/VWText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

