/* Icons font----------------------------------------------------------- */
@font-face {
  font-family: "Icons";
  src: url("../assets/fonts/Icons.eot");
  src: url("../assets/fonts/Icons.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/Icons.woff") format("woff"),
  url("../assets/fonts/Icons.ttf") format("truetype"),
  url("../assets/fonts/Icons.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.icon {
  font-family: "Icons", sans-serif;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-rendering: auto;
}
.i_arrow-left:before {
  content:"\E001";
}
.i_arrow-right:before {
  content:"\E002";
}
.i_award-winner-premium:before {
  content:"\E003";
}
.i_brochure:before {
  content:"\E004";
}
.i_calc:before {
  content:"\E005";
}
.i_checkbox:before {
  content:"\E006";
}
.i_chevron-down:before {
  content:"\E007";
}
.i_close:before {
  content:"\E008";
}
.i_contact:before {
  content:"\E009";
}
.i_drivers-assistance:before {
  content:"\E00A";
}
.i_f:before {
  content:"\E00B";
}
.i_inst:before {
  content:"\E00C";
}
.i_interior:before {
  content:"\E00D";
}
.i_magnifier-plus:before {
  content:"\E00E";
}
.i_new-car-commercial:before {
  content:"\E00F";
}
.i_play:before {
  content:"\E010";
}
.i_powertrain:before {
  content:"\E011";
}
.i_repeat:before {
  content:"\E012";
}
.i_safety:before {
  content:"\E013";
}
.i_seat:before {
  content:"\E014";
}
.i_star-0:before {
  content:"\E015";
}
.i_star-1:before {
  content:"\E016";
}
.i_stock-locator-commercial:before {
  content:"\E017";
}
.i_vk:before {
  content:"\E018";
}
.i_yt:before {
  content:"\E019";
}
