h1, .h1
  font-weight: bold
  font-size: 1.8em

h2, .h2
  font-weight: bold
  font-size: 1.5em

h3, .h3
  font-weight: bold
  font-size: 1.5em

h4, h5, h6, .h4, .h5, .h6
  font-weight: bold
  font-size: 1.2em

a
  color: $link-color
  text-decoration: underline

a:visited

a:hover
  text-decoration: none

a:active

a:focus
  outline: none

img
  vertical-align: middle
  max-width: 100%
  font-family: 'object-fit: cover;'

.v-lazy-image
  opacity: 0
  transition: opacity $anim-global

.v-lazy-image-loaded
  opacity: 1

textarea
  overflow: auto

input, textarea
  +placeholder
    color: $placeholder
    opacity: 1

input:focus, input:active, textarea:focus, textarea:active
  outline: none

  +placeholder
    color: transparent !important

button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active
  outline: none

/*stylized-switch*/
.switch
  position: relative
  display: inline-flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: 24px
  width: 24px
  min-width: 24px
  vertical-align: middle
  cursor: pointer
  margin-right: 12px

  +media($land, $scaling)
    margin-right: size(12, $size-land)
    height: size(24, $size-land)
    width: size(24, $size-land)
    min-width: size(24, $size-land)

  +media($port, ">=tablet")
    margin-right: size(12, $size-port-tablet)
    height: size(24, $size-port-tablet)
    width: size(24, $size-port-tablet)
    min-width: size(24, $size-port-tablet)

  +media($port, "<tablet")
    margin-right: size(12, $size-port)
    height: size(24, $size-port)
    width: size(24, $size-port)
    min-width: size(24, $size-port)

.switch input
  vertical-align: middle
  margin: 0
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

.switch input:not(:checked), .switch input:checked
  opacity: 0
  z-index: 1
  cursor: pointer

/*not checked radio*/
.switch input[type=radio]:not(:checked) + i, .switch input[type=radio]:checked + i
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: $color-white
  border-radius: 100%
  border: 1px solid #001e50

/*not checked checkbox*/
.switch input[type=checkbox]:not(:checked) + i, .switch input[type=checkbox]:checked + i
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: transparent
  border: 1px solid #001e50
  font-size: .95em
  line-height: 1
  color: transparent
  display: inline-flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center

  &.-error
    border-color: $color-red
    animation: bounce $anim-global .25s

/*checked radio*/
.switch input[type=radio]:checked + i
  background: #001e50
  box-shadow: 0 0 0 5px $color-white inset

/*checked checkbox*/
.switch input[type=checkbox]:checked + i
  color: #001e50

/*end stylized-switch*/

.no-webp
  .on-webp
    display: none

.webp
  .off-webp
    display: none

button
  &:active, &:focus
    outline: none

*
  -webkit-tap-highlight-color:  transparent


