<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <meta name="description" content="Познакомьтесь с новым Volkswagen Multivan 6.1">
  <meta name="title" content="Volkswagen Multivan 6.1 | Коммерческие автомобили"/>
  <meta property="og:image" content="https://cars.volkswagen-commercial.ru/models/T6-1/sharing.png"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="570"/>
  <meta property="og:description" content="Познакомьтесь с новым Volkswagen Multivan 6.1"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://cars.volkswagen-commercial.ru/models/T6-1/"/>
  <meta property="og:title" content="Volkswagen Multivan 6.1 | Коммерческие автомобили">
  <meta name="twitter:image" content="https://cars.volkswagen-commercial.ru/models/T6-1/sharing.png">
  <title>Volkswagen Multivan 6.1 | Коммерческие автомобили</title>
  <meta name="theme-color" content="#fff">
  <style type="text/css">
    body,html{background-color:#fff}@keyframes ldio-zrzt6vkns3o{0%{opacity:1}100%{opacity:0}}.ldio-zrzt6vkns3o div{left:94px;top:48px;position:absolute;animation:ldio-zrzt6vkns3o linear 1s infinite;background:#0040c5;width:12px;height:24px;border-radius:6px/12px;transform-origin:6px 52px}.ldio-zrzt6vkns3o div:nth-child(1){transform:rotate(0);animation-delay:-.9166666666666666s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(2){transform:rotate(30deg);animation-delay:-.8333333333333334s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(3){transform:rotate(60deg);animation-delay:-.75s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(4){transform:rotate(90deg);animation-delay:-.6666666666666666s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(5){transform:rotate(120deg);animation-delay:-.5833333333333334s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(6){transform:rotate(150deg);animation-delay:-.5s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(7){transform:rotate(180deg);animation-delay:-.4166666666666667s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(8){transform:rotate(210deg);animation-delay:-.3333333333333333s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(9){transform:rotate(240deg);animation-delay:-.25s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(10){transform:rotate(270deg);animation-delay:-.16666666666666666s;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(11){transform:rotate(300deg);animation-delay:-83.33333333333333ms;background:#0040c5}.ldio-zrzt6vkns3o div:nth-child(12){transform:rotate(330deg);animation-delay:0s;background:#0040c5}.loadingio-spinner-spinner-heprscevfp{width:100px;height:100px;display:inline-block;overflow:hidden;background:0 0;position:absolute;z-index:100000;top:50%;left:50%;transform:translate(-50%,-50%);transition:all .4s ease-out}.loadingio-spinner-spinner-heprscevfp.-hide{pointer-events:none;opacity:0;visibility:hidden}.ldio-zrzt6vkns3o{width:100%;height:100%;position:relative;transform:translateZ(0) scale(.5);backface-visibility:hidden;transform-origin:0 0}.ldio-zrzt6vkns3o div{box-sizing:content-box}
  </style>
</head>
<body>
<div id="spinner" class="loadingio-spinner-spinner-heprscevfp">
  <div class="ldio-zrzt6vkns3o">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div id="app"></div>
</body>
</html>
