<template lang="pug">
  section.bene
    h3(v-if="$store.getters.isPortrait")
      v-lazy-image(
        :src="require(`@/assets/images/multivan/b.jpg`)")

      div Комфорт уровня <b>6.1</b>

    .container
      h3(v-if="!$store.getters.isPortrait") Комфорт уровня <b>6.1</b>

      .bene-col
        .bene-col-left {{'Одно из главных достоинств Multivan — то, что он управляется как очень хороший легковой автомобиль, только посадка повыше и обзор с места водителя намного лучше. У него даже руль легковой — по форме, размеру, регулировкам и обратной связи. Кстати, Multivan 6.1 получил электрический усилитель руля. Управлять машиной стало ещё приятнее — теперь она сама готова вам помочь во многих ситуациях.' | typograf}}

        .bene-col-right
          .bene-nav
            .bene-nav-item(
              @click="current = index + 1"
              :class="{'-active': current === index + 1}"
              v-for="(item, index) in data"
              href="#") {{item.nav}}

    .bene-info(
      :key="index"
      v-if="current === index + 1"
      v-for="(item, index) in data")
      v-lazy-image(:src="require(`@/assets/images/multivan/${item.pic}.jpg`)")

      .container
        .bene-info-content
          .bene-info-title {{item.title}}

          p(v-if="item.text" v-html="item.text")

          ul.bene-accardion.reset(v-if="item.accardion")
            li(v-for="(li, index) in item.accardion")
              .bene-accardion-head(
                :class="{'-active': currentPoint === index}"
                @click="currentPoint === index ? currentPoint = null : currentPoint = index")
                span {{li.title}}
                i.icon.i_chevron-down

              p {{li.body}}

          a.btn.-full(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/none/+/+/+/+/+/+/+") Записаться на тест-драйв

</template>

<script>
export default {
  name: 'Bene',
  data() {
    return {
      ready: false,
      current: 1,
      currentPoint: null,
      data: [
        {
          nav: 'Новый дизайн',
          pic: 'bene1',
          title: 'Обновленные, и это видно',
          text: 'У моделей Volkswagen Т6.1 новый передний бампер, новая решётка радиатора, новые крылья, новые фары (в том числе и в полностью светодиодном исполнении), а кроме того, новые цвета кузова и новые варианты колёсных дисков.',
        },
        {
          nav: 'Цифровая приборная панель',
          pic: 'bene2',
          title: 'Центр управления поездкой',
          text: 'Многорежимная цифровая панель Digital Cockpit диагональю 26 см (10,25 дюйма) — удобная и современная альтернатива традиционному аналоговому блоку приборов. Вы можете занять практически весь экран навигационной картой, вывести показания приборов как в привычном «дисковом» виде, так и более современном цифровом. Экран с автоматической настройкой яркости хорошо виден при любом освещении, а производительный видеопроцессор делает анимированную графику максимально реалистичной. Для Multivan в исполнении Highline панель Digital Cockpit является стандартным оборудованием.',
        },
        {
          nav: 'Электронные ассистенты',
          pic: 'bene3',
          title: 'Электронные ассистенты',
          text: null,
          accardion: [
            {
              title: 'Адаптивный круиз контроль',
              body: 'Позволяет проехать десятки километров по трассе, не прикасаясь к педалям тормоза и газа: автомобиль сам будет ускоряться в пределах установленного лимита и притормаживать по мере необходимости. Комфортную для себя дистанцию определяет водитель. За дорожной обстановкой следит радар, установленный в решётке радиатора. Даже при выключенном круиз-контроле система продолжает мониторить обстановку: в случае опасного сокращения дистанции она привлечёт внимание водителя или прибегнет к экстренному торможению.',
            },
            {
              title: 'Парковочный автопилот',
              body: 'Позволяет проехать десятки километров по трассе, не прикасаясь к педалям тормоза и газа: автомобиль сам будет ускоряться в пределах установленного лимита и притормаживать по мере необходимости. Комфортную для себя дистанцию определяет водитель. За дорожной обстановкой следит радар, установленный в решётке радиатора. Даже при выключенном круиз-контроле система продолжает мониторить обстановку: в случае опасного сокращения дистанции она привлечёт внимание водителя или прибегнет к экстренному торможению.',
            },
            {
              title: 'Помощь при выезде задним ходом',
              body: 'Позволяет проехать десятки километров по трассе, не прикасаясь к педалям тормоза и газа: автомобиль сам будет ускоряться в пределах установленного лимита и притормаживать по мере необходимости. Комфортную для себя дистанцию определяет водитель. За дорожной обстановкой следит радар, установленный в решётке радиатора. Даже при выключенном круиз-контроле система продолжает мониторить обстановку: в случае опасного сокращения дистанции она привлечёт внимание водителя или прибегнет к экстренному торможению.',
            },
            {
              title: 'Контроль боковых интервалов',
              body: 'Позволяет проехать десятки километров по трассе, не прикасаясь к педалям тормоза и газа: автомобиль сам будет ускоряться в пределах установленного лимита и притормаживать по мере необходимости. Комфортную для себя дистанцию определяет водитель. За дорожной обстановкой следит радар, установленный в решётке радиатора. Даже при выключенном круиз-контроле система продолжает мониторить обстановку: в случае опасного сокращения дистанции она привлечёт внимание водителя или прибегнет к экстренному торможению.',
            },
            {
              title: 'Стабилизация при боковом ветре',
              body: 'Позволяет проехать десятки километров по трассе, не прикасаясь к педалям тормоза и газа: автомобиль сам будет ускоряться в пределах установленного лимита и притормаживать по мере необходимости. Комфортную для себя дистанцию определяет водитель. За дорожной обстановкой следит радар, установленный в решётке радиатора. Даже при выключенном круиз-контроле система продолжает мониторить обстановку: в случае опасного сокращения дистанции она привлечёт внимание водителя или прибегнет к экстренному торможению.',
            },
            {
              title: 'Автоматический дальний свет',
              body: 'Позволяет проехать десятки километров по трассе, не прикасаясь к педалям тормоза и газа: автомобиль сам будет ускоряться в пределах установленного лимита и притормаживать по мере необходимости. Комфортную для себя дистанцию определяет водитель. За дорожной обстановкой следит радар, установленный в решётке радиатора. Даже при выключенном круиз-контроле система продолжает мониторить обстановку: в случае опасного сокращения дистанции она привлечёт внимание водителя или прибегнет к экстренному торможению.',
            },
          ],
        },
      ],
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .bene
    position: relative
    padding-top: 87px
    margin-bottom: 80px

    +media($land, $scaling)
      padding-top: size(87, $size-land)
      margin-bottom: size(80, $size-land)

    +media($port, ">=tablet")
      padding-top: size(87, $size-port-tablet)
      margin-bottom: size(80, $size-port-tablet)

    +media($port, "<tablet")
      padding-top: size(24, $size-port)
      margin-bottom: size(50, $size-port)

    //

    .bene-accardion
      width: 100%
      margin-bottom: 30px

      p
        margin: 0 0 5px 0
        visibility: hidden
        position: absolute
        transform: translateX(-3%)

      .bene-accardion-head
        cursor: pointer
        font-weight: bold
        line-height: 1.43
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        color: $color-black
        border-bottom: 2px solid #dfe4e8
        padding-bottom: 3px
        margin-bottom: 5px

        &.-active
          .icon
            transform: rotate(-90deg)

          + p
            transition: all $anim-global ease-out
            visibility: visible
            position: static
            opacity: 1
            transform: none

        .icon
          transition: all $anim-global ease-out
          margin-left: 15px
          font-size: 0.8em

    .bene-info-title
      font-size: 24px
      font-family: $family-alt
      font-weight: bold
      line-height: 1.17
      position: absolute
      left: 0
      top: -59px

      +media($land, $scaling)
        font-size: size(24, $size-land)
        top: size(-59, $size-land)

      +media($port, ">=tablet")
        font-size: size(24, $size-port-tablet)
        top: size(-59, $size-port-tablet)
        position: static

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        top: 0
        position: static
        line-height: 1.5
        margin-bottom: 16px
        width: 100%

    .bene-info-content
      background-color: $color-white
      padding: 58px
      width: 420px
      margin-right: 60px
      line-height: 1.71
      position: relative
      padding-top: 0
      margin-top: -8px
      display: flex
      flex-flow: column nowrap
      justify-content: space-between
      align-items: flex-start

      +media($land, $scaling)
        padding: size(58, $size-land)
        width: size(420, $size-land)
        margin-right: size(60, $size-land)
        margin-top: size(-8, $size-land)
        padding-top: 0

      +media($port, ">=tablet")
        padding: size(58, $size-port-tablet)
        padding-top: 0
        width: size(420, $size-port-tablet)
        margin-right: size(60, $size-port-tablet)
        margin-top: size(-8, $size-port-tablet)

      +media($port, "<tablet")
        padding: size(26, $size-port) 0 0
        width: 100%
        margin-right: 0
        margin-top: 0
        font-size: size(16, $size-port)
        line-height: 1.5
        justify-content: center
        align-items: center

      p
        margin: 0
        margin-bottom: 10px
        width: 100%

        +media($land, $scaling)
          margin-bottom: size(10, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(10, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(34, $size-port)

    .bene-info
      position: relative
      width: 100%
      height: 599px

      +media($land, $scaling)
        height: size(599, $size-land)

      +media($port, ">=tablet")
        height: size(599, $size-port-tablet)

      +media($port, "<tablet")
        height: auto

      .container
        position: relative
        height: 100%
        display: flex
        flex-flow: row nowrap
        justify-content: flex-end
        align-items: stretch

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

        +media($port, "<tablet")
          height: size(245, $size-port)
          position: static
          object-position: 25% 50%

    .bene-nav
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-start

      +media($port, "<tablet")
        display: inline-flex
        flex-flow: row nowrap
        align-items: baseline
        position: relative
        margin-bottom: -12px
        border-bottom: 1px solid #dfe4e8
        position: relative
        z-index: 1
        margin-bottom: 0
        width: 100%
        justify-content: flex-start
        align-items: stretch

      .bene-nav-item
        cursor: pointer
        text-decoration: none
        color: $color-black
        font-size: 16px
        font-weight: 300
        font-family: $family-alt
        line-height: 1.25
        margin-bottom: 8px

        &:hover
          text-decoration: underline

        &.-active
          font-weight: bold
          pointer-events: none
          border-bottom-color: #0040c5

          &:hover
            text-decoration: none

        +media($land, $scaling)
          font-size: size(16, $size-land)
          margin-bottom: size(8, $size-land)

        +media($port, ">=tablet")
          font-size: size(16, $size-port-tablet)
          margin-bottom: size(8, $size-port-tablet)

        +media($port, "<tablet")
          line-height: 1.14
          color: #000
          border-bottom: 2px solid transparent
          margin-bottom: -1px
          transition: all $anim-global ease-out
          font-size: size(14, $size-port)
          margin-right: size(16, $size-port)
          padding-bottom: size(16, $size-port)
          padding-right: size(36, $size-port)
          flex: 1
          font-weight: normal

          &:last-child
            padding-right: 0
            margin-right: 0

          &.-active
            font-weight: normal
            color: #0040c5

          &:hover
            text-decoration: none
            color: #0040c5

    .bene-col
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: flex-start
      margin-bottom: 76px

      +media($land, $scaling)
        margin-bottom: size(76, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(76, $size-port-tablet)

      +media($port, "<tablet")
        display: block
        margin-bottom: size(14, $size-port)

      .bene-col-left
        width: 673px

        +media($land, $scaling)
          width: size(673, $size-land)

        +media($port, ">=tablet")
          width: size(673, $size-port-tablet)

        +media($port, "<tablet")
          width: 100%
          margin-bottom: size(50, $size-port)
          font-size: size(16, $size-port)
          line-height: 1.5
          padding-top: size(20, $size-port)

      .bene-col-right
        width: 480px

        +media($land, $scaling)
          width: size(480, $size-land)

        +media($port, ">=tablet")
          width: size(480, $size-port-tablet)

        +media($port, "<tablet")
          width: 100%

    h3
      margin: 0
      font-weight: 300
      font-family: $family-alt
      line-height: 1.17
      font-size: 48px
      margin-bottom: 34px
      position: relative

      +media($land, $scaling)
        margin-bottom: size(34, $size-land)
        font-size: size(48, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(34, $size-port-tablet)
        font-size: size(48, $size-port-tablet)
        text-align: center
        height: size(537, $size-port-tablet)
        width: 100%
        color: $color-white
        line-height: 1.38
        padding-top: size(45, $size-port-tablet)

        b
          display: block

      +media($port, "<tablet")
        margin-bottom: size(13, $size-port)
        font-size: size(32, $size-port)
        text-align: center
        height: size(337, $size-port)
        width: 100%
        color: $color-white
        line-height: 1.38
        padding-top: size(45, $size-port)

        b
          display: block

      div
        position: relative

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 5%

      b
        font-weight: bold

</style>
