<template lang="pug">
  section.container
    h3.auto-compare-title Подобрать комплектацию

    .auto-compare-wrapper(
      v-touch:swipe.right="swipeRightHandler"
      v-touch:swipe.left="swipeLeftHandler")
      .auto-compare
        .auto-compare-arr.icon.i_arrow-left.-left(
          :class="{'-disabled': !left || left > -10}"
          @click="move")

        .auto-compare-arr.icon.i_arrow-right(
          :class="{'-disabled': -left >= stop-10}"
          @click="move")

        table.auto-compare-table
          tr
            template(v-for="(item, index) in table.head")
              td(v-if="!index" :key="index")

              td.no-padding(
                v-else
                :key="index"
                :class="{'-lock': item.star}"
                :style="{transform: 'translateX('+ left +'px)'}")
                .auto-compare-model
                  .auto-compare-fav.icon.i_star-0(
                    :class="{'i_star-1': item.star}"
                    @click="sort(item, index)")

                  v-lazy-image(:src="require(`@/assets/images/multivan/VW_car_Pics/${item.pic}.${$webp ? 'webp' : 'png'}`)")

                  b {{item.title}}

                  .btn.-mdl(@click="popup = !popup, currentPics = item.current")
                    i.icon.i_magnifier-plus
                    | Посмотреть фото

        .auto-compare-item
          .compare-nav-head(@click="show($event)")
            .compare-nav-head-left
              .compare-nav-icon.icon.i_new-car-commercial

              .compare-nav-title Кузов

            .compare-nav-head-right
              .compare-nav-arr.icon.i_chevron-down

          .auto-compare-body
            table.auto-compare-table
              template(v-for="(tr, i) in table.carcase")
                tr(v-if="$store.getters.isMobile")
                  td

                  td.auto-compare-body-title(colspan=6) {{tr[0].text}}

                tr
                  td(
                    :class="{'-lock': item.star}"
                    :key="index"
                    :style="{transform: index ? 'translateX('+ left +'px)' : 'none'}"
                    v-for="(item, index) in tr") {{item.text | typograf}}

        .auto-compare-item
          .compare-nav-head(@click="show($event)")
            .compare-nav-head-left
              .compare-nav-icon.icon.i_seat

              .compare-nav-title Интерьер

            .compare-nav-head-right
              .compare-nav-arr.icon.i_chevron-down

          .auto-compare-body
            table.auto-compare-table
              template(v-for="(tr, i) in table.interior")
                tr(v-if="$store.getters.isMobile")
                  td

                  td.auto-compare-body-title(colspan=6) {{tr[0].text}}

                tr
                  td(
                    :class="{'-lock': item.star}"
                    :key="index"
                    :style="{transform: index ? 'translateX('+ left +'px)' : 'none'}"
                    v-for="(item, index) in tr") {{item.text | typograf}}

        .auto-compare-item
          .compare-nav-head(@click="show($event)")
            .compare-nav-head-left
              .compare-nav-icon.icon.i_drivers-assistance

              .compare-nav-title Функциональное оборудование

            .compare-nav-head-right
              .compare-nav-arr.icon.i_chevron-down

          .auto-compare-body
            table.auto-compare-table
              template(v-for="(tr, i) in table.equipment")
                tr(v-if="$store.getters.isMobile")
                  td

                  td.auto-compare-body-title(colspan=6) {{tr[0].text}}

                tr
                  td(
                    :class="{'-lock': item.star}"
                    :key="index"
                    :style="{transform: index ? 'translateX('+ left +'px)' : 'none'}"
                    v-for="(item, index) in tr") {{item.text | typograf}}

        .text-right.auto-compare_footer
          a.btn.-full(href="https://cars.volkswagen-commercial.ru/multivan" target="_blank") Посмотреть автомобили в наличии

    PopupSlider(
      :images="pics[currentPics]"
      v-if="popup"
      @close="popup = false")
</template>

<script>
import LineAnimate from '../../LineAnimate.vue';
import PopupSlider from '../PopupSlider.vue';

export default {
  name: 'Compare',
  data() {
    return {
      ready: false,
      left: undefined,
      stop: null,
      popup: null,
      pics: [
        ['multivan/MV_Trendline/iris-2', 'multivan/MV_Trendline/iris-3', 'multivan/MV_Trendline/iris-4', 'multivan/MV_Trendline/iris-5', 'multivan/MV_Trendline/iris-6', 'multivan/MV_Trendline/iris-7', 'multivan/MV_Trendline/iris-8', 'multivan/MV_Trendline/iris-9', 'multivan/MV_Trendline/iris-10'],
        ['multivan/MV_Confortline/iris-11', 'multivan/MV_Confortline/iris-12', 'multivan/MV_Confortline/iris-13', 'multivan/MV_Confortline/iris-14', 'multivan/MV_Confortline/iris-15', 'multivan/MV_Confortline/iris-16', 'multivan/MV_Confortline/iris-17', 'multivan/MV_Confortline/iris-18', 'multivan/MV_Confortline/iris-19'],
        ['multivan/MV_Comfortline_long/iris-20', 'multivan/MV_Comfortline_long/iris-21', 'multivan/MV_Comfortline_long/iris-22', 'multivan/MV_Comfortline_long/iris-23', 'multivan/MV_Comfortline_long/iris-24', 'multivan/MV_Comfortline_long/iris-25', 'multivan/MV_Comfortline_long/iris-26', 'multivan/MV_Comfortline_long/iris-27', 'multivan/MV_Comfortline_long/iris-28'],
        ['multivan/MV_Edition/iris-29', 'multivan/MV_Edition/iris-30', 'multivan/MV_Edition/iris-31', 'multivan/MV_Edition/iris-32', 'multivan/MV_Edition/iris-33', 'multivan/MV_Edition/iris-34', 'multivan/MV_Edition/iris-35', 'multivan/MV_Edition/iris-36', 'multivan/MV_Edition/iris-37'],
        ['multivan/MV_Cruise/iris-38', 'multivan/MV_Cruise/iris-39', 'multivan/MV_Cruise/iris-40', 'multivan/MV_Cruise/iris-41', 'multivan/MV_Cruise/iris-42', 'multivan/MV_Cruise/iris-43', 'multivan/MV_Cruise/iris-44', 'multivan/MV_Cruise/iris-45', 'multivan/MV_Cruise/iris-46'],
        ['multivan/MV_Highline/iris-47', 'multivan/MV_Highline/iris-48', 'multivan/MV_Highline/iris-49', 'multivan/MV_Highline/iris-50', 'multivan/MV_Highline/iris-51', 'multivan/MV_Highline/iris-52', 'multivan/MV_Highline/iris-53', 'multivan/MV_Highline/iris-54', 'multivan/MV_Highline/iris-55'],
      ],
      currentPics: 0,
      table: {
        head: [
          {
            star: 100,
            first: true,
          },
          {
            star: 0,
            pic: 'VW_Trendline',
            title: 'Trendline',
            current: 0,
          },
          {
            star: 0,
            pic: 'VW_Comf',
            title: 'Comfortline',
            current: 1,
          },
          {
            star: 0,
            pic: 'VW_ComfLong',
            title: 'Comfortline Long',
            current: 2,
          },
          {
            star: 0,
            pic: 'VW_Edition',
            title: 'Edition',
            current: 3,
          },
          {
            star: 0,
            pic: 'VW_Cruise',
            title: 'Cruise',
            current: 4,
          },
          {
            star: 0,
            pic: 'VW_Highline',
            title: 'Highline',
            current: 5,
          },
        ],
        carcase: [
          [
            {
              text: 'Внешний вид',
              star: 100,
              first: true,
            },
            {
              text: 'Матовая решётка радиатора с хром. полосой, корпуса зеркал – чёрные матовые',
            },
            {
              text: 'Глянцевая решётка радиатора с 5 хром. полосами, корпуса зеркал – в цвет кузова',
            },
            {
              text: 'Глянцевая решётка радиатора с 5 хром. полосами, корпуса зеркал – в цвет кузова',
            },
            {
              text: 'Дизайнерская оклейка, чёрная крыша и зеркала, тонированное остекление',
            },
            {
              text: 'Глянцевая решётка радиатора с 5 хром. полосами, корпуса зеркал – в цвет кузова',
            },
            {
              text: 'Премиальный экстерьер с хром-пакетом, тонированное остекление',
            },
          ],
          [
            {
              text: 'Колёсные диски',
              star: 100,
              first: true,
            },
            {
              text: 'Штампованные',
            },
            {
              text: 'Литые',
            },
            {
              text: 'Литые',
            },
            {
              text: 'Литые с чёрным закраинами спиц',
            },
            {
              text: 'Литые',
            },
            {
              text: 'Литые',
            },
          ],
        ],
        interior: [
          [
            {
              text: 'Обивка сидений',
              star: 100,
              first: true,
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Кожа + экокожа, декоративные вставки',
            },
            {
              text: 'Кожа + экокожа, декоративные вставки',
            },
          ],
          [
            {
              text: 'Передние сиденья',
              star: 100,
              first: true,
            },
            {
              text: 'C обогревом, регулировкой поясничной опоры и высоты, с регулируемыми подлокотниками',
            },
            {
              text: 'C обогревом, регулировкой поясничной опоры и высоты, с регулируемыми подлокотниками',
            },
            {
              text: 'C обогревом, регулировкой поясничной опоры и высоты, с регулируемыми подлокотниками',
            },
            {
              text: 'C обогревом, регулировкой поясничной опоры и высоты, с регулируемыми подлокотниками',
            },
            {
              text: 'С обогревом, регулировкой высоты, электрорегулировкой поясничных опор, с регулируемыми подлокотниками',
            },
            {
              text: 'С обогревом, регулировкой высоты, электрорегулировкой поясничных опор, с регулируемыми подлокотниками',
            },
          ],
          [
            {
              text: 'Рулевое колесо',
              star: 100,
              first: true,
            },
            {
              text: 'Кожаное, многофункциональное',
            },
            {
              text: 'Кожаное, многофункциональное',
            },
            {
              text: 'Кожаное, многофункциональное',
            },
            {
              text: 'Кожаное, многофункциональное',
            },
            {
              text: 'Кожаное, многофункциональное',
            },
            {
              text: 'Кожаное, многофункциональное',
            },
          ],
          [
            {
              text: 'Шумоизоляция салона',
              star: 100,
              first: true,
            },
            {
              text: 'Стандартная',
            },
            {
              text: 'Улучшенная',
            },
            {
              text: 'Улучшенная',
            },
            {
              text: 'Улучшенная',
            },
            {
              text: 'Улучшенная',
            },
            {
              text: 'Премиум',
            },
          ],
          [
            {
              text: 'Столик в салоне',
              star: 100,
              first: true,
            },
            {
              text: 'Приставной',
            },
            {
              text: 'Встроенный',
            },
            {
              text: 'Отсутствует',
            },
            {
              text: 'Встроенный',
            },
            {
              text: 'Встроенный',
            },
            {
              text: 'Многофункциональный',
            },
          ],
          [
            {
              text: 'Обивка сидений',
              star: 100,
              first: true,
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Ткань',
            },
            {
              text: 'Кожа + экокожа, декоративные вставки',
            },
            {
              text: 'Кожа + экокожа, декоративные вставки',
            },
          ],
        ],
        equipment: [
          [
            {
              text: 'Привод дверей салона',
              star: 100,
              first: true,
            },
            {
              text: 'Ручной, с электродоводчиками',
            },
            {
              text: 'Электрический, с&nbsp;ДУ',
            },
            {
              text: 'Электрический, с&nbsp;ДУ',
            },
            {
              text: 'Электрический, с&nbsp;ДУ',
            },
            {
              text: 'Электрический, с&nbsp;ДУ',
            },
            {
              text: 'Электрический, с ДУ, Сдвижные двери слева и справа',
            },
          ],
          [
            {
              text: 'Световые приборы',
              star: 100,
              first: true,
            },
            {
              text: 'Стандартные',
            },
            {
              text: 'Светодиодные фары и задние фонари, передние противотуманки',
            },
            {
              text: 'Светодиодные фары и задние фонари, передние противотуманки',
            },
            {
              text: 'Светодиодные фары и задние затемнённые фонари, передние противотуманки',
            },
            {
              text: 'Светодиодные фары и задние затемнённые фонари, передние противотуманки',
            },
            {
              text: 'Светодиодные фары и задние фонари, передние противо­туманки',
            },
          ],
          [
            {
              text: 'Электронные ассистенты',
              star: 100,
              first: true,
            },
            {
              text: 'Front Assist, City Emergency Break, Rear View, Парктроник передний и задний, Rest Assist, Light Assist, Круиз-контроль',
            },
            {
              text: 'Front Assist, City Emergency Break, Rear View, Парктроник передний и задний, Rest Assist, Light Assist, Круиз-контроль',
            },
            {
              text: 'Front Assist, City Emergency Break, Rear View, Парктроник передний и задний, Rest Assist, Light Assist, Круиз-контроль',
            },
            {
              text: 'Front Assist, City Emergency Break, Rear View, Парктроник передний и задний, Rest Assist, Light Assist, Круиз-контроль',
            },
            {
              text: 'ACC, Front Assist, City Emergency Break, Rear View, Park Assist, Парктроник передний и задний, Rest Assist, Light Assist',
            },
            {
              text: 'Front Assist, City Emergency Break, Rear View, Park Assist, Парктроник передний и задний, Rest Assist, Light Assist, Круиз-контроль, Blind Spot Alert, Rear Traffic Alert',
            },
          ],
          [
            {
              text: 'Инфомедиа',
              star: 100,
              first: true,
            },
            {
              text: 'Composition Color, вкл. 2x USB Type-C, App Connect, отсек для телефона',
            },
            {
              text: 'Composition Color, вкл. 2x USB Type-C, App Connect, отсек для телефона',
            },
            {
              text: 'Composition Color, вкл. 2x USB Type-C, App Connect, отсек для телефона',
            },
            {
              text: 'Composition Color, вкл. 2x USB Type-C, App Connect, отсек для телефона',
            },
            {
              text: 'Discover Media и Digital Cockpit',
            },
            {
              text: 'Discover Media и Digital Cockpit',
            },
          ],
          [
            {
              text: 'Электропакет',
              star: 100,
              first: true,
            },
            {
              text: 'Центральный замок с ДУ, передние электро-стеклоподъёмники, обогрев и электропривод и электроскладывание зеркал',
            },
            {
              text: 'Центральный замок с ДУ, передние электро-стеклоподъёмники, обогрев и электропривод и электроскладывание зеркал',
            },
            {
              text: 'Центральный замок с ДУ, передние электро-стеклоподъёмники, обогрев и электропривод и электроскладывание зеркал',
            },
            {
              text: 'Центральный замок с ДУ, передние электро-стеклоподъёмники, обогрев и электропривод и электроскладывание зеркал',
            },
            {
              text: 'Центральный замок с ДУ, передние электро-стеклоподъёмники, обогрев и электропривод и электроскладывание зеркал',
            },
            {
              text: 'Центральный замок с ДУ, передние электро-стеклоподъёмники, обогрев и электропривод и электроскладывание зеркал',
            },
          ],
          [
            {
              text: 'Кондиционер',
              star: 100,
              first: true,
            },
            {
              text: 'Climatronic, автоматический, с доп. испарителем и управлением в салоне. Стояночный автономный отопитель.',
            },
            {
              text: 'Climatronic, автоматический, с доп. испарителем и управлением в салоне. Стояночный автономный отопитель.',
            },
            {
              text: 'Climatronic, автоматический, с доп. испарителем и управлением в салоне. Стояночный автономный отопитель.',
            },
            {
              text: 'Climatronic, автоматический, с доп. испарителем и управлением в салоне. Стояночный автономный отопитель.',
            },
            {
              text: 'Climatronic, автоматический, с доп. испарителем и управлением в салоне. Стояночный автономный отопитель.',
            },
            {
              text: 'Climatronic, автоматический, с доп. испарителем и управлением в салоне. Стояночный автономный отопитель.',
            },
          ],
          [
            {
              text: 'Электронный комплекс стабилизации и управляемости',
              star: 100,
              first: true,
            },
            {
              text: 'ESC, Crosswind Assist, Hill Start Assist, Post Collision Break',
            },
            {
              text: 'ESC, Crosswind Assist, Hill Start Assist, Post Collision Break',
            },
            {
              text: 'ESC, Crosswind Assist, Hill Start Assist, Post Collision Break',
            },
            {
              text: 'ESC, Crosswind Assist, Hill Start Assist, Post Collision Break',
            },
            {
              text: 'ESC, Crosswind Assist, Hill Start Assist, Post Collision Break',
            },
            {
              text: 'ESC, Crosswind Assist, Hill Start Assist, Post Collision Break',
            },
          ],
          [
            {
              text: 'Лобовое стекло',
              star: 100,
              first: true,
            },
            {
              text: 'С электрообогревом всей поверхности, датчик дождя, датчик темноты',
            },
            {
              text: 'С электрообогревом всей поверхности, датчик дождя, датчик темноты',
            },
            {
              text: 'С электрообогревом всей поверхности, датчик дождя, датчик темноты',
            },
            {
              text: 'С электрообогревом всей поверхности, датчик дождя, датчик темноты',
            },
            {
              text: 'С электрообогревом всей поверхности, датчик дождя, датчик темноты',
            },
            {
              text: 'С электрообогревом всей поверхности, датчик дождя, датчик темноты',
            },
          ],
        ],
      },
      currentStar: null,
    };
  },

  methods: {
    sort(td, index) {
      const i = td;

      this.table.head.forEach((item) => {
        if (item !== i && !item.first) {
          const a = item;

          a.star = 0;
        }
      });

      this.table.carcase.forEach((item) => {
        item.forEach((a, b) => {
          const k = a;

          if (!k.first) {
            if (index === b) {
              k.star = !a.star;
            } else {
              k.star = 0;
            }
          }
        });

        item.sort((a, b) => b.star - a.star);
      });

      this.table.interior.forEach((item) => {
        item.forEach((a, b) => {
          const k = a;

          if (!k.first) {
            if (index === b) {
              k.star = !a.star;
            } else {
              k.star = 0;
            }
          }
        });

        item.sort((a, b) => b.star - a.star);
      });

      this.table.equipment.forEach((item) => {
        item.forEach((a, b) => {
          const k = a;

          if (!k.first) {
            if (index === b) {
              k.star = !a.star;
            } else {
              k.star = 0;
            }
          }
        });

        item.sort((a, b) => b.star - a.star);
      });

      i.star = !i.star;

      this.table.head.sort((a, b) => b.star - a.star);
    },

    swipeRightHandler() {
      const disable = document.querySelector('.auto-compare-arr.icon.i_arrow-left').classList.contains('-disabled');

      if (!disable) {
        this.move(null, 'right');
      }
    },

    swipeLeftHandler() {
      const disable = document.querySelector('.auto-compare-arr.icon.i_arrow-right').classList.contains('-disabled');

      if (!disable) {
        this.move(null, 'left');
      }
    },

    move(e, type) {
      const table = document.querySelector('.auto-compare-table');

      const parent = document.querySelector('.auto-compare');

      const pos = (table.clientWidth * (this.$store.getters.isMobile ? 1 : 0.8)) / 6;

      if (this.left === undefined) {
        this.left = 0;
      }

      if ((e && e.currentTarget.classList.contains('-left')) || type === 'right') {
        this.left += pos;
      } else {
        this.left -= pos;

        this.stop = table.clientWidth - parent.clientWidth;
      }
    },

    show(e) {
      e.currentTarget.classList.toggle('-close');
    },
  },
  mounted() {},
  components: { LineAnimate, PopupSlider },
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .auto-compare-wrapper
    +media($port, ">=tablet")
      padding-top: size(48, $size-port-tablet)

    +media($port, "<tablet")
      margin-right: size(-30, $size-port)
      margin-left: size(-30, $size-port)
      padding-top: size(48, $size-port)

  .auto-compare
    max-width: 938px
    position: relative
    margin: 0 auto 83px

    +media($land, $scaling)
      max-width: size(938, $size-land)
      margin-bottom: size(83, $size-land)

    +media($port, ">=tablet")
      max-width: none
      margin-bottom: size(83, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(107, $size-port)
      padding-right: size(16, $size-port)
      padding-left: size(16, $size-port)

    &::after
      content: ""
      position: absolute
      left: 100%
      bottom: 0
      top: 0
      width: 300%
      opacity: 0.9
      background-color: var(--main-active)
      margin-left: 2px

    &::before
      content: ""
      position: absolute
      right: 100%
      bottom: 0
      top: 0
      width: 300%
      background-color: var(--main-active)
      z-index: 102

    //

    .auto-compare-body-title
      font-weight: bold
      padding: 13px 7px
      font-size: 14px
      color: var(--infographics-order-4)
      border-top: 0 !important

      &::before
        display: none

      +media($land, $scaling)
        padding: size(13, $size-land) size(7, $size-land)
        font-size: size(14, $size-land)

      +media($port, ">=tablet")
        padding: size(13, $size-port-tablet) size(7, $size-port-tablet)
        font-size: size(14, $size-port-tablet)

      +media($port, "<tablet")
        padding: size(13, $size-port) size(7, $size-port)
        font-size: size(14, $size-port)
        border-left-color: transparent !important

    .auto-compare-arr
      z-index: 101
      position: absolute
      right: -43px
      top: 75px
      cursor: pointer
      user-select: none
      border-radius: 100%
      width: 32px
      height: 32px
      color: var(--main-active)
      font-size: 1em
      line-height: 1
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: center
      background-color: var(--image-active)

      +media($land, $scaling)
        right: size(-43, $size-land)
        top: size(75, $size-land)
        width: size(32, $size-land)
        height: size(32, $size-land)

      +media($port, ">=tablet")
        right: size(16, $size-port-tablet)
        top: size(-80, $size-port-tablet)
        width: size(43, $size-port-tablet)
        height: size(43, $size-port-tablet)

      +media($port, "<tablet")
        right: size(16, $size-port)
        top: size(-80, $size-port)
        width: size(43, $size-port)
        height: size(43, $size-port)

      &.-left
        right: auto
        left: 212px

        +media($land, $scaling)
          left: size(212, $size-land)

        +media($port, ">=tablet")
          left: auto
          right: size(72, $size-port-tablet)

        +media($port, "<tablet")
          left: auto
          right: size(72, $size-port)

      &.-disabled
        background-color: #dfe4e8
        pointer-events: none

    .auto-compare-fav
      position: absolute
      right: 10px
      top: 0
      font-size: 22px
      line-height: 1
      color: var(--main-default)
      cursor: pointer

      +media($land, $scaling)
        right: size(10, $size-land)
        font-size: size(22, $size-land)

      +media($port, ">=tablet")
        right: size(10, $size-port-tablet)
        font-size: size(22, $size-port-tablet)

      +media($port, "<tablet")
        right: size(10, $size-port)
        font-size: size(22, $size-port)

    .auto-compare_footer
      margin-top: 83px

      +media($land, $scaling)
        margin-top: size(83, $size-land)

      +media($port, ">=tablet")
        margin-top: size(83, $size-port-tablet)
        text-align: center

      +media($port, "<tablet")
        margin-top: size(83, $size-port)
        text-align: center

    .auto-compare-item
      margin-bottom: 34px

      +media($land, $scaling)
        margin-bottom: size(34, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(34, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(34, $size-port)

      .compare-nav-title
        font-size: 24px
        font-weight: 300
        font-family: $family-alt
        line-height: 1.17

        +media($land, $scaling)
          font-size: size(24, $size-land)

        +media($port, ">=tablet")
          font-size: size(24, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(24, $size-port)

      .compare-nav-arr
        font-size: 1.7em
        color: #001e50
        margin-left: 54px
        cursor: pointer
        transition: all $anim-global ease-out

        +media($land, $scaling)
          margin-left: size(54, $size-land)

        +media($port, ">=tablet")
          margin-left: size(54, $size-port-tablet)

        +media($port, "<tablet")
          margin-left: size(24, $size-port)

        &.-active
          transform: rotate(0)

      .compare-nav-icon
        margin-right: 34px
        font-size: 1.6em
        color: #001e50

        +media($land, $scaling)
          margin-right: size(34, $size-land)

        +media($port, ">=tablet")
          margin-right: size(34, $size-port-tablet)

        +media($port, "<tablet")
          margin-right: size(34, $size-port)

      .compare-nav-head
        padding-bottom: 16px
        border-bottom: 1px solid rgba(0, 0, 0, .1)
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        cursor: pointer
        user-select: none

        +media($land, $scaling)
          padding-bottom: size(16, $size-land)

        +media($port, ">=tablet")
          padding-bottom: size(16, $size-port-tablet)

        +media($port, "<tablet")
          padding-bottom: size(16, $size-port)
          border-bottom-width: 2px

        &.-close
          + .auto-compare-table, + .auto-compare-body
            visibility: hidden
            opacity: 0
            position: absolute
            transform: translateX(-1%)
            transition: none

          .compare-nav-arr
            transform: rotate(-90deg)

        .compare-nav-head-left, .compare-nav-head-right
          display: flex
          flex-flow: row nowrap
          justify-content: space-between
          align-items: center

    .auto-compare-model
      text-align: center
      padding: 23px 12px 29px
      position: relative

      +media($land, $scaling)
        padding: size(23, $size-land) size(12, $size-land) size(29, $size-land)

      +media($port, ">=tablet")
        padding: size(23, $size-port-tablet) size(12, $size-port-tablet) size(29, $size-port-tablet)

      +media($port, "<tablet")
        padding: size(23, $size-port) size(12, $size-port) size(29, $size-port)

      &::after
        content: ""
        position: absolute
        right: 0
        top: 0
        height: 100%
        width: 1px
        background-color: #0040c5

      .btn
        width: 100%

        +media($port, "<tablet")
          font-size: size(11, $size-port)

      b
        display: block
        font-size: 14px
        margin: 14px 0 22px

        +media($land, $scaling)
          font-size: size(14, $size-land)
          margin: size(14, $size-land) 0 size(22, $size-land)

        +media($port, ">=tablet")
          font-size: size(14, $size-port-tablet)
          margin: size(14, $size-port-tablet) 0 size(22, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(14, $size-port)
          margin: size(14, $size-port) 0 size(22, $size-port)

      img
        width: 119px

        +media($land, $scaling)
          width: size(119, $size-land)

        +media($port, ">=tablet")
          width: size(119, $size-port-tablet)

        +media($port, "<tablet")
          width: size(119, $size-port)

    .auto-compare-body
      transition: all $anim-global ease-out

    .auto-compare-table
      transition: all $anim-global ease-out
      border-spacing: 0
      border-collapse: collapse
      width: 1280px
      max-width: none
      table-layout: fixed
      border-bottom: 2px solid rgba(0, 0, 0, .1)
      margin-bottom: 12px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        width: size(1280, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        width: size(1280, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        width: size(1000, $size-port)
        border-bottom-width: 1px

      td
        transition: all $anim-global ease-out, background-color $anim-global*0.01 ease-out
        vertical-align: top
        position: relative
        padding: 17px 5px
        font-size: 13px
        line-height: 1.23
        border-bottom: 1px solid rgba(0, 0, 0, .1)

        +media($land, $scaling)
          font-size: size(13, $size-land)

        +media($port, ">=tablet")
          font-size: size(13, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(13, $size-port)

        &.-middle
          vertical-align: middle

        &.-lock
          transform: none !important
          background-color: #f7f9fc
          z-index: 1
          position: relative

        &::after
          content: ""
          position: absolute
          right: 0
          top: 0
          height: 100%
          width: 1px
          background-color: #0040c5

        &:nth-child(2)
          +media($port, "<tablet")
            &::before
              content: ""
              position: absolute
              left: 0
              top: 0
              height: 100%
              width: 1px
              background-color: #0040c5

        &:first-child
          padding: 13px 5px 15px 0
          width: 20%
          font-size: 16px
          font-weight: bold
          background-color: #fff
          position: relative
          z-index: 1
          border-right: 1px solid #0040c5
          z-index: 2

          +media($land, $scaling)
            font-size: size(16, $size-land)

          +media($port, ">=tablet")
            font-size: size(16, $size-port-tablet)

          +media($port, "<tablet")
            display: none

          &::after
            display: none
            font-size: size(16, $size-port)
            display: none
</style>
