<template lang="pug">
  div
    Entry

    Bene

    Picking

    Compare
</template>

<script>
import Entry from './Entry.vue';
import Bene from './Bene.vue';
import Picking from './Picking.vue';
import Compare from './Compare.vue';

export default {
  name: 'Multivan',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {
    Bene,
    Picking,
    Compare,
    Entry,
  },
};
</script>

<style lang="sass">
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

</style>
