<template lang="pug">
  section.picking
    .picking-left(v-if="!$store.getters.isMobile")
      .picking-left-video
        iframe.picking-left-pic(v-if="showVideo"
          src='https://www.youtube.com/embed/BZDupARqED0?autoplay=1'
          frameborder='0'
          allow='autoplay'
          allowfullscreen)

        v-lazy-image.picking-left-pic(
          v-if="!showVideo"
          :src="require(`@/assets/images/multivan/video.jpg`)")

        .picking-play.icon.i_play(v-if="!showVideo" @click="play()")

    .picking-right
      h3
        v-lazy-image(
          v-if="$store.getters.isMobile && !showVideo"
          :src="require(`@/assets/images/multivan/video.jpg`)")

        span Узнайте поближе ваш <b>Multivan 6.1</b>

        .btn.-border.-white(v-if="$store.getters.isMobile && !showVideo" @click="play()") Смотреть фильм

        iframe.picking-right-video(v-if="$store.getters.isMobile && showVideo" width="100%"
          src='https://www.youtube.com/embed/MXAv5GrIVHo?autoplay=1'
          frameborder='0'
          allow='autoplay'
          allowfullscreen)

      p {{'В Multivan очень легко влюбиться – иногда достаточно одной пробной поездки, чтобы понять: вам просто необходим этот удивительно комфортный и просторный автомобиль, имеющий габариты обычной легковой машины. Остается одно – определиться с комплектацией. Основные варианты называются стандартно – Trendline, Comfortline и Highline' | typograf}}

</template>

<script>
export default {
  name: 'Picking',
  data() {
    return {
      ready: false,
      list: ['Trendline', 'Comfortline', 'Comfortline <br> long', 'Highline'],
      current1: 0,
      current2: 0,
      showVideo: false,
    };
  },
  methods: {
    play() {
      this.showVideo = true;
    },
  },
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .picking
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: stretch
    margin-bottom: 120px

    +media($land, $scaling)
      margin-bottom: size(120, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(55, $size-port-tablet)
      flex-flow: column nowrap

    +media($port, "<tablet")
      margin-bottom: size(55, $size-port)

    .picking-left-video
      position: relative
      vertical-align: middle

    .picking-play
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 60px
      cursor: pointer
      line-height: 1
      color: $color-white

    .picking-use
      position: relative
      margin-bottom: 42px

      +media($land, $scaling)
        margin-bottom: size(42, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(42, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(42, $size-port)
        overflow: auto
        margin-right: size(-30, $size-port)
        margin-left: size(-30, $size-port)
        padding-left: size(30, $size-port)
        width: auto

      .picking-use-nav
        display: flex
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: stretch
        position: relative
        border-bottom: 1px solid #dfe4e8
        position: relative
        z-index: 1
        margin-bottom: 17px

        +media($land, $scaling)
          margin-bottom: size(17, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(17, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(17, $size-port)
          margin-right: size(-30, $size-port)

        .picking-use-nav-item
          cursor: pointer
          font-size: 14px
          line-height: 1.14
          color: #001e50
          margin-right: 16px
          padding-bottom: 9px
          padding-right: 32px
          border-bottom: 2px solid transparent
          margin-bottom: -1px
          transition: all $anim-global ease-out
          flex: 1

          +media($land, $scaling)
            font-size: size(14, $size-land)
            margin-right: size(16, $size-land)
            padding-bottom: size(9, $size-land)
            padding-right: size(32, $size-land)

          +media($port, ">=tablet")
            font-size: size(14, $size-port-tablet)
            margin-right: size(16, $size-port-tablet)
            padding-bottom: size(9, $size-port-tablet)
            padding-right: size(32, $size-port-tablet)

          +media($port, "<tablet")
            font-size: size(14, $size-port)
            margin-right: size(16, $size-port)
            padding-bottom: size(9, $size-port)
            padding-right: size(32, $size-port)
            flex: 1

          &.-disable
            opacity: 0.3
            color: #0040c5
            cursor: default
            pointer-events: none
            border-bottom-color: #dfe4e8

          &.-active
            color: #0040c5
            cursor: default
            border-bottom-color: #0040c5

          &:hover
            text-decoration: none
            color: #0040c5

          &:last-child
            margin-right: 0
            // padding-right: 0

            +media($port, "<tablet")
              padding-right: size(16, $size-port)

      .picking-use-pics
        display: flex
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: flex-start
        margin-bottom: 18px

        +media($land, $scaling)
          margin-bottom: size(18, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(18, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(18, $size-port)

        img
          max-width: none
          height: 39px

          +media($land, $scaling)
            height: size(37, $size-land)

          +media($port, ">=tablet")
            height: size(37, $size-port-tablet)

          +media($port, "<tablet")
            height: size(37, $size-port)

    .picking-right
      margin-left: 61px
      width: 421px
      padding-top: 55px

      +media($land, $scaling)
        margin-left: size(61, $size-land)
        width: size(421, $size-land)
        padding-top: size(55, $size-land)

      +media($port, ">=tablet")
        margin-left: 0
        width: size(421, $size-port-tablet)
        padding-right: size(30, $size-port-tablet)
        padding-left: size(30, $size-port-tablet)
        padding-top: size(55, $size-port-tablet)
        width: 100%

      +media($port, "<tablet")
        margin-left: 0
        width: 100%
        padding: 0 size(30, $size-port)

      .picking-right-title
        font-size: 20px
        line-height: 1.2
        font-family: $family-alt
        font-weight: bold
        margin-bottom: 51px

        +media($land, $scaling)
          font-size: size(20, $size-land)
          margin-bottom: size(51, $size-land)

        +media($port, ">=tablet")
          font-size: size(20, $size-port-tablet)
          margin-bottom: size(51, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(13, $size-port)
          margin-bottom: size(60, $size-port)

      p
        margin: 0 0 37px

        +media($land, $scaling)
          margin-bottom: size(37, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(37, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(37, $size-port)

      h3
        margin: 0
        font-size: 48px
        font-weight: 300
        line-height: 1.17
        font-family: $family-alt
        margin-bottom: 47px

        +media($land, $scaling)
          font-size: size(48, $size-land)
          margin-bottom: size(47, $size-land)

        +media($port, ">=tablet")
          font-size: size(48, $size-port-tablet)
          margin-bottom: size(47, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(44, $size-port)
          margin-bottom: size(47, $size-port)
          text-align: center
          color: $color-white
          margin-left: size(-30, $size-port)
          margin-right: size(-30, $size-port)
          height: size(665, $size-port)
          font-weight: bold
          position: relative
          padding-bottom: size(44, $size-port)
          display: flex
          flex-flow: column nowrap
          justify-content: flex-end
          align-items: center
          line-height: 1.18
          font-weight: 300
          padding-bottom: size(62, $size-port)
          padding-left: size(30, $size-port)
          padding-right: size(30, $size-port)

          b
            display: block

          .btn
            position: relative
            font-size: size(14, $size-port)
            font-weight: normal

          span
            position: relative
            margin-bottom: size(45, $size-port)
            padding-left: size(15, $size-port)
            padding-right: size(15, $size-port)

          img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: 50% 50%
            position: absolute
            top: 0
            left: 0

          .picking-right-video
            width: 100%
            height: 100%
            object-fit: cover
            object-position: 50% 50%
            position: absolute
            top: 0
            left: 0
            background-color: $color-black

        b
          font-weight: bold

    .picking-left
      position: relative
      width: 54%
      display: flex
      flex-flow: column nowrap
      justify-content: flex-end
      align-items: flex-end

      +media($port, ">=tablet")
        width: 100%

      .picking-left-pic
        width: 779px
        height: 469px
        object-fit: cover
        object-position: 50% 50%
        vertical-align: middle

        +media($land, $scaling)
          width: size(779, $size-land)
          height: size(469, $size-land)

        +media($port, ">=tablet")
          width: size(779, $size-port-tablet)
          height: size(469, $size-port-tablet)

        +media($port, "<tablet")
          width: size(779, $size-port)
          height: size(469, $size-port)

      .picking-left-pic-1
        width: 480px
        height: 270px
        object-fit: cover
        object-position: 50% 50%
        margin-right: 7%

        +media($land, $scaling)
          width: size(480, $size-land)
          height: size(270, $size-land)

        +media($port, ">=tablet")
          width: size(480, $size-port-tablet)
          height: size(270, $size-port-tablet)

        +media($port, "<tablet")
          width: size(480, $size-port)
          height: size(270, $size-port)

      .picking-left-pic-2
        width: 180px
        height: 135px
        object-fit: cover
        object-position: 50% 50%
        position: absolute
        bottom: 29px
        right: 0

        +media($land, $scaling)
          bottom: size(29, $size-land)
          width: size(180, $size-land)
          height: size(135, $size-land)

        +media($port, ">=tablet")
          bottom: size(29, $size-port-tablet)
          width: size(180, $size-port-tablet)
          height: size(135, $size-port-tablet)

        +media($port, "<tablet")
          bottom: size(29, $size-port)
          width: size(180, $size-port)
          height: size(135, $size-port)
</style>
