<template lang="pug">
  main.content
    Entry

    Splitter

    transition(name="slide-top-smile" mode="out-in")
      keep-alive
        component(:is="`Car${this.$store.getters.currentModel}`")

    Special1

    Registration

    Prizes

    Special2

    // Give

    History
</template>

<script>
import Entry from '../components/home/Entry.vue';
import Splitter from '../components/home/Splitter.vue';
import Car1 from '../components/home/multivan/Multivan.vue';
import Car2 from '../components/home/caravelle/Caravelle.vue';
import Car3 from '../components/home/california/California.vue';
import Special1 from '../components/home/Special1.vue';
import Special2 from '../components/home/Special2.vue';
import Registration from '../components/home/Registration.vue';
import Prizes from '../components/home/Prizes.vue';
import Give from '../components/home/Give.vue';
import History from '../components/home/History.vue';

export default {
  name: 'Home',

  methods: {},

  mounted() {
  },

  components: {
    Entry,
    Splitter,
    Car1,
    Car2,
    Car3,
    Special1,
    Special2,
    Registration,
    Prizes,
    Give,
    History,
  },
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

</style>
