<template lang="pug">
  section.entry
    v-lazy-image.entry-bg(
      v-if="!$store.getters.isPortrait && !isIE11"
      :src="require(`../../assets/images/entry.${$webp ? 'webp' : 'jpg'}`)")

    v-lazy-image.entry-bg(
      v-if="$store.getters.isPortrait && !isIE11"
      :src="require(`../../assets/images/entry-mobile.${$webp ? 'webp' : 'jpg'}`)")

    img.entry-bg(
      v-if="!$store.getters.isPortrait && isIE11"
      :src="require(`../../assets/images/entry.jpg`)")

    .container
      h1 VOLKSWAGEN 6.1

      h2 Образец для подражания. <br> Новая версия

      p
        | Участвуйте в программе «Ваш T6.1 уже ближе»

      a.btn.-white(href="#" v-scroll-to="{el: '#give', offset: -50}") Участвовать в розыгрыше

    LineAnimate
</template>

<script>
import { isIE11 } from '@/utils/device';
import LineAnimate from '../LineAnimate.vue';

export default {
  name: 'Entry',
  data() {
    return {
      ready: false,
      isIE11,
    };
  },
  methods: {},
  mounted() {},
  components: { LineAnimate },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .entry
    overflow: hidden
    min-height: 100vh
    background-color: $color-black
    position: relative
    color: $color-white
    padding-top: 175px

    +media($land, $scaling)
      padding-top: size(175, $size-land)

    +media($port, ">=tablet")
      padding-top: 57vh

    +media($port, "<tablet")
      padding-top: 47vh

    .container
      position: relative

    .btn
      margin-top: 46px

      +media($land, $scaling)
        margin-top: size(46, $size-land)

      +media($port, ">=tablet")
        margin-top: size(65, $size-port-tablet)

      +media($port, "<tablet")
        margin-top: size(65, $size-port)

    p
      margin: 0
      font-size: 16px
      line-height: 1.25

      +media($land, $scaling)
        font-size: size(16, $size-land)

      +media($port, ">=tablet")
        font-size: size(16, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(16, $size-port)

    h2
      margin: 0
      font-size: 24px
      line-height: 1.333333333
      font-weight: 300
      font-family: $family-alt
      margin-bottom: 9px

      +media($land, $scaling)
        font-size: size(24, $size-land)
        margin-bottom: size(9, $size-land)

      +media($port, ">=tablet")
        font-size: size(24, $size-port-tablet)
        margin-bottom: size(9, $size-port-tablet)
        line-height: 1.5

      +media($port, "<tablet")
        font-size: size(24, $size-port)
        margin-bottom: size(9, $size-port)
        line-height: 1.5

    h1
      margin: 0
      font-size: 60px
      line-height: 1.2
      font-weight: bold
      font-family: $family-alt

      +media($land, $scaling)
        font-size: size(60, $size-land)

      +media($port, ">=tablet")
        font-size: size(60, $size-port-tablet)
        margin-bottom: size(10, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(32, $size-port)
        margin-bottom: size(10, $size-port)

    .entry-bg
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%

      +media($port)
        object-position: 50% 0

    *::-ms-backdrop, .entry-bg
      width: 100%
      height: auto

</style>
