<template lang="pug">
  section.give
    .container.-w
      h3.give-title Розыгрыш <b>призов</b>

      .give-col
        .give-time
          .give-time-ttile До окончания розыгрыша осталось

          .give-time-item 30 дней

          .give-time-item 2 часа : 30 минут

          .give-time-note По московскому времени

          a.btn(href="#") Правила акции

          a.btn.-grey(href="#") Посмотреть результаты

        //.news(v-if="0")
          a(href="#").news-title
            span Новости
            i.icon.i_chevron-down

          a.news-item(href="#" v-for="(item, index) in 3")
            .news-item-pic
              v-lazy-image(:src="require(`../../assets/images/news/1.${$webp ? 'webp' : 'png'}`)")

            p Nam liber tempor cum soluta nobis eleifend option congue nihil
</template>

<script>
export default {
  name: 'Give',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .news
    width: 365px
    margin-top: -3px

    +media($land, $scaling)
      width: size(365, $size-land)
      margin-top: size(-3, $size-land)

    +media($port, ">=tablet")
      width: size(365, $size-port-tablet)
      margin-top: size(-3, $size-port-tablet)

    +media($port, "<tablet")
      width: auto
      margin-top: size(-3, $size-port)

    .news-item
      margin-bottom: 19px
      padding-bottom: 19px
      border-bottom: solid 1px rgba(151, 151, 151, .8)
      font-size: 16px
      line-height: 1.5
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: flex-start
      text-decoration: none
      color: #000

      +media($land, $scaling)
        margin-bottom: size(19, $size-land)
        padding-bottom: size(19, $size-land)
        font-size: size(16, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(19, $size-port-tablet)
        padding-bottom: size(19, $size-port-tablet)
        font-size: size(16, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(19, $size-port)
        padding-bottom: size(19, $size-port)
        font-size: size(16, $size-port)

      .news-item-pic
        margin-right: 16px
        width: 87px
        min-width: 87px

        +media($land, $scaling)
          margin-right: size(16, $size-land)
          width: size(87, $size-land)
          min-width: size(87, $size-land)

        +media($port, ">=tablet")
          margin-right: size(16, $size-port-tablet)
          width: size(87, $size-port-tablet)
          min-width: size(87, $size-port-tablet)

        +media($port, "<tablet")
          margin-right: size(16, $size-port)
          width: size(157, $size-port)
          min-width: size(157, $size-port)

      p
        margin: 0

      &:last-child
        margin-bottom: 0
        border-bottom: 0

    .news-title
      font-weight: bold
      font-size: 16px
      font-family: $family-alt
      margin-bottom: 26px
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center
      text-decoration: none

      +media($land, $scaling)
        font-size: size(16, $size-land)
        margin-bottom: size(26, $size-land)

      +media($port, ">=tablet")
        font-size: size(16, $size-port-tablet)
        margin-bottom: size(26, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        margin-bottom: size(26, $size-port)

      .icon
        transform: rotate(-90deg)
        font-size: .7em
        margin-left: 11px

        +media($land, $scaling)
          margin-left: size(11, $size-land)

        +media($port, ">=tablet")
          margin-left: size(11, $size-port-tablet)

        +media($port, "<tablet")
          margin-left: size(11, $size-port)

  .give
    margin-bottom: 107px

    +media($land, $scaling)
      margin-bottom: size(107, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(107, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(107, $size-port)

    .give-time
      width: 310px

      +media($land, $scaling)
        width: size(310, $size-land)

      +media($port, ">=tablet")
        width: size(310, $size-port-tablet)

      +media($port, "<tablet")
        width: auto
        margin-bottom: 30px

      .btn
        margin-bottom: 19px

        +media($land, $scaling)
          margin-bottom: size(19, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(19, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(19, $size-port)

      .give-time-note
        color: #dfe4e8
        font-size: 12px
        line-height: 1.33
        margin-bottom: 33px

        +media($land, $scaling)
          font-size: size(12, $size-land)
          margin-bottom: size(33, $size-land)

        +media($port, ">=tablet")
          font-size: size(12, $size-port-tablet)
          margin-bottom: size(33, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(12, $size-port)
          margin-bottom: size(33, $size-port)

      .give-time-item
        font-family: $family-alt
        font-size: 28px
        line-height: 1.14
        font-weight: 300
        border-bottom: 1px solid #c2cacf
        margin-bottom: 9px
        padding-bottom: 11px

        +media($land, $scaling)
          font-size: size(28, $size-land)
          margin-bottom: size(9, $size-land)
          padding-bottom: size(11, $size-land)

        +media($port, ">=tablet")
          font-size: size(28, $size-port-tablet)
          margin-bottom: size(9, $size-port-tablet)
          padding-bottom: size(11, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(28, $size-port)
          margin-bottom: size(9, $size-port)
          padding-bottom: size(11, $size-port)

      .give-time-ttile
        font-weight: bold
        margin-bottom: 5px
        font-size: 14px
        line-height: 1.43

        +media($land, $scaling)
          margin-bottom: size(5, $size-land)
          font-size: size(14, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(5, $size-port-tablet)
          font-size: size(14, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(5, $size-port)
          font-size: size(14, $size-port)

    .give-col
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: flex-start

      +media($port, "<tablet")
        display: block

    .give-title
      margin: 0 0 50px
      font-size: 32px
      font-weight: 300
      line-height: 1.13
      font-family: $family-alt

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(50, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(50, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(32, $size-port)
        margin-bottom: size(50, $size-port)

      b
        font-weight: bold

</style>
