<template lang="pug">
  section.history
    .container.-w
      h3.history-title Истории поколения <b>Т</b>

    SliderNav#history

    transition(name="slide-top-smile" mode="out-in")
      keep-alive
        component(:is="`Article${this.$store.getters.currentArticle}`")

    Next(v-show="$store.getters.currentArticle < this.$store.getters.totalArticles")
</template>

<script>
/* eslint-disable */
import Article1 from './article/Article1.vue';
import Article2 from './article/Article2.vue';
import Article3 from './article/Article3.vue';
import Article4 from './article/Article4.vue';
import Article5 from './article/Article5.vue';
import Article6 from './article/Article6.vue';
import Next from './article/Next.vue';
import SliderNav from './article/SliderNav.vue';

export default {
  name: 'History',
  data() {
    return {
      ready: false,
      currentComponent: `Article${this.$store.getters.currentArticle}`,
    };
  },
  methods: {},
  mounted() {
  },
  components: { Article1, Article2, Article3, Article4, Article5, Article6, Next, SliderNav },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .history
    .history-title-entry
      margin: 0
      line-height: 1.142857143
      margin-bottom: 68px
      font-size: 14px
      max-width: 74%

      +media($land, $scaling)
        margin-bottom: size(68, $size-land)
        font-size: size(14, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(68, $size-port-tablet)
        font-size: size(14, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(68, $size-port)
        font-size: size(14, $size-port)
        max-width: none

    .history-title
      margin: 0 0 68px 0
      font-size: 48px
      font-weight: 300
      font-family: $family-alt
      line-height: 1.17

      +media($land, $scaling)
        font-size: size(48, $size-land)
        margin-bottom: size(68, $size-land)

      +media($port, ">=tablet")
        font-size: size(48, $size-port-tablet)
        margin-bottom: size(68, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(48, $size-port)
        margin-bottom: size(68, $size-port)

      b
        font-weight: bold
</style>
