<template lang="pug">
  .popup-slider
    i.popup-slider-close.icon.i_close(v-hotkey="keymap" @click="$emit('close')")

    swiper.popup-slider-item(:options="swiperOption" ref="myPopupSwiper")
      swiper-slide.popup-slide(
        :key="index"
        v-for="(pis, index) in images")
        img.popup-slide-pic(
          :src="require(`../../assets/images/${pis}.${$webp ? 'webp' : 'jpeg'}`)")

      .popup-slider-prev.icon.i_arrow-left(slot="button-prev")

      .popup-slider-next.icon.i_arrow-right(slot="button-next")

      .swiper-pagination(slot="pagination")

</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
// eslint-disable-next-line
import 'swiper/dist/css/swiper.css';

export default {
  name: 'PopupSlider',

  props: ['images'],

  data() {
    return {
      ready: false,
      swiperOption: {
        speed: 600,
        slidesPerView: 1,
        spaceBetween: 30,
        keyboard: {
          enabled: true,
          onlyInViewport: false,
        },
        navigation: {
          nextEl: '.popup-slider-next',
          prevEl: '.popup-slider-prev',
        },
        pagination: {
          el: '.popup-slider .swiper-pagination',
          clickable: true,
        },
      },
    };
  },

  computed: {
    swiper() {
      return this.$refs.myPopupSwiper.swiper;
    },

    keymap() {
      const f = () => {
        this.$emit('close');
      };

      return {
        esc: f,
      };
    },
  },

  methods: {},

  mounted() {
  },

  components: {
    swiper,
    swiperSlide,
  },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .popup-slider
    z-index: 10000
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $color-white

    //

    .swiper-pagination
      bottom: 34px

      +media($land, $scaling)
        bottom: size(34, $size-land)

      +media($port, ">=tablet")
        bottom: size(34, $size-port-tablet)

      +media($port, "<tablet")
        bottom: size(18, $size-port)

    .swiper-pagination-bullet
      width: 15px
      height: 15px
      background-color: #dfe4e8
      cursor: pointer
      border-radius: 100%
      opacity: 1

      +media($land, $scaling)
        width: size(15, $size-land)
        height: size(15, $size-land)

      +media($port, ">=tablet")
        width: size(15, $size-port-tablet)
        height: size(15, $size-port-tablet)

      +media($port, "<tablet")
        width: size(15, $size-port)
        height: size(15, $size-port)

      &.swiper-pagination-bullet-active
        background-color: var(--infographics-order-1)

    .popup-slider-prev, .popup-slider-next
      user-select: none
      position: absolute
      border-radius: 100%
      left: 43px
      width: 43px
      height: 43px
      background-color: var(--image-active)
      color: $color-white
      font-size: 1.2em
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      cursor: pointer
      top: 50%
      transform: translateY(-50%)
      z-index: 100

      +media($land, $scaling)
        left: size(43, $size-land)
        width: size(43, $size-land)
        height: size(43, $size-land)

      +media($port, ">=tablet")
        left: size(43, $size-port-tablet)
        width: size(43, $size-port-tablet)
        height: size(43, $size-port-tablet)

      +media($port, "<tablet")
        left: size(20, $size-port)
        width: size(43, $size-port)
        height: size(43, $size-port)

      &:active, &:focus
        outline: none

      &.swiper-button-disabled
        opacity: 0.3
        pointer-events: none

    .popup-slider-next
      left: auto
      right: 43px

      +media($land, $scaling)
        right: size(43, $size-land)

      +media($port, ">=tablet")
        right: size(43, $size-port-tablet)

      +media($port, "<tablet")
        right: size(20, $size-port)

    .popup-slide
      position: relative
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      width: 100%
      height: 100vh

      img
        width: 100vw
        height: 100vh
        object-fit: cover
        object-position: 50% 50%

        +media($port)
          object-fit: contain

    .popup-slider-close
      z-index: 100
      cursor: pointer
      user-select: none
      position: absolute
      right: 44px
      top: 51px
      border-radius: 100%
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      width: 43px
      height: 43px
      background-color: #dfe4e8
      font-size: 1.2em
      color: var(--image-active)
      transition: all $anim-global ease-out

      &:hover
        transform: rotate(-360deg)

      +media($land, $scaling)
        right: size(44, $size-land)
        top: size(51, $size-land)
        width: size(43, $size-land)
        height: size(43, $size-land)

      +media($port, ">=tablet")
        right: size(44, $size-port-tablet)
        top: size(51, $size-port-tablet)
        width: size(43, $size-port-tablet)
        height: size(43, $size-port-tablet)

      +media($port, "<tablet")
        right: size(20, $size-port)
        top: size(14, $size-port)
        width: size(43, $size-port)
        height: size(43, $size-port)
</style>
