<template lang="pug">
  section.prizes
    .container.-w
      h3.prizes-title Призы

      .prizes-slider-wrapper
        swiper.prizes-slider(:options="swiperOption" ref="mySwiper")
          swiper-slide.prizes-slide(
            :key="index"
            v-for="(prize, index)  in prizes")
            .prizes-slide-pic
              v-lazy-image(
                :src="`/models/T6-1/resource/prizes/${prize.pic}.jpg`")

            .prizes-slide-title {{prize.title}}

            p {{prize.desc}}

        .swiper-button-prev.-l1.icon.i_arrow-left(slot="button-prev")

        .swiper-button-next.-r1.icon.i_arrow-right(slot="button-next")

</template>

<script>
import axios from 'axios';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
// eslint-disable-next-line
import 'swiper/dist/css/swiper.css';

export default {
  name: 'Prizes',
  data() {
    return {
      ready: false,
      prizes: null,
      swiperOption: {
        speed: 600,
        slidesPerView: 3,
        spaceBetween: 45,
        navigation: {
          nextEl: '.-r1',
          prevEl: '.-l1',
        },
        breakpoints: {
          767: {
            slidesPerView: 'auto',
            spaceBetween: 40,
          },
        },
      },
    };
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
  },
  methods: {
    getPrizes() {
      axios.get('/models/T6-1/resource/prizes/prizes.json')
        .then((r) => {
          this.prizes = r.data;
        });
    },
  },
  mounted() {
    this.getPrizes();
  },
  components: {
    swiper,
    swiperSlide,
  },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .prizes
    margin-bottom: 61px

    +media($land, $scaling)
      margin-bottom: size(61, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(61, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(61, $size-port)

    .prizes-slider-wrapper
      position: relative

      +media($port, "<tablet")
        margin-left: size(-30, $size-port)
        margin-right: size(-30, $size-port)

      .swiper-button-prev, .swiper-button-next
        width: 44px
        height: 44px
        opacity: 0.5
        border-radius: 100%
        background: #dfe4e8
        display: inline-flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center
        font-size: 1.5em
        color: #001e50
        margin: 0
        top: 18%
        left: -78px

        +media($land, $scaling)
          width: size(44, $size-land)
          height: size(44, $size-land)
          left: size(-78, $size-land)

        +media($port, ">=tablet")
          width: size(44, $size-port-tablet)
          height: size(44, $size-port-tablet)
          left: size(-20, $size-port-tablet)

        +media($port, "<tablet")
          width: size(44, $size-port)
          height: size(44, $size-port)
          left: 0
          top: 0
          display: none

        &.swiper-button-disabled
          display: none

        &:active, &:focus
          outline: none

      .swiper-button-next
        right: -78px
        left: auto

        +media($land, $scaling)
          right: size(-78, $size-land)

        +media($port, ">=tablet")
          right: size(-20, $size-port-tablet)

        +media($port, "<tablet")
          display: none

    .prizes-slider
      +media($port, "<tablet")
        padding-left: size(30, $size-port)
        padding-right: size(-30, $size-port)

      .prizes-slide
        font-weight: 300
        font-family: $family-alt

        +media($port, "<tablet")
          width: size(259, $size-port)

        .prizes-slide-pic
          margin-bottom: 22px

          +media($land, $scaling)
            margin-bottom: size(22, $size-land)

          +media($port, ">=tablet")
            margin-bottom: size(22, $size-port-tablet)

          +media($port, "<tablet")
            margin-bottom: size(22, $size-port)

          img
            max-width: 80%

        .prizes-slide-title
          font-weight: bold
          margin-bottom: 9px

          +media($land, $scaling)
            margin-bottom: size(9, $size-land)

          +media($port, ">=tablet")
            margin-bottom: size(9, $size-port-tablet)

          +media($port, "<tablet")
            margin-bottom: size(9, $size-port)

        p
          margin: 0
          max-width: 80%

    .prizes-title
      font-weight: bold
      font-family: $family-alt
      line-height: 1.13
      font-size: 32px
      margin: 0 0 30px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(30, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(30, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(32, $size-port)
        margin-bottom: size(30, $size-port)
        font-weight: 300

</style>
