<template lang="pug">
  section.registration#give
    .container
      .registration-top-title Регистрация завершена

      h3.registration-title Ваш <b>T6.1</b> всегда рядом

      .registration-slider-wrapper
        LineAnimate.-blue(v-if="$store.getters.isMobile")

        .registration-slider
          .registration-slide
            .registration-slide-pic
              v-lazy-image(
                :src="require(`../../assets/images/reg/mTBpG4vc.png`)")

              .registration-slide-pic-ico.icon.i_award-winner-premium

            .registration-slide-text
              b {{'Итоги конкурса и розыгрыш дорожного холодильника и других ценных призов будут объявлены совсем скоро.' | typograf}}
              |
              div {{'Победители получат письмо на электронную почту.' | typograf}}
              br
              b Следите за обновлениями!
              br
              br
              a.btn(href="./resource/Правила VW_Режим ожидания 6.1_20_10.2020.pdf" target="_blank") Правила программы
</template>

<script>
import { TheMask } from 'vue-the-mask';
import { required, email, sameAs } from 'vuelidate/lib/validators';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import LineAnimate from '../LineAnimate.vue';
import Loading from '../Loading.vue';
// eslint-disable-next-line
import 'swiper/dist/css/swiper.css';

export default {
  name: 'Registration',
  data() {
    return {
      ready: false,
      projectid: 704,
      firstname: null,
      lastname: null,
      mobphone: null,
      email: null,
      feedback: null, // 1 or 0
      gender: 'male',
      swiperOption: {
        speed: 600,
        centeredSlides: true,
        slidesPerView: 1,
        spaceBetween: 20,
        navigation: {
          nextEl: '.-r',
          prevEl: '.-l',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
      errorMessage: null,
      submitStatus: null,
      saved: null,
      rules: null,
    };
  },
  validations() {
    const validate = {
      feedback: {
        sameAs: sameAs(() => true),
        required,
      },

      email: {
        email,
        required,
      },

      firstname: {
        required,
      },

      lastname: {
        required,
      },
    };

    return validate;
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
  },
  methods: {
    send() {
      this.$v.$touch();

      this.errorMessage = null;

      if (!this.$v.$invalid) {
        if (this.submitStatus !== 'PENDING') {
          this.submitStatus = 'PENDING';

          this.$store.dispatch('SendContacts', {
            // projectid: 704,
            firstname: this.firstname,
            lastname: this.lastname,
            mobphone: this.mobphone,
            email: this.email,
            feedback: +this.feedback,
            gender: this.gender,
          })
            .then((r) => {
              if (!r.status_code) {
                this.firstname = null;
                this.lastname = null;
                this.mobphone = null;
                this.email = null;

                this.$v.$reset();
              }

              this.submitStatus = null;

              this.saved = true;
            })
            .catch(() => {
              this.submitStatus = null;

              this.errorMessage = true;
            });
        }
      }
    },
  },
  mounted() {
  },
  components: {
    TheMask, Loading, swiper, swiperSlide, LineAnimate,
  },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .registration
    margin-bottom: 99px

    +media($land, $scaling)
      margin-bottom: size(99, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(99, $size-port-tablet)

    +media($port, "<tablet")
      margin-bottom: size(82, $size-port)

    //

    .registration-ok
      font-weight: 300
      max-width: 342px
      margin: 0 auto

      .registration-ok-title
        font-size: 2.5em
        margin-bottom: 30px

        &.-red
          color: $color-red

    .registration-form-radio-item
      display: inline-flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center
      margin-right: 30px

      &:last-child
        margin-right: 0

    .registration-form-radio-label
      margin-right: 30px

      +media($land, $scaling)
        margin-right: size(30, $size-land)

      +media($port, ">=tablet")
        margin-right: size(30, $size-port-tablet)

      +media($port, "<tablet")
        margin-right: size(20, $size-port)

    .registration-form-radio
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center
      color: #001e50
      font-size: 15px
      line-height: 1.25

      +media($land, $scaling)
        font-size: size(15, $size-land)

      +media($port, ">=tablet")
        font-size: size(15, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(15, $size-port)

    .registration-top-title
      text-align: center
      margin-bottom: 10px
      font-size: 22px
      font-weight: bold
      font-family: $family-alt

      +media($land, $scaling)
        margin-bottom: size(10, $size-land)
        font-size: size(22, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(10, $size-port-tablet)
        font-size: size(22, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(10, $size-port)
        font-size: size(16, $size-port)

    .registration-form-ok
      color: $color-green

    .registration-form-btns
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center

      .btn
        margin-right: 15px

    .flex-row
      +media($port, "<tablet")
        display: block

        .flex-row-item
          width: 100%
          position: relative
          margin-bottom: size(201, $size-port)

          &:last-child
            margin-bottom: 0

    .registration-slider-wrapper
      position: relative
      width: 539px
      max-width: 100%
      margin: 0 auto

      +media($port, "<tablet")
        padding-bottom: size(50, $size-port)

      .line-animate
        +media($port, "<tablet")
          bottom: size(-186, $size-port)
          height: size(90, $size-port)

      .swiper-button-prev, .swiper-button-next
        width: 44px
        height: 44px
        opacity: 0.5
        border-radius: 100%
        background: #dfe4e8
        display: inline-flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center
        font-size: 1.5em
        color: #001e50
        margin: 0
        top: 80%
        left: -22px

        +media($land, $scaling)
          width: size(44, $size-land)
          height: size(44, $size-land)
          left: size(-22, $size-land)

        +media($port, ">=tablet")
          width: size(44, $size-port-tablet)
          height: size(44, $size-port-tablet)
          left: size(-22, $size-port-tablet)

        +media($port, "<tablet")
          width: size(44, $size-port)
          height: size(44, $size-port)
          left: 0
          top: size(25, $size-port)

        &:active, &:focus
          outline: none

      .swiper-button-next
        right: -22px
        left: auto

        +media($land, $scaling)
          right: size(-22, $size-land)

        +media($port, ">=tablet")
          right: size(-22, $size-port-tablet)

        +media($port, "<tablet")
          right: 0

    .registration-slider
      .swiper-pagination
        text-align: left
        left: 55px
        bottom: 0
        display: flex
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: center

        +media($land, $scaling)
          left: size(50, $size-land)

        +media($port, ">=tablet")
          left: size(50, $size-port-tablet)

        +media($port, "<tablet")
          justify-content: center
          left: 0
          right: 0

        .swiper-pagination-bullet
          width: 4px
          height: 4px
          background-color: #001e50
          opacity: 1
          cursor: pointer

          &.swiper-pagination-bullet-active
            width: 8px
            height: 8px
            background-color: #001e50

      .registration-slide
        position: relative

        .registration-slide-pic-ico
          border-radius: 100%
          width: 69px
          height: 69px
          background-color: #dfe4e8
          position: absolute
          bottom: -15px
          left: 47px
          display: inline-flex
          flex-flow: row nowrap
          justify-content: center
          align-items: center
          font-size: 2.2em
          color: #001e50

          +media($land, $scaling)
            width: size(69, $size-land)
            height: size(69, $size-land)
            bottom: size(-15, $size-land)
            left: size(47, $size-land)

          +media($port, ">=tablet")
            width: size(69, $size-port-tablet)
            height: size(69, $size-port-tablet)
            bottom: size(-15, $size-port-tablet)
            left: size(47, $size-port-tablet)

          +media($port, "<tablet")
            width: size(100, $size-port)
            height: size(100, $size-port)
            bottom: 0
            left: 50%
            transform: translateX(-50%)

        .registration-slide-pic

          height: 331px
          position: relative

          +media($land, $scaling)
            width: size(539, $size-land)
            height: size(331, $size-land)

          +media($port, ">=tablet")
            width: size(539, $size-port-tablet)
            height: size(331, $size-port-tablet)

          +media($port, "<tablet")
            width: 100%
            height: size(100, $size-port)

            img
              display: none

        .registration-slide-text
          font-size: 13px
          line-height: 1.3
          padding: 33px 57px

          +media($land, $scaling)
            font-size: size(13, $size-land)
            padding: size(33, $size-land) size(57, $size-land)

          +media($port, ">=tablet")
            font-size: size(13, $size-port-tablet)
            padding: size(33, $size-port-tablet) size(57, $size-port-tablet)

          +media($port, "<tablet")
            font-size: size(13, $size-port)
            padding: size(25, $size-port) 0 size(30, $size-port)
            text-align: center
            color: var(--inverted-disabled)

          b

            font-size: 1.5em
            display: block
            margin-bottom: 5px

            +media($land, $scaling)
              margin-bottom: size(5, $size-land)

            +media($port, ">=tablet")
              margin-bottom: size(5, $size-port-tablet)

            +media($port, "<tablet")
              margin-bottom: size(5, $size-port)

        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: 50% 50%

    .registration-ch
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center
      line-height: 1.25
      font-size: 15px
      color: #001e50
      margin-bottom: 23px

      +media($land, $scaling)
        font-size: size(15, $size-land)
        margin-bottom: size(23, $size-land)

      +media($port, ">=tablet")
        font-size: size(15, $size-port-tablet)
        margin-bottom: size(23, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(15, $size-port)
        margin-bottom: size(23, $size-port)

    .container
      max-width: 1012px

      +media($land, $scaling)
        max-width: size(1012, $size-land)

      +media($port, ">=tablet")
        max-width: size(1012, $size-port-tablet)

      +media($port, "<tablet")
        max-width: size(1012, $size-port)

    .registration-form
      max-width: 342px
      margin: 0 auto

      +media($land, $scaling)
        max-width: size(342, $size-land)

      +media($port, ">=tablet")
        max-width: size(342, $size-port-tablet)

      +media($port, "<tablet")
        max-width: size(342, $size-port)

      .registration-form-warn
        font-size: 12px
        line-height: 1.33
        color: #001e50
        margin: 0 0 39px 0

        +media($land, $scaling)
          font-size: size(12, $size-land)
          margin-bottom: size(39, $size-land)

        +media($port, ">=tablet")
          font-size: size(12, $size-port-tablet)
          margin-bottom: size(39, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(12, $size-port)
          margin-bottom: size(39, $size-port)

      .registration-form-item
        margin-bottom: 28px

        +media($land, $scaling)
          margin-bottom: size(28, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(28, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(28, $size-port)

        &:last-of-type
          margin-bottom: 35px

          +media($land, $scaling)
            margin-bottom: size(35, $size-land)

          +media($port, ">=tablet")
            margin-bottom: size(35, $size-port-tablet)

          +media($port, "<tablet")
            margin-bottom: size(35, $size-port)

    .registration-sub-title
      font-weight: bold
      font-size: 16px
      line-height: 1.5
      margin-bottom: 52px

      +media($land, $scaling)
        font-size: size(16, $size-land)
        margin-bottom: size(52, $size-land)

      +media($port, ">=tablet")
        font-size: size(16, $size-port-tablet)
        margin-bottom: size(52, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        margin-bottom: size(52, $size-port)

    .registration-title
      text-align: center
      font-size: 32px
      font-weight: 300
      font-family: $family-alt
      line-height: 1.17
      margin-bottom: 66px
      margin-top: 0

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(66, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(66, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(28, $size-port)
        margin-bottom: size(25, $size-port)

      b
        font-weight: bold

</style>
