<template lang="pug">
  section.spec
    .spec-left
      .spec-pic
        v-lazy-image(
          :src="require(`../../assets/images/california/spec_banner.jpg`)")

        .spec-pic-text(v-if="$store.getters.isMobile")
          .spec-title Ваш <b>Multivan 6.1</b> <br>уже ближе

          p Получите специальное предложение <br>на покупку нового автомобиля.

    .spec-right
      .spec-title(v-if="!$store.getters.isMobile") Ваш <b>T6.1</b> <br>уже ближе

      p(v-if="!$store.getters.isMobile") Получите специальное предложение <br>на покупку нового автомобиля.

      .spec-btns
        a.btn(href="https://cars.volkswagen-commercial.ru/multivan" target="_blank") Посмотреть автомобили в наличии

        a.btn(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/zapros-predlozheniya/ru/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+" target="_blank") Запросите предложение у дилера

        div
          a.btn(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/carline/+/+/+/+/+/+/+" target="_blank") Тест-драйв

          a.btn(href="https://ap.volkswagen-commercial.ru/credit/garant/" target="_blank") Кредитный калькулятор

        a.btn(href="https://www.volkswagen-commercial.ru/ru/offers-and-products/actions-and-offers.html" target="_blank") Специальные предложения и акции
</template>

<script>
export default {
  name: 'Special1',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .spec
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: stretch
    margin-bottom: 88px
    font-size: 16px
    line-height: 1.5

    +media($land, $scaling)
      margin-bottom: size(88, $size-land)

    +media($port, ">=tablet")
      margin-bottom: size(55, $size-port-tablet)
      flex-flow: column nowrap

    +media($port, "<tablet")
      margin-bottom: size(55, $size-port)

    //

    .spec-btns
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-start
      margin-top: 44px

      +media($land, $scaling)
        margin-top: size(44, $size-land)

      +media($port, ">=tablet")
        margin-top: size(44, $size-port-tablet)

      +media($port, "<tablet")
        margin-top: 0

      .btn
        margin-bottom: 19px

        &:last-child
          margin-bottom: 0

        +media($land, $scaling)
          margin-bottom: size(19, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(19, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(19, $size-port)

      > div
        .btn
          margin-right: 10px

          +media($land, $scaling)
            margin-right: size(10, $size-land)

          +media($port, ">=tablet")
            margin-right: size(10, $size-port-tablet)

            &:last-child
              margin-bottom: size(19, $size-port-tablet)

          +media($port, "<tablet")
            margin-right: size(10, $size-port)

            &:last-child
              margin-bottom: size(19, $size-port)

    p
      margin: 0

    .spec-title
      font-size: 32px
      margin-bottom: 18px
      line-height: 1.1875

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(18, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(18, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(32, $size-port)
        margin-bottom: size(18, $size-port)

    .spec-pic
      width: 779px
      height: 494px
      object-fit: cover
      object-position: 50% 50%
      vertical-align: middle
      position: relative

      +media($land, $scaling)
        width: size(779, $size-land)
        height: size(494, $size-land)

      +media($port, ">=tablet")
        width: size(779, $size-port-tablet)
        height: size(494, $size-port-tablet)

      +media($port, "<tablet")
        width: 100%
        height: size(267, $size-port)
        margin-bottom: size(23, $size-port)

      .spec-pic-text
        position: absolute
        color: $color-white
        padding: 31px 31px 23px
        bottom: 0
        left: 0
        right: 0

        +media($land, $scaling)
          padding: size(31, $size-land) size(31, $size-land) size(23, $size-land)

        +media($port, ">=tablet")
          padding: size(31, $size-port-tablet) size(31, $size-port-tablet) size(23, $size-port-tablet)

        +media($port, "<tablet")
          padding: size(31, $size-port) size(31, $size-port) size(23, $size-port)

      img
        max-width: none
        object-fit: cover
        object-position: 50% 50%
        width: 100%
        height: 100%

    .spec-right
      margin-left: 61px
      width: 421px
      padding-top: 34px

      +media($land, $scaling)
        margin-left: size(61, $size-land)
        width: size(421, $size-land)
        padding-top: size(34, $size-land)

      +media($port, ">=tablet")
        margin-left: 0
        width: size(421, $size-port-tablet)
        padding-right: size(30, $size-port-tablet)
        padding-left: size(30, $size-port-tablet)
        padding-top: size(34, $size-port-tablet)
        width: 100%

      +media($port, "<tablet")
        margin-left: 0
        width: 100%
        padding: 0 size(30, $size-port)

    .spec-left
      position: relative
      width: 54%
      display: flex
      flex-flow: column nowrap
      justify-content: flex-end
      align-items: flex-end

      +media($port)
        width: 100%
</style>
