<template lang="pug">
  section.special
    v-lazy-image(
      :src="require(`../../assets/images/special.jpg`)")

    .container
      .w-40
        .special-title Специальный 6.1

        p Получите специальное предложение <br>на покупку нового автомобиля.

        .special-btns
          a.btn.-white(href="https://ap.volkswagen-commercial.ru/credit/garant/" target="_blank") Кредитный калькулятор

          a.btn.-white(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/carline/+/+/+/+/+/+/+" target="_blank") Тест-драйв

          a.btn.-white(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/zapros-predlozheniya/ru/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+" target="_blank") Запросите предложение у дилера
</template>

<script>
export default {
  name: 'Special',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .special
    height: 294px
    position: relative
    margin-bottom: 77px
    color: $color-white
    padding-bottom: 13px
    background-color: $color-black
    overflow: hidden

    +media($land, $scaling)
      height: size(294, $size-land)
      margin-bottom: size(77, $size-land)
      padding-bottom: size(13, $size-land)

    +media($port, ">=tablet")
      height: size(294, $size-port-tablet)
      margin-bottom: size(77, $size-port-tablet)
      padding-bottom: size(13, $size-port-tablet)

    +media($port, "<tablet")
      height: size(195, $size-port)
      margin-bottom: size(91, $size-port)
      padding-bottom: size(13, $size-port)

    .special-btns
      margin-left: -75%

      +media($port, ">=tablet")
        margin-left: 0

      +media($port, "<tablet")
        margin-left: 0

      .btn
        margin-right: 15px

        +media($land, $scaling)
          margin-right: size(15, $size-land)

        +media($port, ">=tablet")
          margin-right: size(15, $size-port-tablet)
          margin-bottom: 5px

        +media($port, "<tablet")
          margin-right: size(15, $size-port)
          margin-bottom: size(5, $size-port)
          font-size: size(10, $size-port)
          padding: size(5, $size-port) size(10, $size-port)

        &:last-child
          margin-right: 0
          margin-bottom: 0

    p
      margin: 0
      margin-bottom: 42px

      +media($land, $scaling)
        margin-bottom: size(42, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(42, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(24, $size-port)

    .btn
      font-size: 16px

      +media($land, $scaling)
        font-size: size(16, $size-land)

      +media($port, ">=tablet")
        font-size: size(16, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(14, $size-port)

    .special-title
      font-size: 32px
      line-height: 1.5
      font-weight: bold
      margin-bottom: 10px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(10, $size-land)

      +media($port, ">=tablet")
        font-size: size(32, $size-port-tablet)
        margin-bottom: size(10, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(24, $size-port)
        margin-bottom: size(4, $size-port)

    .container
      position: relative
      display: flex
      flex-flow: row nowrap
      justify-content: flex-end
      align-items: center
      height: 100%

      +media($port, "<tablet")
        .w-40
          width: 100%

    img
      position: absolute
      top: 0
      left: 50%
      height: 100%
      transform: translateX(-50%)
      object-fit: cover
      object-position: 50% 50%

</style>
