<template lang="pug">
  section.splitter
    LineAnimate

    .splitter-body
      .container
        h3 Выберите интересующую вас модель

        .splitter-nav
          .splitter-nav-item(
            @click="update(index)"
            :class="{'-active': current === index + 1}"
            v-for="(car, index) in cars") {{car.name}}
</template>

<script>
import LineAnimate from '../LineAnimate.vue';

export default {
  name: 'Splitter',
  data() {
    return {
      ready: false,
      current: 1,
      cars: [
        {
          name: 'Multivan',
          pic: '1',
        },
        {
          name: 'Caravelle',
          pic: '2',
        },
        {
          name: 'California',
          pic: '3',
        },
      ],
    };
  },
  methods: {
    update(num) {
      this.current = num + 1;

      this.$store.commit('UPDATE_CURRENT_MODEL', num + 1);
    },
  },
  mounted() {
  },
  components: { LineAnimate },
};
</script>

<style lang="sass">
  @import "../../styles/mixins/mixins"
  @import "../../styles/vars/variables"

  .splitter
    text-align: center
    position: relative
    padding-top: 53px
    padding-bottom: 123px
    overflow: hidden

    +media($land, $scaling)
      padding-top: size(53, $size-land)
      padding-bottom: size(123, $size-land)

    +media($port, ">=tablet")
      padding-top: size(60, $size-port-tablet)
      padding-bottom: size(50, $size-port-tablet)

    +media($port, "<tablet")
      padding-top: size(60, $size-port)
      padding-bottom: size(50, $size-port)

    .splitter-body
      +media($port)
        display: flex
        flex-flow: column nowrap
        justify-content: stretch
        align-items: stretch

        .splitter-pic
          order: 0

        .container
          width: 100%
          order: 1

    .splitter-nav
      display: inline-flex
      flex-flow: row nowrap
      justify-content: center
      align-items: baseline
      position: relative
      margin-bottom: -12px
      border-bottom: 2px solid #dfe4e8
      position: relative
      z-index: 1

      +media($land, $scaling)
        margin-bottom: size(-12, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(-12, $size-port-tablet)
        width: 100%
        justify-content: flex-start

      +media($port, "<tablet")
        margin-bottom: size(-12, $size-port)
        width: 100%
        justify-content: flex-start

      .splitter-nav-item
        cursor: pointer
        font-size: 20px
        line-height: 1.14
        color: #001e50
        margin-right: 37px
        padding-bottom: 10px
        padding-right: 36px
        border-bottom: 5px solid transparent
        margin-bottom: -2px
        transition: all $anim-global ease-out

        +media($land, $scaling)
          font-size: size(20, $size-land)
          margin-right: size(37, $size-land)
          padding-bottom: size(10, $size-land)
          padding-right: size(36, $size-land)

        +media($port, ">=tablet")
          font-size: size(14, $size-port-tablet)
          margin-right: size(16, $size-port-tablet)
          padding-bottom: size(10, $size-port-tablet)
          padding-right: size(36, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(14, $size-port)
          margin-right: size(16, $size-port)
          padding-bottom: size(10, $size-port)
          padding-right: size(36, $size-port)
          flex: 1

        &.-active
          color: #000
          cursor: default
          border-bottom-color: #000
          font-size: 22px
          font-weight: bold

          +media($land, $scaling)
            font-size: size(22, $size-land)

          +media($port, ">=tablet")
            font-size: size(16, $size-port-tablet)

          +media($port, "<tablet")
            font-size: size(16, $size-port)

        &:hover
          text-decoration: none
          color: #000

        &:last-child
          margin-right: 0

    h3
      font-family: $family-alt
      font-weight: bold
      font-size: 32px
      line-height: 1.13
      text-align: center
      margin: 0 0 36px

      +media($land, $scaling)
        font-size: size(32, $size-land)
        margin-bottom: size(36, $size-land)

      +media($port, ">=tablet")
        text-align: left
        font-size: size(16, $size-port-tablet)
        margin-bottom: size(16, $size-port-tablet)

      +media($port, "<tablet")
        text-align: left
        font-size: size(16, $size-port)
        margin-bottom: size(16, $size-port)

</style>
