<template lang="pug">
  section.bene
    h3(v-if="$store.getters.isPortrait")
      v-lazy-image(
        :src="require(`@/assets/images/caravelle/24@2x.jpg`)")

      div Комфорт уровня <b>6.1</b>

    .container
      h3(v-if="!$store.getters.isPortrait") Комфорт уровня <b>6.1</b>

      .bene-col
        .bene-col-left(v-html="'Среди покупателей Caravelle традиционно очень много владельцев собственного бизнеса&nbsp;&mdash; людей, которую покупают &laquo;машину для себя&raquo;. Покупают, поскольку знают: каждая деталь в&nbsp;кабине служит тому, чтобы водителю, проводящему за&nbsp;рулем по&nbsp;многу часов в&nbsp;день, было удобно. Caravelle T6.1&nbsp;их точно не&nbsp;расстроит: автомобиль стал еще более &laquo;водителеориентированным&raquo;.'")

        .bene-col-right
          .bene-nav
            .bene-nav-item(
              @click="current = index + 1"
              :class="{'-active': current === index + 1}"
              v-for="(item, index) in data"
              href="#") {{item.nav}}

    .bene-info(
      :key="index"
      v-if="current === index + 1"
      v-for="(item, index) in data")
      v-lazy-image(
        :class="'-mod' + index"
        :src="require(`@/assets/images/caravelle/${item.pic}.jpg`)")

      .container
        .bene-info-content
          .bene-info-title {{item.title}}

          p(v-html="item.text")

          a.btn.-full(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/none/+/+/+/+/+/+/+") Записаться на тест-драйв

</template>

<script>
export default {
  name: 'Bene',
  data() {
    return {
      ready: false,
      current: 1,
      data: [
        {
          nav: 'Интерьер',
          pic: '9@2x',
          title: 'Интерьер',
          text: 'Новая передняя панель со&nbsp;множеством вещевых отделений и&nbsp;основательными подстаканниками у&nbsp;передних стоек. Сиденья водителя и&nbsp;переднего пассажира с&nbsp;регулируемыми подлокотниками справа и&nbsp;слева. Высокая безопасная посадка. Инфомедиа-система с&nbsp;сенсорным экраном 6,5 или 8&nbsp;дюймов, подготовкой для разговоров по&nbsp;мобильному в&nbsp;режиме громкой связи и&nbsp;функцией App Connect. Штатная навигационная система, независимая от&nbsp;интернета, и&nbsp;цифровая приборная панель, на&nbsp;которую удобно вывести подробную карту местности, тоже доступны в&nbsp;качестве опций. Впрочем, минуточку. Для Caravelle в&nbsp;исполнении Highline и&nbsp;цифровая приборная панель Digital Cockpit, и&nbsp;инфомедиа-система Discover Media с&nbsp;блоком навигации&nbsp;&mdash; стандартное оборудование. Как того и&nbsp;требуют стандарты 6.1.',
        },
        {
          nav: 'Динамика',
          pic: '14@2x',
          title: 'Динамика',
          text: 'Для семейства T6.1 предлагается выбор современных двухлитровых дизельных двигателей различной мощности. Все отличаются выдающейся экономичностью и&nbsp;прекрасными показателями крутящего момента. Динамичный характер машины не&nbsp;требует частых заездов на&nbsp;заправку. Как, кстати, и&nbsp;на&nbsp;сервис: установленный производителем пробег между заменой масла&nbsp;&mdash; 20&nbsp;000&nbsp;км.',
        },
        {
          nav: 'Цифровой формат коммуникации',
          pic: '8@2x',
          title: 'Цифровой формат коммуникации',
          text: 'Зачем смартфону процессор с&nbsp;трудновообразимыми 8&nbsp;ядрами и&nbsp;оперативная память больше, чем у&nbsp;типичного офисного ноутбука? Для того чтобы поделиться своей вычислительной мощью и&nbsp;прочими возможностями с&nbsp;автомобильной системой! Простое кабельное соединение и&nbsp;несколько минут настройки&nbsp;&mdash; всё, что требуется для подключения вашего телефона на&nbsp;основе Android или iOS. Теперь на&nbsp;центральный дисплей можно вывести онлайн-программу навигации с&nbsp;голосовым управлением, прогноз погоды или интернет-радио с&nbsp;удобным интерфейсом. Используйте возможности всех своих гаджетов на&nbsp;100% уже сегодня. Ведь они так быстро устаревают.',
        },
      ],
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .bene
    position: relative
    padding-top: 87px
    margin-bottom: 80px

    +media($land, $scaling)
      padding-top: size(87, $size-land)
      margin-bottom: size(80, $size-land)

    +media($port, ">=tablet")
      padding-top: size(87, $size-port-tablet)
      margin-bottom: size(80, $size-port-tablet)

    +media($port, "<tablet")
      padding-top: size(24, $size-port)
      margin-bottom: size(50, $size-port)

    //

    .bene-accardion
      width: 100%
      margin-bottom: 30px

      p
        margin: 0 0 5px 0
        visibility: hidden
        position: absolute
        transform: translateX(-3%)

      .bene-accardion-head
        cursor: pointer
        font-weight: bold
        line-height: 1.43
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        color: $color-black
        border-bottom: 2px solid #dfe4e8
        padding-bottom: 3px
        margin-bottom: 5px

        &.-active
          .icon
            transform: rotate(-90deg)

          + p
            transition: all $anim-global ease-out
            visibility: visible
            position: static
            opacity: 1
            transform: none

        .icon
          transition: all $anim-global ease-out
          margin-left: 15px
          font-size: 0.8em

    .bene-info-title
      font-size: 24px
      font-family: $family-alt
      font-weight: bold
      line-height: 1.17
      position: absolute
      left: 0
      top: -59px

      +media($land, $scaling)
        font-size: size(24, $size-land)
        top: size(-59, $size-land)

      +media($port, ">=tablet")
        font-size: size(24, $size-port-tablet)
        top: size(-59, $size-port-tablet)
        position: static

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        top: 0
        position: static
        line-height: 1.5
        margin-bottom: 16px
        width: 100%

    .bene-info-content
      background-color: $color-white
      padding: 58px
      width: 420px
      margin-right: 60px
      line-height: 1.71
      position: relative
      padding-top: 0
      margin-top: -8px
      display: flex
      flex-flow: column nowrap
      justify-content: space-between
      align-items: flex-start

      +media($land, $scaling)
        padding: size(58, $size-land)
        width: size(420, $size-land)
        margin-right: size(60, $size-land)
        margin-top: size(-8, $size-land)
        padding-top: 0

      +media($port, ">=tablet")
        padding: size(58, $size-port-tablet)
        padding-top: 0
        width: size(420, $size-port-tablet)
        margin-right: size(60, $size-port-tablet)
        margin-top: size(-8, $size-port-tablet)

      +media($port, "<tablet")
        padding: size(26, $size-port) 0 0
        width: 100%
        margin-right: 0
        margin-top: 0
        font-size: size(16, $size-port)
        line-height: 1.5
        justify-content: center
        align-items: center

      p
        margin: 0
        margin-bottom: 10px
        width: 100%

        +media($land, $scaling)
          margin-bottom: size(10, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(10, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(34, $size-port)

    .bene-info
      position: relative
      width: 100%
      height: 599px

      +media($land, $scaling)
        height: size(599, $size-land)

      +media($port, ">=tablet")
        height: size(599, $size-port-tablet)

      +media($port, "<tablet")
        height: auto

      .container
        position: relative
        height: 100%
        display: flex
        flex-flow: row nowrap
        justify-content: flex-end
        align-items: stretch

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

        +media($port, "<tablet")
          height: size(245, $size-port)
          position: static
          object-position: 25% 50%

        &.-mod1
          object-fit: contain
          object-position: 0 50%
          width: auto

          +media($port, ">=tablet")
            left: -33vw

          +media($port, "<tablet")
            left: -10vw

    .bene-nav
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-start

      +media($port, "<tablet")
        display: inline-flex
        flex-flow: row nowrap
        align-items: baseline
        position: relative
        margin-bottom: -12px
        border-bottom: 1px solid #dfe4e8
        position: relative
        z-index: 1
        margin-bottom: 0
        width: 100%
        justify-content: flex-start
        align-items: stretch

      .bene-nav-item
        cursor: pointer
        text-decoration: none
        color: $color-black
        font-size: 16px
        font-weight: 300
        font-family: $family-alt
        line-height: 1.25
        margin-bottom: 8px

        &:hover
          text-decoration: underline

        &.-active
          font-weight: bold
          pointer-events: none
          border-bottom-color: #0040c5

          &:hover
            text-decoration: none

        +media($land, $scaling)
          font-size: size(16, $size-land)
          margin-bottom: size(8, $size-land)

        +media($port, ">=tablet")
          font-size: size(16, $size-port-tablet)
          margin-bottom: size(8, $size-port-tablet)

        +media($port, "<tablet")
          line-height: 1.14
          color: #000
          border-bottom: 2px solid transparent
          margin-bottom: -1px
          transition: all $anim-global ease-out
          font-size: size(14, $size-port)
          margin-right: size(16, $size-port)
          padding-bottom: size(16, $size-port)
          padding-right: size(36, $size-port)
          flex: 1
          font-weight: normal

          &:last-child
            padding-right: 0
            margin-right: 0

          &.-active
            font-weight: normal
            color: #0040c5

          &:hover
            text-decoration: none
            color: #0040c5

    .bene-col
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: flex-start
      margin-bottom: 76px

      +media($land, $scaling)
        margin-bottom: size(76, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(76, $size-port-tablet)

      +media($port, "<tablet")
        display: block
        margin-bottom: size(14, $size-port)

      .bene-col-left
        width: 673px

        +media($land, $scaling)
          width: size(673, $size-land)

        +media($port, ">=tablet")
          width: size(673, $size-port-tablet)

        +media($port, "<tablet")
          width: 100%
          margin-bottom: size(50, $size-port)
          font-size: size(16, $size-port)
          line-height: 1.5
          padding-top: size(20, $size-port)

      .bene-col-right
        width: 480px

        +media($land, $scaling)
          width: size(480, $size-land)

        +media($port, ">=tablet")
          width: size(480, $size-port-tablet)

        +media($port, "<tablet")
          width: 100%

    h3
      margin: 0
      font-weight: 300
      font-family: $family-alt
      line-height: 1.17
      font-size: 48px
      margin-bottom: 34px
      position: relative

      +media($land, $scaling)
        margin-bottom: size(34, $size-land)
        font-size: size(48, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(34, $size-port-tablet)
        font-size: size(48, $size-port-tablet)
        text-align: center
        height: size(537, $size-port-tablet)
        width: 100%
        color: $color-white
        line-height: 1.38
        padding-top: size(45, $size-port-tablet)

        b
          display: block

      +media($port, "<tablet")
        margin-bottom: size(13, $size-port)
        font-size: size(32, $size-port)
        text-align: center
        height: size(337, $size-port)
        width: 100%
        color: $color-white
        line-height: 1.38
        padding-top: size(45, $size-port)

        b
          display: block

      div
        position: relative

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 5%

      b
        font-weight: bold

</style>
