<template lang="pug">
  section.california-entry
    LineAnimate.-blue.-long

    .flex-row
      .flex-row-item.w-59
        v-lazy-image.california-entry-pic(
          :src="require(`@/assets/images/caravelle/12@2x.jpg`)")

      .flex-row-item.w-41
        .california-entry-text
          .california-entry-text-head Caravelle

          h4 Полноразмерный <br> минивэн до 9 мест

          p Полностью обшитый салон <br> с сиденьями-трансформерами

        v-lazy-image.california-entry-pic-min(
          :src="require(`@/assets/images/caravelle/entry1.jpg`)")

</template>

<script>
import LineAnimate from '../../LineAnimate.vue';

export default {
  name: 'Entry',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: { LineAnimate },
};
</script>

<style lang="sass">
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .california-entry
    padding-bottom: 48px
    position: relative
    margin-bottom: 11px

    +media($land, $scaling)
      padding-bottom: size(48, $size-land)
      margin-bottom: size(11, $size-land)

    +media($port, ">=tablet")
      padding-bottom: size(116, $size-port-tablet)
      margin-bottom: size(22, $size-port-tablet)

    +media($port, "<tablet")
      padding-bottom: size(116, $size-port)
      margin-bottom: size(22, $size-port)

      .flex-row
        display: block

        .flex-row-item
          width: 100%

          &:last-child
            display: flex
            flex-flow: column nowrap
            justify-content: stretch
            align-items: flex-end

    .california-entry-text-head
      font-size: 16px
      margin-bottom: 16px
      margin-top: 2px

      +media($land, $scaling)
        font-size: size(16, $size-land)
        margin-bottom: size(16, $size-land)

      +media($port, ">=tablet")
        font-size: size(16, $size-port-tablet)
        margin-bottom: size(16, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        margin-bottom: size(16, $size-port)

    .california-entry-text
      padding-left: 37px

      +media($port, "<tablet")
        padding: 0 size(30, $size-port)
        order: 2
        width: 100%

    h4
      margin: 0 0 19px
      line-height: 1.13
      font-size: 32px
      font-weight: bold
      font-family: $family-alt

      +media($land, $scaling)
        margin: size(26, $size-land) 0 size(10, $size-land)
        font-size: size(32, $size-land)

      +media($port, ">=tablet")
        margin: size(26, $size-port-tablet) 0 size(10, $size-port-tablet)
        font-size: size(32, $size-port-tablet)

      +media($port, "<tablet")
        margin: size(26, $size-port) 0 size(10, $size-port)
        font-size: size(32, $size-port)

    p
      line-height: 1.25
      margin: 0 0 47px
      font-size: 16px
      font-weight: bold

      +media($land, $scaling)
        font-size: size(16, $size-land)
        margin-bottom: size(32, $size-land)

      +media($port, ">=tablet")
        font-size: size(16, $size-port-tablet)
        margin-bottom: size(32, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        margin-bottom: size(26, $size-port)

    .california-entry-pic-min
      width: 114%
      height: 380px
      background-color: #d8d8d8
      max-width: none
      object-fit: cover
      object-position: 50% 50%
      float: right

      +media($land, $scaling)
        height: size(380, $size-land)

      +media($port, ">=tablet")
        height: size(380, $size-port-tablet)
        object-position: 100% 50%

      +media($port, "<tablet")
        height: size(145, $size-port)
        width: size(245, $size-port)
        float: none
        order: 1
        margin-top: size(-51, $size-port)

    .california-entry-pic
      background-color: #d8d8d8
      width: 100%
      height: 604px
      object-fit: cover
      object-position: 50% 50%
      max-width: none

      +media($land, $scaling)
        height: size(604, $size-land)

      +media($port, ">=tablet")
        height: size(604, $size-port-tablet)

      +media($port, "<tablet")
        height: size(269, $size-port)
</style>
