<template lang="pug">
  header.header(
    :class="[{'-hide': showHeader}, {'-white': whiteHeader}]" ref="header")
    a.logo(href="https://www.volkswagen-commercial.ru/")
      svg
        use(xlink:href="../assets/images/sprite.svg#logo")

</template>

<script>
export default {
  name: 'Header',
  data() {
    return {
      ready: false,
      showHeader: null,
      whiteHeader: null,
    };
  },
  methods: {
    showNav(state) {
      this.$store.dispatch('ShowMobileNav', !state);

      const body = document.querySelector('body');

      if (this.$store.getters.showMobileNav) {
        body
          .classList
          .add('-lock');
      } else {
        body
          .classList
          .remove('-lock');
      }
    },

    show() {
      let current = 0;

      const handler = () => {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > current) {
          if (scrollTop > this.$refs.header.clientHeight * 2) {
            this.showHeader = true;
          }
        } else {
          this.showHeader = false;
        }

        if (scrollTop > window.outerHeight) {
          this.whiteHeader = true;
        } else {
          this.whiteHeader = false;
        }

        current = scrollTop;
      };

      document.addEventListener('scroll', () => {
        handler();
      });
    },
  },
  mounted() {
    this.show();
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .header
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 100
    transition: all $anim-global ease-out
    padding-top: 31px
    padding-bottom: 31px
    overflow: hidden
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

    +media($land, $scaling)
      padding-top: size(31, $size-land)

    +media($port, ">=tablet")
      padding-top: size(35, $size-port-tablet)

    +media($port, "<tablet")
      padding-top: size(35, $size-port)

    &.-white
      background-color: rgba(255, 255, 255, .98)

      .logo
        &::before, &::after
          background-color: $color-blue-medium

        svg
          fill: $color-blue-medium

    &.-hide
      transform: translateY(-100%)

    .logo
      display: block
      width: 48px
      height: 48px
      position: relative
      transform: translateX(549%)

      +media($land, $scaling)
        width: size(48, $size-land)
        height: size(48, $size-land)

      +media($port, ">=tablet")
        width: size(48, $size-port-tablet)
        height: size(48, $size-port-tablet)

      +media($port, "<tablet")
        width: size(32, $size-port)
        height: size(32, $size-port)

      &::before
        content: ""
        height: 2px
        right: 100%
        top: 50%
        margin-top: -1px
        width: 100000px
        position: absolute
        background-color: $color-white
        margin-right: 12px
        pointer-events: none
        transition: all $anim-global ease-out

      &::after
        pointer-events: none
        content: ""
        height: 2px
        left: 100%
        top: 50%
        margin-top: -1px
        width: 100000px
        position: absolute
        background-color: $color-white
        margin-left: 12px
        transition: all $anim-global ease-out

      +media($port)
        transform: none

      svg
        width: 100%
        height: 100%
        fill: $color-white
        transition: all $anim-global ease-out

</style>
