<template lang="pug">
  .line-animate.-blue
</template>

<script>
export default {
  name: 'LineAnimate',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .line-animate
    position: absolute
    bottom: 0
    left: 50%
    width: 2px
    height: 56px
    overflow: hidden
    pointer-events: none
    z-index: 1

    +media($land, $scaling)
      height: size(56, $size-land)

    +media($port, ">=tablet")
      height: size(56, $size-port-tablet)

    +media($port, "<tablet")
      height: size(32, $size-port)

    &::after
      content: ""
      height: 100%
      position: absolute
      top: -100%
      left: 0
      width: 100%
      background-color: $color-white
      animation: line 2s ease-out infinite

    &.-blue
      &::after
        background-color: #00b0f0

    &.-long
      height: 90px

      +media($land, $scaling)
        height: size(90, $size-land)

      +media($port, ">=tablet")
        height: size(90, $size-port-tablet)

      +media($port, "<tablet")
        height: size(90, $size-port)

    @keyframes line
      100%
        top: 100%

</style>
