<template lang="pug">
  nav.nav
    transition(name="fade")
      span.nav-overlay(
        v-if="$store.getters.isPortrait && $store.getters.showMobileNav"
        @click="show")

    transition(name="slide-bottom" appear)
      div(v-if="!$store.getters.isPortrait || $store.getters.showMobileNav"
        style="transition-delay: 0.6s")
        a.nav-item(
          target="_blank"
          :class="{'-active': $store.getters.isPortrait}"
          href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/zapros-predlozheniya/ru/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+")
          i.icon.i_brochure

          span Запрос предложения

    transition(name="slide-bottom" appear)
      div(v-if="!$store.getters.isPortrait || $store.getters.showMobileNav"
      style="transition-delay: 0.4s")
        a.nav-item(
          target="_blank"
          :class="{'-active': $store.getters.isPortrait}"
          href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/none/+/+/+/+/+/+/+")
          i.icon.i_interior

          span Тест-драйв

    transition(name="slide-bottom" appear)
      div(v-if="!$store.getters.isPortrait || $store.getters.showMobileNav"
      style="transition-delay: 0.2s")
        a.nav-item(
          target="_blank"
          :class="{'-active': $store.getters.isPortrait}"
          href="https://ap.volkswagen-commercial.ru/credit/garant/")
          i.icon.i_calc

          span Кредитный калькулятор

    transition(name="slide-bottom" appear)
      div(v-if="!$store.getters.isPortrait || $store.getters.showMobileNav")
        a.nav-item(target="_blank" :class="{'-active': $store.getters.isPortrait}" href="https://cars.volkswagen-commercial.ru/multivan")
          i.icon.i_stock-locator-commercial

          span Автомобили в наличии

    transition(name="slide-bottom" appear)
      div(@click="show" v-if="$store.getters.isPortrait")
        .nav-item.-no-hover
          transition(name="scale")
            i.icon.i_contact(v-if="!$store.getters.showMobileNav")

          transition(name="scale")
            i.icon.i_close(v-if="$store.getters.showMobileNav")

</template>

<script>
export default {
  name: 'Nav',
  data() {
    return {
      ready: false,
    };
  },
  methods: {
    show() {
      this.$store.commit('SHOW_MOBILE_NAV', !this.$store.getters.showMobileNav);
    },
  },
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass">
  @import "../styles/mixins/mixins"
  @import "../styles/vars/variables"

  .nav
    position: fixed
    z-index: 9999
    right: 60px
    bottom: 60px
    display: flex
    flex-flow: column nowrap
    justify-content: flex-end
    align-items: flex-end

    +media($land, $scaling)
      right: size(60, $size-land)
      bottom: size(60, $size-land)

    +media($landTablet)
      right: size(21, $size-land)
      bottom: size(21, $size-land)

    +media($port, ">=tablet")
      right: size(21, $size-port-tablet)
      bottom: size(21, $size-port-tablet)

    +media($port, "<tablet")
      right: size(21, $size-port)
      bottom: size(21, $size-port)

    .slide-bottom-leave-to
      display: none

    .nav-overlay
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%

      &::before
        content: ""
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: .5
        background-color: $color-black

    .nav-item
      overflow: hidden
      position: relative
      color: $color-white
      font-size: 16px
      line-height: 1.25
      text-decoration: none
      width: 64px
      height: 64px
      border-radius: 32px
      background-color: $color-blue-medium
      display: flex
      flex-flow: row nowrap
      justify-content: left
      align-items: center
      transition: all $anim-global ease-out
      margin-top: 10px
      padding-left: 64px
      cursor: pointer

      +media($land, $scaling)
        font-size: size(16, $size-land)
        width: size(64, $size-land)
        height: size(64, $size-land)
        border-radius: size(32, $size-land)
        margin-top: size(10, $size-land)
        padding-left: size(64, $size-land)

      +media($port, ">=tablet")
        font-size: size(16, $size-port-tablet)
        width: size(64, $size-port-tablet)
        height: size(64, $size-port-tablet)
        border-radius: size(32, $size-port-tablet)
        margin-top: size(10, $size-port-tablet)
        padding-left: size(64, $size-port-tablet)

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        width: size(64, $size-port)
        height: size(64, $size-port)
        border-radius: size(32, $size-port)
        margin-top: size(10, $size-port)
        padding-left: size(64, $size-port)

      &:not(.-no-hover):hover, &.-active
        width: 283px

        +media($land, $scaling)
          width: size(283, $size-land)

        +media($port, ">=tablet")
          width: size(283, $size-port-tablet)

        +media($port, "<tablet")
          width: size(283, $size-port)

        .icon
          margin-left: 12px

          +media($land, $scaling)
            margin-left: size(12, $size-land)

          +media($port, ">=tablet")
            margin-left: size(12, $size-port-tablet)

          +media($port, "<tablet")
            margin-left: size(12, $size-port)

        span
          display: block
          margin-left: 12px

          +media($land, $scaling)
            margin-left: size(12, $size-land)

          +media($port, ">=tablet")
            margin-left: size(12, $size-port-tablet)

          +media($port, "<tablet")
            margin-left: size(12, $size-port)

      .icon
        font-size: 1.5em
        width: 64px
        height: 64px
        border-radius: 100%
        background-color: $color-blue-medium
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center
        position: absolute
        top: 0
        left: 0
        transition: all $anim-global ease-out

        +media($land, $scaling)
          width: size(64, $size-land)
          height: size(64, $size-land)

        +media($port, ">=tablet")
          width: size(64, $size-port-tablet)
          height: size(64, $size-port-tablet)

        +media($port, "<tablet")
          width: size(64, $size-port)
          height: size(64, $size-port)

      span
        display: none
        white-space: nowrap
        transition: all $anim-global ease-out

</style>
