<template lang="pug">
  section.bene
    h3(v-if="$store.getters.isPortrait")
      v-lazy-image(
        :src="require(`@/assets/images/california/polo-gti-lifestyle-3-8893@2x.jpg`)")

      div Комфорт уровня <b>6.1</b>

    .container
      h3(v-if="!$store.getters.isPortrait") Комфорт уровня <b>6.1</b>

      .bene-col
        .bene-col-left(v-html="'California&nbsp;&mdash; автомобиль для тех, кто знает: лучший отдых&nbsp;&mdash; это путешествие, причём такое, в&nbsp;котором вы&nbsp;ни&nbsp;от&nbsp;кого не&nbsp;зависите. Мы&nbsp;уместили в&nbsp;формате манёвренного и&nbsp;экономичного легкового автомобиля, которому найдётся место на&nbsp;любой парковке, две спальни, рассчитанные на&nbsp;четырёх человек, столовую, мансарду, кухню, а&nbsp;по&nbsp;желанию&nbsp;&mdash; ещё и&nbsp;веранду под тентом-маркизой. С&nbsp;California вам не&nbsp;требуется заранее планировать поездку, покупать билеты и&nbsp;бронировать гостиничные номера. Достаточно наметить цель, бросить в&nbsp;багажник дорожные сумки и&nbsp;тронуться в&nbsp;путь. California&nbsp;6.1, новейшее поколение кемпера на&nbsp;базе легендарной T-серии Volkswagen, стала ещё разнообразнее в&nbsp;предлагаемых вариантах: в&nbsp;частности, появилась версия с&nbsp;уменьшенным кухонным блоком. Среди других новых опций&nbsp;&mdash; система выбора режимов движения с&nbsp;регулируемой по&nbsp;жёсткости подвеской, цифровая приборная панель с&nbsp;возможностью полноэкранного отображения навигационных данных и&nbsp;адаптивный круиз-контроль. Никогда ещё отдых с&nbsp;California не&nbsp;был таким комфортным и&nbsp;беззаботным.'")

        .bene-col-right
          .bene-nav
            .bene-nav-item(
              @click="current = index + 1"
              :class="{'-active': current === index + 1}"
              v-for="(item, index) in data"
              href="#") {{item.nav}}

    .bene-info(
      :key="index"
      v-if="current === index + 1"
      v-for="(item, index) in data")
      v-lazy-image(
        :class="'-mod' + index"
        :src="require(`@/assets/images/california/${item.pic}.jpg`)")

      .container
        .bene-info-content
          .bene-info-title {{item.title}}

          p(v-html="item.text")

          a.btn.-full(href="https://www.volkswagen-commercial.ru/app/dccforms/vwn-ru/test-drive/ru/CarSelector/70004/+/+/+/+/+/none/+/+/+/+/+/+/+") Записаться на тест-драйв

</template>

<script>
export default {
  name: 'Bene',
  data() {
    return {
      ready: false,
      current: 1,
      data: [
        {
          nav: 'Пульт управления',
          pic: 'item2.1caffd4b@2x',
          title: 'Пульт управления',
          text: 'California готова стать на&nbsp;несколько дней вашим домом, причем &laquo;умным домом&raquo;, в&nbsp;котором управление разными функциями, связанными с&nbsp;освещением, климатической системой, энергопотреблением и&nbsp;прочими вещами, определяющими комфорт, выведено на&nbsp;единую потолочную панель с&nbsp;сенсорным управлением. Естественно, в&nbsp;руководстве по&nbsp;эксплуатации вы&nbsp;найдёте указания, как с&nbsp;ней обращаться, но, скорее всего, справитесь и&nbsp;так. Немецкие автомобили, особенно от&nbsp;Volkswagen, славятся тем, что в&nbsp;них очень просто понять, &laquo;как это работает&raquo;.',
        },
        {
          nav: 'Динамика',
          pic: 'item2.1caffd4b3@2x',
          title: 'Динамика',
          text: 'Для California&nbsp;6.1 предлагается выбор двухлитровых дизельных двигателей различной мощности. Все они тихие (вы&nbsp;же хотели уехать от&nbsp;городского шума), нетребовательные (ТО&nbsp;каждые 20&nbsp;000&nbsp;км, но&nbsp;не&nbsp;реже раза в&nbsp;год) и&nbsp;экономичные (даже с&nbsp;полным приводом и&nbsp;автоматом укладываются на&nbsp;трассе в&nbsp;7&nbsp;л/100&nbsp;км). Добавим, что в&nbsp;российский комплект поставки входит обязательный догреватель&nbsp;&mdash; чтобы в&nbsp;холодное время года, пока мотор не&nbsp;набрал температуру, из&nbsp;дефлекторов побыстрее пошёл тёплый воздух.',
        },
        {
          nav: 'Discover Media',
          pic: 'item2.1caffd4b2@2x',
          title: 'Discover Media',
          text: 'California готова стать на&nbsp;несколько дней вашим домом, причем &laquo;умным домом&raquo;, в&nbsp;котором управление разными функциями, связанными с&nbsp;освещением, климатической системой, энергопотреблением и&nbsp;прочими вещами, определяющими комфорт, выведено на&nbsp;единую потолочную панель с&nbsp;сенсорным управлением. Естественно, в&nbsp;руководстве по&nbsp;эксплуатации вы&nbsp;найдёте указания, как с&nbsp;ней обращаться, но, скорее всего, справитесь и&nbsp;так. Немецкие автомобили, особенно от&nbsp;Volkswagen, славятся тем, что в&nbsp;них очень просто понять, &laquo;как это работает&raquo;.',
        },
      ],
    };
  },
  methods: {},
  mounted() {
  },
  components: {},
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .bene
    position: relative
    padding-top: 87px
    margin-bottom: 80px

    +media($land, $scaling)
      padding-top: size(87, $size-land)
      margin-bottom: size(80, $size-land)

    +media($port, ">=tablet")
      padding-top: size(87, $size-port-tablet)
      margin-bottom: size(80, $size-port-tablet)

    +media($port, "<tablet")
      padding-top: size(24, $size-port)
      margin-bottom: size(50, $size-port)

    //

    .bene-accardion
      width: 100%
      margin-bottom: 30px

      p
        margin: 0 0 5px 0
        visibility: hidden
        position: absolute
        transform: translateX(-3%)

      .bene-accardion-head
        cursor: pointer
        font-weight: bold
        line-height: 1.43
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        color: $color-black
        border-bottom: 2px solid #dfe4e8
        padding-bottom: 3px
        margin-bottom: 5px

        &.-active
          .icon
            transform: rotate(-90deg)

          + p
            transition: all $anim-global ease-out
            visibility: visible
            position: static
            opacity: 1
            transform: none

        .icon
          transition: all $anim-global ease-out
          margin-left: 15px
          font-size: 0.8em

    .bene-info-title
      font-size: 24px
      font-family: $family-alt
      font-weight: bold
      line-height: 1.17
      position: absolute
      left: 0
      top: -59px

      +media($land, $scaling)
        font-size: size(24, $size-land)
        top: size(-59, $size-land)

      +media($port, ">=tablet")
        font-size: size(24, $size-port-tablet)
        top: size(-59, $size-port-tablet)
        position: static

      +media($port, "<tablet")
        font-size: size(16, $size-port)
        top: 0
        position: static
        line-height: 1.5
        margin-bottom: 16px
        width: 100%

    .bene-info-content
      background-color: $color-white
      padding: 58px
      width: 420px
      margin-right: 60px
      line-height: 1.71
      position: relative
      padding-top: 0
      margin-top: -8px
      display: flex
      flex-flow: column nowrap
      justify-content: space-between
      align-items: flex-start

      +media($land, $scaling)
        padding: size(58, $size-land)
        width: size(420, $size-land)
        margin-right: size(60, $size-land)
        margin-top: size(-8, $size-land)
        padding-top: 0

      +media($port, ">=tablet")
        padding: size(58, $size-port-tablet)
        padding-top: 0
        width: size(420, $size-port-tablet)
        margin-right: size(60, $size-port-tablet)
        margin-top: size(-8, $size-port-tablet)

      +media($port, "<tablet")
        padding: size(26, $size-port) 0 0
        width: 100%
        margin-right: 0
        margin-top: 0
        font-size: size(16, $size-port)
        line-height: 1.5
        justify-content: center
        align-items: center

      p
        margin: 0
        margin-bottom: 10px
        width: 100%

        +media($land, $scaling)
          margin-bottom: size(10, $size-land)

        +media($port, ">=tablet")
          margin-bottom: size(10, $size-port-tablet)

        +media($port, "<tablet")
          margin-bottom: size(34, $size-port)

    .bene-info
      position: relative
      width: 100%
      height: 599px

      +media($land, $scaling)
        height: size(599, $size-land)

      +media($port, ">=tablet")
        height: size(599, $size-port-tablet)

      +media($port, "<tablet")
        height: auto

      .container
        position: relative
        height: 100%
        display: flex
        flex-flow: row nowrap
        justify-content: flex-end
        align-items: stretch

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 50%

        +media($port, "<tablet")
          height: size(245, $size-port)
          position: static
          object-position: 25% 50%

    .bene-nav
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-start

      +media($port, "<tablet")
        display: inline-flex
        flex-flow: row nowrap
        align-items: baseline
        position: relative
        margin-bottom: -12px
        border-bottom: 1px solid #dfe4e8
        position: relative
        z-index: 1
        margin-bottom: 0
        width: 100%
        justify-content: flex-start
        align-items: stretch

      .bene-nav-item
        cursor: pointer
        text-decoration: none
        color: $color-black
        font-size: 16px
        font-weight: 300
        font-family: $family-alt
        line-height: 1.25
        margin-bottom: 8px

        &:hover
          text-decoration: underline

        &.-active
          font-weight: bold
          pointer-events: none
          border-bottom-color: #0040c5

          &:hover
            text-decoration: none

        +media($land, $scaling)
          font-size: size(16, $size-land)
          margin-bottom: size(8, $size-land)

        +media($port, ">=tablet")
          font-size: size(16, $size-port-tablet)
          margin-bottom: size(8, $size-port-tablet)

        +media($port, "<tablet")
          line-height: 1.14
          color: #000
          border-bottom: 2px solid transparent
          margin-bottom: -1px
          transition: all $anim-global ease-out
          font-size: size(14, $size-port)
          margin-right: size(16, $size-port)
          padding-bottom: size(16, $size-port)
          padding-right: size(36, $size-port)
          flex: 1
          font-weight: normal

          &:last-child
            padding-right: 0
            margin-right: 0

          &.-active
            font-weight: normal
            color: #0040c5

          &:hover
            text-decoration: none
            color: #0040c5

    .bene-col
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: flex-start
      margin-bottom: 76px

      +media($land, $scaling)
        margin-bottom: size(76, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(76, $size-port-tablet)

      +media($port, "<tablet")
        display: block
        margin-bottom: size(14, $size-port)

      .bene-col-left
        width: 673px

        +media($land, $scaling)
          width: size(673, $size-land)

        +media($port, ">=tablet")
          width: size(673, $size-port-tablet)

        +media($port, "<tablet")
          width: 100%
          margin-bottom: size(50, $size-port)
          font-size: size(16, $size-port)
          line-height: 1.5
          padding-top: size(20, $size-port)

      .bene-col-right
        width: 480px

        +media($land, $scaling)
          width: size(480, $size-land)

        +media($port, ">=tablet")
          width: size(480, $size-port-tablet)

        +media($port, "<tablet")
          width: 100%

    h3
      margin: 0
      font-weight: 300
      font-family: $family-alt
      line-height: 1.17
      font-size: 48px
      margin-bottom: 34px
      position: relative

      +media($land, $scaling)
        margin-bottom: size(34, $size-land)
        font-size: size(48, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(34, $size-port-tablet)
        font-size: size(48, $size-port-tablet)
        text-align: center
        height: size(537, $size-port-tablet)
        width: 100%
        color: $color-white
        line-height: 1.38
        padding-top: size(45, $size-port-tablet)

        b
          display: block

      +media($port, "<tablet")
        margin-bottom: size(13, $size-port)
        font-size: size(32, $size-port)
        text-align: center
        height: size(337, $size-port)
        width: 100%
        color: $color-white
        line-height: 1.38
        padding-top: size(45, $size-port)

        b
          display: block

      div
        position: relative

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 50% 5%

      b
        font-weight: bold

</style>
