<template lang="pug">
  section.container
    h3.auto-compare-title Подобрать комплектацию

    .auto-compare-wrapper(
      v-touch:swipe.right="swipeRightHandler"
      v-touch:swipe.left="swipeLeftHandler")
      .auto-compare
        .auto-compare-arr.icon.i_arrow-left.-left(
          v-if="$store.getters.isPortrait"
          :class="{'-disabled': !left}"
          @click="move")

        .auto-compare-arr.icon.i_arrow-right(
          v-if="$store.getters.isPortrait"
          :class="{'-disabled': -left >= stop-10}"
          @click="move")

        table.auto-compare-table
          tr
            td

            td.no-padding(:style="{transform: 'translateX('+ left +'px)'}")
              .auto-compare-model
                // .auto-compare-fav.icon.i_star-0(@click="addFav")

                v-lazy-image(:src="require(`@/assets/images/california/VW_CA_pics/VW_cal_beach.${$webp ? 'webp' : 'png'}`)")

                b Beach

                .btn.-mdl(@click="popup = !popup, currentPics = 0")
                  i.icon.i_magnifier-plus
                  | Посмотреть фото

            td.no-padding(:style="{transform: 'translateX('+ left +'px)'}")
              .auto-compare-model
                // .auto-compare-fav.icon.i_star-0(@click="addFav")

                v-lazy-image(:src="require(`@/assets/images/california/VW_CA_pics/VW_cal_coast.${$webp ? 'webp' : 'png'}`)")

                b Coast

                .btn.-mdl(@click="popup = !popup, currentPics = 1")
                  i.icon.i_magnifier-plus
                  | Посмотреть фото

            td.no-padding(:style="{transform: 'translateX('+ left +'px)'}")
              .auto-compare-model
                // .auto-compare-fav.icon.i_star-0(@click="addFav")

                v-lazy-image(:src="require(`@/assets/images/california/VW_CA_pics/VW_cal_ocean.${$webp ? 'webp' : 'png'}`)")

                b Ocean

                .btn.-mdl(@click="popup = !popup, currentPics = 2")
                  i.icon.i_magnifier-plus
                  | Посмотреть фото

        .auto-compare-item
          .compare-nav-head(@click="show($event)")
            .compare-nav-head-left
              .compare-nav-icon.icon.i_new-car-commercial

              .compare-nav-title Кузов

            .compare-nav-head-right
              .compare-nav-arr.icon.i_chevron-down

          .auto-compare-body
            table.auto-compare-table
              tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Внешний вид

              tr
                td Внешний вид

                td(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") {{'Матовая решётка радиатора с хром. полосой, корпуса зеркал – чёрные матовые' | typograf}}

                td(
                  :style="{transform: 'translateX('+ left +'px)'}") {{'Глянцевая решётка радиатора с 5 хром. полосами, корпуса зеркал – чёрные матовые' | typograf}}

              tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Раскладная крыша

              tr
                td.-middle Раскладная крыша

                td.-middle(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") С ручным приводом

                td.-middle(:style="{transform: 'translateX('+ left +'px)'}") С электроприводом

        .auto-compare-item
          .compare-nav-head(@click="show($event)")
            .compare-nav-head-left
              .compare-nav-icon.icon.i_seat

              .compare-nav-title Интерьер

            .compare-nav-head-right
              .compare-nav-arr.icon.i_chevron-down

          table.auto-compare-table
            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Обивка сидений

            tr
              td Обивка сидений

              td(:style="{transform: 'translateX('+ left +'px)'}") Ткань

              td(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") Ткань улучшенная

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Кухня

            tr
              td.-middle Кухня

              td.-middle(:style="{transform: 'translateX('+ left +'px)'}") Одноконфорочная газовая

              td.-middle(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") {{'Кухонный модуль с двухконфорочной плитой, холодильником и мойкой (запас воды – 30л)' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Столик в салоне

            tr
              td.-middle Столик в салоне

              td.-middle(:style="{transform: 'translateX('+ left +'px)'}") {{'Приставной/выносной + 2 складных стула' | typograf}}

              td.-middle(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") {{'Встроенный + приставной/выносной + 2 складных стула' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Рулевое колесо

            tr
              td Рулевое колесо

              td(colspan=3 :style="{transform: 'translateX('+ left +'px)'}") Кожаное, многофункциональное

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Передние сиденья

            tr
              td.-middle Передние сиденья

              td.-middle(colspan=3 :style="{transform: 'translateX('+ left +'px)'}") {{'Поворотные, с обогревом, регулировкой поясничной опоры и регулируемыми подлокотниками' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Спальня

            tr
              td.-middle Спальня

              td.-middle(colspan=3 :style="{transform: 'translateX('+ left +'px)'}") {{'Верхнее и нижнее' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Шторки в салоне

            tr
              td.-middle Шторки в салоне

              td.-middle(colspan=3 :style="{transform: 'translateX('+ left +'px)'}") {{'Комплект затемнения с пристяжными и встроенными сматывающимися шторками' | typograf}}

        .auto-compare-item
          .compare-nav-head(@click="show($event)")
            .compare-nav-head-left
              .compare-nav-icon.icon.i_drivers-assistance

              .compare-nav-title Функциональное оборудование

            .compare-nav-head-right
              .compare-nav-arr.icon.i_chevron-down

          table.auto-compare-table
            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Привод дверей салона

            tr
              td Привод дверей салона

              td(:style="{transform: 'translateX('+ left +'px)'}") {{'Ручной, с электродоводчиками' | typograf}}

              td(:style="{transform: 'translateX('+ left +'px)'}") Электрический, с&nbsp;ДУ

              td(:style="{transform: 'translateX('+ left +'px)'}")

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Световые приборы

            tr
              td Световые приборы

              td(:style="{transform: 'translateX('+ left +'px)'}") Стандартные

              td(:style="{transform: 'translateX('+ left +'px)'}") {{'Светодиодные фары и задние фонари' | typograf}}

              td(:style="{transform: 'translateX('+ left +'px)'}") {{'Светодиодные фары и задние фонари, передние противотуманки' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Электронные ассистенты

            tr
              td Электронные ассистенты

              td(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") {{'Front Assist, City Emergency Break, Rear View, Парктроник передний и задний, Rest Assist, Light Assist, Круиз-контроль' | typograf}}

              td(:style="{transform: 'translateX('+ left +'px)'}") {{'Front Assist, City Emergency Break, Rear View, Park Assist, Парктроник передний и задний, Rest Assist, Light Assist, Круиз-контроль, Blind Spot Alert, Rear Traffic Alert' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Инфомедиа

            tr
              td Инфомедиа

              td(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") {{'Composition Color, вкл. 2x USB Type-C, App Connect, отсек для телефона' | typograf}}

              td(:style="{transform: 'translateX('+ left +'px)'}") {{'Discover Media, 2x USB Type-C, отсек для телефона' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Электропитание

            tr
              td Электропитание

              td(:style="{transform: 'translateX('+ left +'px)'}") {{'Один дополнительный аккумулятор для питания на стоянке, инвертор 220В' | typograf}}

              td(colspan=2 :style="{transform: 'translateX('+ left +'px)'}") {{'Два дополнительных аккумулятора для питания на стоянке, инвертор 220В, подключение к внешней сети 220В.' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Электропакет

            tr
              td.-middle Электропакет

              td.-middle(colspan=3 :style="{transform: 'translateX('+ left +'px)'}") {{'Центральный замок с ДУ, передние электро-стеклоподъёмники, обогрев и электропривод и электроскладывание зеркал' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Кондиционер

            tr
              td.-middle Кондиционер

              td.-middle(colspan=3 :style="{transform: 'translateX('+ left +'px)'}")  {{'Climatronic, автоматический, с доп. испарителем и управлением в салоне. Стояночный автономный отопитель.' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) {{'Электронный комплекс стабилизации и управляемости' | typograf}}

            tr
              td.-middle {{'Электронный комплекс стабилизации и управляемости' | typograf}}

              td.-middle(colspan=3 :style="{transform: 'translateX('+ left +'px)'}") {{'ESC, Crosswind Assist, Hill Start Assist, Post Collision Break' | typograf}}

            tr(v-if="$store.getters.isMobile")
                td

                td.auto-compare-body-title(colspan=3) Лобовое стекло

            tr
              td Лобовое стекло

              td(colspan=3 :style="{transform: 'translateX('+ left +'px)'}") {{'С электрообогревом всей поверхности, датчик дождя, датчик темноты' | typograf}}
        .text-right.auto-compare_footer
          a.btn.-full(href="https://cars.volkswagen-commercial.ru/multivan" target="_blank") Посмотреть автомобили в наличии

    PopupSlider(
      :images="pics[currentPics]"
      v-if="popup"
      @close="popup = false")
</template>

<script>
import LineAnimate from '../../LineAnimate.vue';
import PopupSlider from '../PopupSlider.vue';

export default {
  name: 'Compare',
  data() {
    return {
      ready: false,
      left: undefined,
      stop: null,
      popup: null,
      pics: [
        ['california/California_Beach/iris-20', 'california/California_Beach/iris-21', 'california/California_Beach/iris-22', 'california/California_Beach/iris-23', 'california/California_Beach/iris-24', 'california/California_Beach/iris-25', 'california/California_Beach/iris-26', 'california/California_Beach/iris-27', 'california/California_Beach/iris-28'],
        ['california/California_Coast/iris-11', 'california/California_Coast/iris-12', 'california/California_Coast/iris-13', 'california/California_Coast/iris-14', 'california/California_Coast/iris-15', 'california/California_Coast/iris-16', 'california/California_Coast/iris-17', 'california/California_Coast/iris-18', 'california/California_Coast/iris-19'],
        ['california/California_Ocean/iris-2', 'california/California_Ocean/iris-3', 'california/California_Ocean/iris-4', 'california/California_Ocean/iris-5', 'california/California_Ocean/iris-6', 'california/California_Ocean/iris-7', 'california/California_Ocean/iris-8', 'california/California_Ocean/iris-10'],
      ],
      currentPics: 0,
    };
  },

  methods: {
    swipeRightHandler() {
      const disable = document.querySelector('.auto-compare-arr.icon.i_arrow-left').classList.contains('-disabled');

      if (!disable) {
        this.move(null, 'right');
      }
    },

    swipeLeftHandler() {
      const disable = document.querySelector('.auto-compare-arr.icon.i_arrow-right').classList.contains('-disabled');

      if (!disable) {
        this.move(null, 'left');
      }
    },

    move(e, type) {
      const table = document.querySelector('.auto-compare-table');

      const parent = document.querySelector('.auto-compare');

      const pos = (table.clientWidth * (this.$store.getters.isMobile ? 1 : 0.66)) / 3;

      if (this.left === undefined) {
        this.left = 0;
      }

      if ((e && e.currentTarget.classList.contains('-left')) || type === 'right') {
        this.left += parseInt(pos, 10);
      } else {
        this.left -= parseInt(pos, 10);

        this.stop = table.clientWidth - parent.clientWidth;
      }
    },

    addFav(e) {
      e.currentTarget.classList.toggle('i_star-1');
    },

    show(e) {
      e.currentTarget.classList.toggle('-close');
    },
  },
  mounted() {},
  components: { LineAnimate, PopupSlider },
};
</script>

<style lang="sass" scoped>
  @import "../../../styles/mixins/mixins"
  @import "../../../styles/vars/variables"

  .auto-compare-wrapper
    +media($port, ">=tablet")
      padding-top: size(48, $size-port-tablet)

    +media($port, "<tablet")
      margin-right: size(-30, $size-port)
      margin-left: size(-30, $size-port)
      padding-top: size(48, $size-port)

  .auto-compare
    max-width: 762px
    position: relative
    margin: 0 auto 83px

    +media($land, $scaling)
      max-width: size(762, $size-land)
      margin-bottom: size(83, $size-land)

    +media($port, ">=tablet")
      max-width: none
      margin-bottom: size(83, $size-port-tablet)

    +media($port, "<tablet")
      max-width: none
      margin-bottom: size(107, $size-port)
      padding-right: size(16, $size-port)
      padding-left: size(16, $size-port)

    &::after
      content: ""
      position: absolute
      left: 100%
      bottom: 0
      top: 0
      width: 300%
      opacity: 0.9
      background-color: var(--main-active)
      margin-left: 2px

    &::before
      content: ""
      position: absolute
      right: 100%
      bottom: 0
      top: 0
      width: 300%
      background-color: var(--main-active)
      z-index: 1

    //

    .auto-compare-body-title
      font-weight: bold
      padding: 13px 7px
      font-size: 14px
      color: var(--infographics-order-4)
      border-top: 0 !important

      &::before
        display: none

      +media($land, $scaling)
        padding: size(13, $size-land) size(7, $size-land)
        font-size: size(14, $size-land)

      +media($port, ">=tablet")
        padding: size(13, $size-port-tablet) size(7, $size-port-tablet)
        font-size: size(14, $size-port-tablet)

      +media($port, "<tablet")
        padding: size(13, $size-port) size(7, $size-port)
        font-size: size(14, $size-port)
        border-left-color: transparent !important

    .auto-compare-arr
      z-index: 10
      position: absolute
      right: -43px
      top: 75px
      cursor: pointer
      user-select: none
      border-radius: 100%
      width: 32px
      height: 32px
      color: var(--main-active)
      font-size: 1em
      line-height: 1
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: center
      background-color: var(--image-active)

      +media($land, $scaling)
        right: size(-43, $size-land)
        top: size(75, $size-land)
        width: size(32, $size-land)
        height: size(32, $size-land)

      +media($port, ">=tablet")
        right: size(16, $size-port-tablet)
        top: size(-80, $size-port-tablet)
        width: size(43, $size-port-tablet)
        height: size(43, $size-port-tablet)

      +media($port, "<tablet")
        right: size(16, $size-port)
        top: size(-80, $size-port)
        width: size(43, $size-port)
        height: size(43, $size-port)

      &.-left
        right: auto
        left: 212px

        +media($land, $scaling)
          left: size(212, $size-land)

        +media($port, ">=tablet")
          left: auto
          right: size(72, $size-port-tablet)

        +media($port, "<tablet")
          left: auto
          right: size(72, $size-port)

      &.-disabled
        background-color: #dfe4e8
        pointer-events: none

    .auto-compare-fav
      position: absolute
      right: 10px
      top: 0
      font-size: 22px
      line-height: 1
      color: var(--main-default)
      cursor: pointer

      +media($land, $scaling)
        right: size(10, $size-land)
        font-size: size(22, $size-land)

      +media($port, ">=tablet")
        right: size(10, $size-port-tablet)
        font-size: size(22, $size-port-tablet)

      +media($port, "<tablet")
        right: size(10, $size-port)
        font-size: size(22, $size-port)

    .auto-compare_footer
      margin-top: 83px

      +media($land, $scaling)
        margin-top: size(83, $size-land)

      +media($port, ">=tablet")
        margin-top: size(83, $size-port-tablet)
        text-align: center

      +media($port, "<tablet")
        margin-top: size(83, $size-port)
        text-align: center

    .auto-compare-item
      margin-bottom: 34px

      +media($land, $scaling)
        margin-bottom: size(34, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(34, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(34, $size-port)

      .compare-nav-title
        font-size: 24px
        font-weight: 300
        font-family: $family-alt
        line-height: 1.17

        +media($land, $scaling)
          font-size: size(24, $size-land)

        +media($port, ">=tablet")
          font-size: size(24, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(24, $size-port)

      .compare-nav-arr
        font-size: 1.7em
        color: #001e50
        margin-left: 54px
        cursor: pointer
        transition: all $anim-global ease-out

        +media($land, $scaling)
          margin-left: size(54, $size-land)

        +media($port, ">=tablet")
          margin-left: size(54, $size-port-tablet)

        +media($port, "<tablet")
          margin-left: size(24, $size-port)

        &.-active
          transform: rotate(0)

      .compare-nav-icon
        margin-right: 34px
        font-size: 1.6em
        color: #001e50

        +media($land, $scaling)
          margin-right: size(34, $size-land)

        +media($port, ">=tablet")
          margin-right: size(34, $size-port-tablet)

        +media($port, "<tablet")
          margin-right: size(34, $size-port)

      .compare-nav-head
        padding-bottom: 16px
        border-bottom: 1px solid rgba(0, 0, 0, .1)
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        cursor: pointer
        user-select: none

        +media($land, $scaling)
          padding-bottom: size(16, $size-land)

        +media($port, ">=tablet")
          padding-bottom: size(16, $size-port-tablet)

        +media($port, "<tablet")
          padding-bottom: size(16, $size-port)
          border-bottom-width: 2px

        &.-close
          + .auto-compare-table, + .auto-compare-body
            visibility: hidden
            opacity: 0
            position: absolute
            transform: translateX(-1%)
            transition: none

          .compare-nav-arr
            transform: rotate(-90deg)

        .compare-nav-head-left, .compare-nav-head-right
          display: flex
          flex-flow: row nowrap
          justify-content: space-between
          align-items: center

    .auto-compare-model
      text-align: center
      padding: 23px 12px 29px
      position: relative

      +media($land, $scaling)
        padding: size(23, $size-land) size(12, $size-land) size(29, $size-land)

      +media($port, ">=tablet")
        padding: size(23, $size-port-tablet) size(12, $size-port-tablet) size(29, $size-port-tablet)

      +media($port, "<tablet")
        padding: size(23, $size-port) size(12, $size-port) size(29, $size-port)

      &::after
        content: ""
        position: absolute
        right: 0
        top: 0
        height: 100%
        width: 1px
        background-color: #0040c5

      .btn
        width: 100%

        +media($port, "<tablet")
          font-size: size(11, $size-port)

      b
        display: block
        font-size: 14px
        margin: 14px 0 22px

        +media($land, $scaling)
          font-size: size(14, $size-land)
          margin: size(14, $size-land) 0 size(22, $size-land)

        +media($port, ">=tablet")
          font-size: size(14, $size-port-tablet)
          margin: size(14, $size-port-tablet) 0 size(22, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(14, $size-port)
          margin: size(14, $size-port) 0 size(22, $size-port)

      img
        width: 119px

        +media($land, $scaling)
          width: size(119, $size-land)

        +media($port, ">=tablet")
          width: size(119, $size-port-tablet)

        +media($port, "<tablet")
          width: size(119, $size-port)

    .auto-compare-body
      transition: all $anim-global ease-out

    .auto-compare-table
      transition: all $anim-global ease-out
      border-spacing: 0
      border-collapse: collapse
      width: 762px
      max-width: none
      table-layout: fixed
      border-bottom: 2px solid rgba(0, 0, 0, .1)
      margin-bottom: 12px

      +media($land, $scaling)
        margin-bottom: size(12, $size-land)
        width: size(762, $size-land)

      +media($port, ">=tablet")
        margin-bottom: size(12, $size-port-tablet)
        width: size(762, $size-port-tablet)

      +media($port, "<tablet")
        margin-bottom: size(12, $size-port)
        width: size(498, $size-port)
        border-bottom-width: 1px

      td
        transition: transform $anim-global ease-out
        vertical-align: top
        position: relative
        padding: 17px 5px
        font-size: 13px
        line-height: 1.23
        border-bottom: 1px solid rgba(0, 0, 0, .1)
        // border-right: 1px solid #0040c5

        +media($land, $scaling)
          font-size: size(13, $size-land)
          transform: none !important

        +media($port, ">=tablet")
          font-size: size(13, $size-port-tablet)

        +media($port, "<tablet")
          font-size: size(13, $size-port)

        &.-middle
          vertical-align: middle

        &::after
          content: ""
          position: absolute
          right: 0
          top: 0
          height: 100%
          width: 1px
          background-color: #0040c5

        &:nth-child(2)
          +media($port, "<tablet")
            &::before
              content: ""
              position: absolute
              left: 0
              top: 0
              height: 100%
              width: 1px
              background-color: #0040c5

        &:first-child
          padding: 13px 5px 15px 0
          width: 33%
          font-size: 16px
          font-weight: bold
          background-color: #fff
          position: relative
          z-index: 1
          border-right: 1px solid #0040c5

          +media($land, $scaling)
            font-size: size(16, $size-land)

          +media($port, ">=tablet")
            font-size: size(16, $size-port-tablet)

          +media($port, "<tablet")
            display: none

          &::after
            display: none
            font-size: size(16, $size-port)
            display: none
</style>
