<template lang="pug">
  #app(:class="{'-transparent': !ready}")
    Header

    Nav

    keep-alive
      router-view

    Footer(v-if="$store.getters.currentArticle === $store.getters.totalArticles")
</template>

<script>
import Header from '../components/Header.vue';
import Nav from '../components/Nav.vue';
import Footer from '../components/Footer.vue';

export default {
  name: 'Layout',
  data() {
    return {
      ready: false,
    };
  },
  methods: {},
  mounted() {
    this.ready = true;

    if (!window.PRERENDER_INJECTED) {
      window.addEventListener('load', () => {
        (document.getElementById('spinner')).classList.add('-hide');

        this.ready = true;
      });
    } else {
      document.querySelector('html')
        .setAttribute('class', '');
    }
  },
  components: {
    Header, Nav, Footer,
  },
};
</script>

<style lang="sass"></style>
